<%#
# $Id: _branches_employee_fields.html.erb 2949 2012-11-09 03:17:44Z ichy $
# Product: hyacc
# Copyright 2009-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<%= fields_for "e[branches_employees_attributes]", be, :index=>index do |be_fields| %>
<tr>
  <td>
    <%= be_fields.hidden_field :employee_id %>
    <%= be_fields.select :branch_id, to_options(@branches) %>
  </td>
  <td><%= be_fields.text_field :cost_ratio, :maxlength=>3 %></td>
  <td align="center"><%= be_fields.check_box :default_branch %></td>
  <td><%= be_fields.check_box :_destroy %></td>
</tr>
<% end %>
