<div class="target_account_info">
  <%# 補助科目が存在する科目の場合は補助科目名を表示する %>
  <% if @account.sub_accounts_all.present? %>
    <%= get_sub_account_title( @account ) %>：
    <b><%= @account.get_sub_account_by_id(@slip.my_sub_account_id).name if @slip.my_sub_account_id.to_i > 0 %></b>
  <% else %>
    &nbsp;
  <% end %>
</div>

<%= form_tag({:action => 'update', :account_code => params[:account_code]}, :id => "slip_edit_form", :enctype => "multipart/form-data", :remote => true) do %>
  <%= render 'message' %>
  <table>
    <tr>
      <th class="yearMonth">年　月</th>
      <th class="day">日</th>
      <th class="remarks">摘　　要</th>
      <th class="accountName">勘定科目</th>
      <th class="subAccountName">補助科目</th>
      <% if branch_mode %><th class="branchName">計上部門</th><% end %>
      <th>増　加</th>
      <th>減　少</th>
    </tr>
    <%= render 'form' %>
  </table>
<% end %>

<% if action_name == 'show' %>
  <script>
    $(document).ready(function() {
      $('#slip_edit_form :input').attr('disabled', true);
    });
  </script>
<% end %>
