<tr>
  <td class="yearMonth">
    <%= hidden_field_tag 'account_code', params[:account_code] %>
    <%= hidden_field 'slip', 'id' %>
    <%= hidden_field 'slip', 'my_sub_account_id' %>
    <%= hidden_field 'slip', 'lock_version' %>
    <%= text_field 'slip', 'ym', :maxlength => 6, :class => 'yearMonthText', :onchange => "updateTaxAmountSimple(this.form);" %>
  </td>
  <td><%= text_field 'slip', 'day', :maxlength => 2, :class => 'dayText' %></td>
  <td><%= render 'form_remarks' %></td>
  <td>
    <%= collection_select_code_and_name("slip", "account_id", @accounts, "id", "name", {:selected=>@slip.account_id, :frequencies=>@frequencies}, {:class=>'accountSelect'}) %>
    <script>
      $(document).ready(function() {
        var form = $('#<%= @slip.new_record? ? 'slip_new_form' : 'slip_edit_form' %>');

        form.find('.accountSelect').change(function() {
          form.removeClass('tax_type_ready');

          $.get('<%= url_for :controller => 'sub_accounts', :format => 'json' %>',
            {order: 'code', account_id: $(this).val()},
            function(data) {
              replace_options(form.find('.subAccountSelect'), data);
            }
          );

          $.get('<%= url_for :action => 'update_tax_type', :account_code => params[:account_code] %>',
            {account_id: $(this).val()},
            function(tax_type) {
              form.find('.taxTypeSelect').val(tax_type);
              updateTaxAmountSimple(form);
              form.addClass('tax_type_ready');
          });

          $.get('<%= url_for :action => 'get_account_details', :account_code => params[:account_code] %>',
            {account_id: $(this).val()},
            function(html) {
              form.find('.account_detail').html(html);
            }
          );
        });
        
        form.submit(function() {
          return validateSlip(this);
        });
      });
    </script>
  </td>
  <td>
    <%= h_sub_account_select 'slip', :style => 'width: 100%;' %>
    <%= hide_if_no_options("##{@slip.new_record? ? 'slip_new_form' : 'slip_edit_form'} .subAccountSelect") %>
  </td>

  <% if branch_mode %>
    <td class="branchName"><%= h_branch_select 'slip', :style => 'width: 100%;' %></td>
  <% end %>
  
  <td class="amount"><%= text_field 'slip', 'amount_increase', {:class=>'amountText', :onchange=>"updateTaxAmountSimple(this.form);"} %></td>
  <td class="amount"><%= text_field 'slip', 'amount_decrease', {:class=>'amountText', :onchange=>"updateTaxAmountSimple(this.form);"} %></td>

  <%# 一覧画面での表示の場合は列数を調整 %>
  <% if ['index', 'create'].include? action_name %>
    <td></td>
    <td colspan="2"></td>
  <% end %>

  <% if ['index', 'create'].include? action_name %>
    <td rowspan="4" colspan="4" valign="middle" align="center">
        <input type="submit" name="commit" value="登録"/>
    </td>
  <% end %>
</tr>
<tr>
  <td rowspan="3" valign="middle" align="center">振替</td>
  <td align="center" style="border-right-style: none;">
      <input type="checkbox" name="slip[auto_journal_type]" 
             value="<%= HyaccConstants::AUTO_JOURNAL_TYPE_PREPAID_EXPENSE %>"
             <%= @slip.auto_journal_type == HyaccConstants::AUTO_JOURNAL_TYPE_PREPAID_EXPENSE ? 'checked' : '' %>
             onclick="checkAutoJournalType(this);" >
  </td>
  <td style="border-left-style: none;">&nbsp;翌月</td>
  <td rowspan="2" colspan="<%= branch_mode ? 2 : 1 %>">
    <%# 勘定科目ごとの入力項目 %>
    <div id="account_detail" class="account_detail" style="valign: middle; margin: 5px;">
      <%= render_account_details @slip.account_id %>
    </div>
  </td>
  <td nowrap align="right">
    <%= select('slip', :tax_type, tax_types, {}, {:class=>'taxTypeSelect', :onchange=>"updateTaxAmountSimple(this.form);"} ) %>
    <%= text_field 'slip', 'tax_rate_percent', {:class=>'taxRatePercentText', :onchange=>"updateTaxAmountSimple(this.form);"} %>
    <span>%</span>
  </td>
  <td class="amount">
    <%= text_field 'slip', 'tax_amount_increase', {:class=>'amountText', :onchange=>"updateTaxAmountSimple(this.form, this.value, null);"} %>
  </td>
  <td class="amount">
    <%= text_field 'slip', 'tax_amount_decrease', {:class=>'amountText', :onchange=>"updateTaxAmountSimple(this.form, null, this.value);"} %>
  </td>
  <%# 一覧画面の表示かどうかで列数を調整 %>
  <% if ['index', 'create'].include? action_name %>
    <td rowspan="2"></td>
    <td rowspan="2" colspan="2"></td>
  <% end %>
</tr>
<tr>
  <td align="center" style="border-right-style: none;">
      <input type="checkbox" name="slip[auto_journal_type]"
             value="<%= HyaccConstants::AUTO_JOURNAL_TYPE_ACCRUED_EXPENSE %>"
             <%= @slip.auto_journal_type == HyaccConstants::AUTO_JOURNAL_TYPE_ACCRUED_EXPENSE ? 'checked' : '' %>
             onclick="checkAutoJournalType(this);" >
  </td>
  <td style="border-left-style: none;">&nbsp;前月</td>
  <td align="right"><b>合計</b></td>
  <td class="amount" style="font-weight:bold;">
    <div class="sum_amount_increase"><%= to_amount(@slip.slip_amount_increase) %></div>
  </td>
  <td class="amount" style="font-weight:bold;">
    <div class="sum_amount_decrease"><%= to_amount(@slip.slip_amount_decrease) %></div>
  </td>
</tr>
<tr>
  <td align="center" style="border-right-style: none;">
      <input type="checkbox" name="slip[auto_journal_type]"
             value="<%= HyaccConstants::AUTO_JOURNAL_TYPE_DATE_INPUT_EXPENSE %>"
             <%= @slip.auto_journal_type == HyaccConstants::AUTO_JOURNAL_TYPE_DATE_INPUT_EXPENSE ? 'checked' : '' %>
             onclick="checkAutoJournalType(this);" >
  </td>
  <td nowrap style="border-left-style: none;">
      &nbsp;<%= text_field 'slip', 'auto_journal_year', :maxlength => 4, :class => 'year' %> 年
      <%= text_field 'slip', 'auto_journal_month', :maxlength => 2, :class => 'month' %> 月
      <%= text_field 'slip', 'auto_journal_day', :maxlength => 2, :class => 'day' %> 日
  </td>

  <%# 一覧画面の表示かどうかで列数を調整 %>
  <td colspan="<%= define_colspan_of_receipt %>">
    <%# 領収書 %>
    <%= render 'form_receipt' %>
  </td>
</tr>
