<td class="yearMonth"><%= slip.ym %></td>
<td class="day"><%= slip.day %></td>
<td class="remarks"><%= slip.remarks %></td>
<td class="accountName"><%= slip.account_code + ":" if slip.account_code != HyaccConstants::ACCOUNT_CODE_VARIOUS %> <%= slip.account_name %></td>
<td class="subAccountName"><%= slip.sub_account_name %></td>
<% if branch_mode %><td class="branchName"><%= slip.branch_name %></td><% end %>
<td class="amountIncrease"><%= to_amount( slip.slip_amount_increase ) %></td>
<td class="amountDecrease"><%= to_amount( slip.slip_amount_decrease ) %></td>
<td class="amountSum"></td>
<td style="text-align: center;">
  <%= "自振" if slip.has_auto_transfers %>
</td>
<td style="text-align: center;">
  <%= link_to "(電子)", {:action=>'download_receipt', :id=>slip.id} if slip.journal_header.receipt_path %>
</td>
<td class="action">
  <%# 編集可能な伝票の場合は簡易登録画面を表示 %>
  <% if slip.editable? %>
    <%= link_to '参照', {:action => :show, :id => slip.id, :account_code => params[:account_code]}, :remote => true %>
  <%# 編集不可能なら振替伝票画面を表示 %>
  <% else %>
    <%= link_to '参照', {:controller => :journal, :action => :show, :id => slip.id}, :remote => true %>
  <% end %>
</td>
<td class="action">
  <%# 編集可能な伝票の場合は簡易登録画面を表示 %>
  <% if slip.editable? %>
    <%= link_to '編集', {:action => :edit, :id => slip.id, :account_code => params[:account_code]}, :remote => true %>
  <%# 編集不可能なら振替伝票画面を表示 %>
  <% else %>
    <%= link_to '編集', {:controller => :journal, :action => :edit, :id => slip.id}, :remote => true %>
  <% end %>
</td>
<td class="action">
  <%= link_to '削除', {:action=>:destroy, :id=>slip.id, :lock_version=>slip.lock_version, :account_code => params[:account_code]}, :confirm=>'削除します。よろしいですか？', :method=>:post %>
</td>
<td class="action">
  <% if slip.editable? %>
    <%= link_to 'ｺﾋﾟｰ', url_for(:action=>'new_from_copy', :id=>slip.id, :account_code => params[:account_code]), :remote=>true %>
  <% end %>
</td>
