<script>
  $(document).ready(function() {
    hyacc.init_datepicker();
    });
</script>

<%= form_for @investment, :remote => true do |f| %>
  <%= flash_notice %>

    <div style="float: left;">
      <table>
        <tr>
          <th><%= f.label :yyyymmdd %></th>
          <td><%= f.text_field :yyyymmdd, :class => 'datepicker' %></td>
        </tr>
        <tr>
          <th><%= f.label :customer_name %></th>
          <td><%= "取引先マスタに投資先が登録されていません。" if @customers.length == 0 %>
              <%= f.select :customer, to_options(@customers) if @customers.length > 0 %></td>
        </tr>
        <tr>
          <th><%= f.label :buying_or_selling %></th>
          <td>購入<%= f.radio_button :buying_or_selling, '1' %>　売却<%= f.radio_button :buying_or_selling, '0' %></td>
        </tr>
        <tr>
          <th><%= f.label :shares %></th>
          <td><%= f.text_field :shares %></td>
        </tr>
        <tr>
          <th><%= f.label :trading_value %></th>
          <td><%= f.text_field :trading_value %></td>
        </tr>
      </table>
    </div>
<% end %>
