<%= render 'common/search' %>

  <table id="investment_container">
    <tr>
      <th>年月</th>
      <th>日</th>
      <th>証券口座</th>
      <th>有価証券</th>
      <th>購入株数</th>
      <th>売却株数</th>
      <th>金額</th>
    </tr>
    <% Array(@investments).each do |inv| %>
    <tr class="hover">
        <td><%= inv.ym %></td>
        <td><%= inv.day %></td>
        <td><%= inv.bank_account.name %></td>
        <td><%= inv.customer.formal_name %></td>
        <td class="amount"><%= to_amount(inv.shares) if inv.shares >= 0 %></td>
        <td class="amount"><%= to_amount(inv.shares * -1) if inv.shares < 0 %></td>
        <td class="amount"><%= to_amount(inv.trading_value) %></td>
    </tr>
    <% end %>
</table>
<%= link_to '追加', new_investment_path, :class => 'add', :remote => true %>
