<%= render 'common/search' %>
<% if @has_not_related %>
<div><%= link_to '関連付けされていない伝票が存在します', not_related_investments_path %></div>
<% end %>
<% if @investments %>
<%= render 'common/message' %>
  <table id="investment_container">
    <tr>
      <th>年月</th>
      <th>日</th>
      <th>証券口座</th>
      <th>有価証券</th>
      <th>購入株数</th>
      <th>売却株数</th>
      <th>金額</th>
      <th />
    </tr>
    <% Array(@investments).each do |inv| %>
    <tr class="hover">
        <td><%= inv.ym %></td>
        <td><%= inv.day %></td>
        <td><%= inv.bank_account.name %></td>
        <td><%= inv.customer.formal_name %></td>
        <td class="amount"><%= to_amount(inv.shares) if inv.buying_or_selling == "1" %></td>
        <td class="amount"><%= to_amount(inv.shares) if inv.buying_or_selling == "0" %></td>
        <td class="amount">
        	<%= '△' + to_amount(inv.trading_value) if inv.buying_or_selling == "0" %>
        	<%= to_amount(inv.trading_value) if inv.buying_or_selling == "1" %>
        </td>
        <td>
          <%= link_to '編集', edit_investment_path(inv), :remote => true %>
          <%= link_to '削除', investment_path(inv),
                data: {confirm: '伝票を削除します。よろしいですか？'}, :method => :delete %>
        </td>
    </tr>
    <% end %>
</table>
<%= link_to '追加', new_investment_path, :class => 'add', :remote => true %>
<% end %>
