<%= form_with model: [:mm, @customer], html: {class: 'customer'} do |f| %>
  <%= flash_notice %>
  <table class="table table-sm">
    <% if @customer.new_record? %>
      <tr>
        <th><%= f.label :code %></th>
        <td><%= f.text_field :code %></td>
      </tr>
      <tr>
        <th><%= f.label :formal_name %></th>
        <td><%= f.text_field :formal_name %></td>
      </tr>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %></td>
      </tr>
    <% else %>
      <tr>
        <th><%= f.label :code %></th>
        <td><%= @customer.code %></td>
      </tr>
      <tr>
        <th><%= f.label :formal_name %></th>
        <td><%= f.nostalgic_text_field :formal_name %></td>
      </tr>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.nostalgic_text_field :name %></td>
      </tr>
    <% end %>

    <tr>
      <th><%= f.label :enterprise_number %></th>
      <td><%= f.text_field :enterprise_number %></td>
    </tr>
    <tr>
      <th><%= f.label :invoice_issuer_number %></th>
      <td><%= f.text_field :invoice_issuer_number %></td>
    </tr>
    <tr>
      <th><%= f.label :address %></th>
      <td><%= f.nostalgic_text_field :address, class: 'address' %></td>
    </tr>
    <tr>
      <th><%= f.label :is_order_entry %></th>
      <td><%= f.select :is_order_entry, status_types %></td>
    </tr>
    <tr>
      <th><%= f.label :is_order_placement %></th>
      <td><%= f.select :is_order_placement, status_types %></td>
    </tr>
    <tr>
      <th><%= f.label :is_investment %></th>
      <td><%= f.select :is_investment, status_types %></td>
    </tr>
    <tr>
      <th>状態</th>
      <td><%= f.select :disabled, DISABLED_TYPES.invert %></td>
    </tr>
  </table>
<% end %>

