<p>
  <b>取引先コード:</b>
  <%= @customer.code %>
</p>

<p>
  <b><%= @customer.class.human_attribute_name :formal_name %>:</b>
  <%= @customer.formal_name %>
</p>

<p>
  <b><%= @customer.class.human_attribute_name :name %>:</b>
  <%= @customer.name %>
</p>

<p>
  <b><%= @customer.class.human_attribute_name :address %>:</b>
  <%= @customer.address %>
</p>

<p>
  <b>受注フラグ:</b>
  <%= HyaccConstants::STATUS_TYPES[ @customer.is_order_entry ] %>
</p>

<p>
  <b>発注フラグ:</b>
  <%= HyaccConstants::STATUS_TYPES[ @customer.is_order_placement ] %>
</p>

<p>
  <b>投資フラグ:</b>
  <%= HyaccConstants::STATUS_TYPES[ @customer.is_investment ] %>
</p>

<p>
  <b>状態:</b>
  <%= HyaccConstants::DELETED_TYPES[ @customer.deleted ] %>
</p>
