<div id="search" class="search">
  <%= form_tag({action: 'index'}, method: 'get', class: 'row') do %>
    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">暦年</div>
        <%= select 'finder', 'calendar_year', calendar_years, {include_blank: true}, class: 'form-select' %>
        <a href='#' onclick='$("#finder_calendar_year").val(""); return false;' class="input-group-text">×</a>
      </div>
    </div>
    
    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">従業員</div>
        <%= collection_select('finder', 'employee_id', finder.employees, 'id', 'fullname', {include_blank: true}, class: 'form-select') %>
        <a href='#' onclick='$("#finder_employee_id").val(""); return false;' class="input-group-text">×</a>
      </div>
    </div>
    
    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">帳票様式</div>
        <%= collection_select 'finder', 'report_type', finder.report_types, 'value', 'name', {}, class: 'form-select' %>
      </div>
    </div>

    <div class="col-auto">
      <%= submit_tag '表示', class: 'btn btn-light' %>
    </div>
  <% end %>
</div>
