<%= fields_for "profile[simple_slip_settings_attributes]", sss, :index => index do |f| %>
  <tr>
    <td><%= f.check_box '_destroy' %></td>
    <td>
        <%= f.hidden_field :id %>
        <%= f.select :account_id, to_options(@accounts) %>
    </td>
    <td><%= f.text_field :shortcut_key, :maxlength => 6 %></td>
  </tr>
<% end %>
