<%= flash_notice %>

<%= form_for @profile do |f| %>
  <div style="margin:0px 5px 5px 0px;">
    <%= f.submit %>
  </div>
  <div>
    <div style="float: left;">
      <table>
        <tr>
          <th><%= f.label :login_id %></th>
          <td>
            <%= @profile.login_id %>
          </td>
        </tr>
        <tr>
          <th><%= f.label :password %></th>
          <td><%= f.password_field :password %></td>
        </tr>

        <%= f.fields_for "employee_attributes", @profile.employee do |f| %>
          <tr>
            <th><%= f.label :last_name %></th>
            <td>
              <%= f.hidden_field :id %>
              <%= f.text_field :last_name %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :first_name %></th>
            <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <th><%= f.label :sex %></th>
            <td><%= f.select :sex, sex_types %></td>
          </tr>
          <tr>
            <th><%= f.label :employment_date %></th>
            <td><%= f.date_select :employment_date %></td>
          </tr>
          <tr>
            <th><%= f.label :zip_code %></th>
            <td><%= f.text_field :zip_code %></td>
          </tr>
          <tr>
            <th><%= f.label :address %></th>
            <td><%= f.text_field :address %></td>
          </tr>
        <% end %>

        <tr>
          <th><%= f.label :email %></th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th><%= f.label :slips_per_page %></th>
          <td><%= f.number_field :slips_per_page, :maxlength => 3 %></td>
        </tr>
        <tr>
          <th><%= f.label :account_count_of_frequencies %></th>
          <td><%= f.number_field :account_count_of_frequencies, :maxlength => 2 %></td>
        </tr>
        <tr>
          <th><%= f.label :show_details, '振替伝票の表示モード' %></th>
          <td>
            <label><%= f.radio_button :show_details, true %> 詳細を表示する</label>
            <label><%= f.radio_button :show_details, false %> 詳細を隠す</label>
          </td>
        </tr>
        <tr>
          <th><%= f.label :google_account, 'Googleアカウント' %></th>
          <td><%= f.text_field :google_account %></td>
        </tr>
        <tr>
          <th><%= f.label :google_password, 'Googleパスワード' %></th>
          <td><%= f.password_field :google_password %></td>
        </tr>
        <tr>
          <th><%= f.label :yahoo_api_app_id, 'YahooAPIアプID' %></th>
          <td><%= f.text_field :yahoo_api_app_id %></td>
        </tr>
      </table>
    </div>
    
    <div style="margin-left: 10px; float: left;">
      <%= render 'simple_slip_settings' %>
    </div>
  </div>
<% end %>