<%= flash_notice %>

<%= form_for @profile do |f| %>
  <div class="my-2">
    <%= f.submit class: 'btn btn-light' %>
  </div>
  <div>
    <div style="float: left;">
      <table class="table">
        <tr>
          <th><%= f.label :login_id %></th>
          <td><%= @profile.login_id %></td>
        </tr>
        <tr>
          <th><%= f.label :password %></th>
          <td><%= f.password_field :password, class: 'form-control' %></td>
        </tr>

        <tr>
          <th><%= f.label :email %></th>
          <td><%= f.text_field :email, class: 'form-control' %></td>
        </tr>
        <tr>
          <th><%= f.label :slips_per_page %></th>
          <td><%= f.number_field :slips_per_page, maxlength: 3, class: 'form-control', style: 'width: 5rem;' %></td>
        </tr>
        <tr>
          <th><%= f.label :account_count_of_frequencies %></th>
          <td><%= f.number_field :account_count_of_frequencies, maxlength: 2, class: 'form-control', style: 'width: 5rem;' %></td>
        </tr>
        <tr>
          <th><%= f.label :show_details, '振替伝票の表示モード' %></th>
          <td>
            <label><%= f.radio_button :show_details, true %> 詳細を表示する</label>
            <label><%= f.radio_button :show_details, false %> 詳細を隠す</label>
          </td>
        </tr>
        <tr>
          <th><%= f.label :google_account, 'Googleアカウント' %></th>
          <td><%= f.text_field :google_account, class: 'form-control' %></td>
        </tr>
      </table>
    </div>
    
    <div class="ml-4" style="float: left;">
      <%= render 'simple_slip_settings' %>
    </div>
  </div>
<% end %>