<%= render 'search' %>
<%= flash_notice %>

<% if @skills.present? %>
  <div class="col-md-8">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th style="width: 70%;"><%= Qualification.human_attribute_name :name %></th>
          <th class="text-center"><%= EmployeeQualification.human_attribute_name :qualified_on %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @skills.each do |s| %>
          <tr>
            <td><%= s.qualification.name %></td>
            <td class="text-center"><%= s.qualified_on || '-' %></td>
            <td class="text-center">
              <% if s.new_record? %>
                <%= link_to '追加', new_mm_skill_path(employee_id: finder.employee_id, qualification_id: s.qualification.id), class: 'btn btn-sm btn-light', remote: true %>
              <% else %>
                <%= link_to '編集', edit_mm_skill_path(s),  class: 'btn btn-sm btn-light', remote: true %>
                <%= link_to '削除', mm_skill_path(s), method: 'delete',  class: 'btn btn-sm btn-light', remote: true %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
