<%#
# $Id: surplus_reserve_and_capital_stock.html.erb 2282 2010-10-06 13:57:34Z ichy $
# Product: hyacc
# Copyright 2010-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<table class="content">
  <tr>
    <td colspan="3" style="border: none;"><b>所得の金額の計算に関する明細書</b></td>
    <td width="70px" style="border-left: none;"></td>
    <td align="center" width="50px">事業<br/>年度</td>
    <td align="center"></td>
    <td align="center" width="50px">法人名</td>
    <td colspan="2" align="center"><b><%= @model.company_name %></b></td>
  </tr>
  <tr align="center">
    <td rowspan="3" colspan="3">区分</td>
    <td rowspan="2" colspan="2">総額</td>
    <td colspan="4">処分</td>
  </tr>
  <tr align="center">
    <td>留保</td>
    <td colspan="2">社外流出</td>
  </tr>
  <tr align="center">
    <td colspan="2" width="120px">①</td>
    <td width="120px">②</td>
    <td colspan="3" width="120px">③</td>
  </tr>
	<tr>
		<td rowspan="2" colspan="2">当期利益又は当期欠損の額</td>
		<td rowspan="2">1</td>
		<td rowspan="2" colspan="2" align="right"><%= to_amount(@model.pretax_profit_amount) %></td>
    <td rowspan="2"></td>
    <td>配当</td>
    <td colspan="2"></td>
	</tr>
	<tr>
    <td>その他</td>
    <td colspan="2"></td>
	</tr>
  <tr>
		<td rowspan="10">加算</td>
    <td>損金の額に算入した法人税(附帯税を除く｡)</td>
    <td>2</td>
    <td colspan="2"></td>
    <td></td>
    <td style="background-color: lightgrey"></td>
    <td style="background-color: lightgrey"></td>
  </tr>
  <tr>
    <td>損金の額に算入した道府県民税<br/>( 利子割額を除く｡) 及び市町村民税</td>
    <td>3</td>
    <td colspan="2"></td>
    <td></td>
    <td style="background-color: lightgrey"></td>
    <td style="background-color: lightgrey"></td>
  </tr>
  <tr>
    <td>損金の額に算入した道府県民税利子割額</td>
    <td>4</td>
    <td colspan="2"></td>
    <td></td>
    <td style="background-color: lightgrey"></td>
    <td style="background-color: lightgrey"></td>
  </tr>
  <tr>
    <td>損金の額に算入した納税充当金</td>
    <td>5</td>
    <td colspan="2"></td>
    <td></td>
    <td style="background-color: lightgrey"></td>
    <td style="background-color: lightgrey"></td>
  </tr>
  <tr>
    <td>損金の額に算入した附帯税(利子税を除く｡) ､<br/>加算金､延滞金( 延納分を除く｡) 及び過怠税</td>
    <td>6</td>
    <td colspan="2"></td>
    <td style="background-color: lightgrey"></td>
    <td>その他</td>
    <td></td>
  </tr>
  <tr>
    <td>減 価 償 却 の 償 却 超 過 額</td>
    <td>7</td>
    <td colspan="2"></td>
    <td></td>
    <td style="background-color: lightgrey"></td>
    <td style="background-color: lightgrey"></td>
  </tr>
  <tr>
    <td>役員給与の損金不算入額</td>
    <td>8</td>
    <td colspan="2"></td>
    <td style="background-color: lightgrey"></td>
    <td>その他</td>
    <td></td>
  </tr>
  <tr>
    <td>交 際 費 等 の 損 金 不 算 入 額</td>
    <td>9</td>
    <td colspan="2" align="right"><%= to_amount(@model.nondiductible_social_expense_amount) %></td>
    <td style="background-color: lightgrey"></td>
    <td>その他</td>
    <td align="right"><%= to_amount(@model.nondiductible_social_expense_amount) %></td>
  </tr>
  <tr>
    <td></td>
    <td>10</td>
    <td colspan="2"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td align="center">小　　　　　　　計　　　</td>
    <td>11</td>
    <td colspan="2" align="right"><%= to_amount(@model.increase_amount) %></td>
    <td></td>
    <td></td>
    <td align="right"><%= to_amount(@model.increase_amount) %></td>
  </tr>
  <tr>
    <td rowspan="10">減算</td>
    <td>減価償却超過額の当期認容額</td>
    <td>12</td>
    <td colspan="2"></td>
    <td></td>
    <td style="background-color: lightgrey"></td>
    <td style="background-color: lightgrey"></td>
  </tr>
    <tr>
        <td>納税充当金から支出した事業税等の金額</td>
        <td>13</td>
        <td colspan="2"></td>
        <td></td>
        <td style="background-color: lightgrey"></td>
        <td style="background-color: lightgrey"></td>
    </tr>
    <tr>
        <td>受取配当等の益金不算入額<br/>(別表八(一)｢12｣又は｢24｣)</td>
        <td>14</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>※</td>
        <td></td>
    </tr>
    <tr>
        <td>外国子会社から受ける剰余金の配当等の益金不算入額<br/>(別表八(二)｢13｣)</td>
        <td>15</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>※</td>
        <td></td>
    </tr>
    <tr>
        <td>法人税等の中間納付額及び過誤納に係る還付金額</td>
        <td>16</td>
        <td colspan="2"></td>
        <td></td>
        <td style="background-color: lightgrey"></td>
        <td style="background-color: lightgrey"></td>
    </tr>
    <tr>
        <td>所得税額等及び欠損金の繰戻しによる還付金額等</td>
        <td>17</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>※</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>18</td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>19</td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>20</td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td align="center">小　　　　　　　計　　　</td>
        <td>21</td>
        <td colspan="2" align="right"><%= to_amount(@model.decrease_amount) %></td>
        <td align="right"><%= to_amount(@model.decrease_amount) %></td>
        <td>外※</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2" align="center">仮　　　　　　　　　計<br/>(1)＋(11)－(21)</td>
        <td>22</td>
        <td colspan="2" align="right"><%= to_amount(@model.provisional_total_amount) %></td>
        <td align="right"><%= to_amount(@model.decrease_amount) %></td>
        <td>外※</td>
        <td align="right"><%= to_amount(@model.increase_amount) %></td>
    </tr>
    <tr>
        <td colspan="2">寄附金の損金不算入額<br/>(別表十四( 二) ｢2 4 ｣又は｢4 0 ｣)</td>
        <td>23</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>その他</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">沖縄の認定法人の所得の特別控除額<br/>（別表十( 一) ｢9 ｣又は｢1 2 ｣)</td>
        <td>24</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>※</td>
        <td>△</td>
    </tr>
    <tr>
        <td colspan="2">法人税額から控除される所得税額<br/>( 別表六 ( 一) ｢6 の③ ｣)</td>
        <td>25</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>その他</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">税額控除の対象となる外国法人税の額等<br/>(別表六(二の二)｢10｣－別表十七(二の二)｢39の計｣)</td>
        <td>26</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>その他</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">組合等損失額の損金不算入額又は組合等損失超過合計額の損金算入額<br/>(別表九(四) ｢1 0 ｣)</td>
        <td>27</td>
        <td colspan="2"></td>
        <td></td>
        <td style="background-color: lightgrey"></td>
        <td style="background-color: lightgrey"></td>
    </tr>
    <tr>
        <td colspan="2" align="center">合　　　　　　　　　計<br/>((22)から( 2 7 )までの計)</td>
        <td>28</td>
        <td colspan="2" align="right"><%= to_amount(@model.total_amount) %></td>
        <td></td>
        <td>外※</td>
        <td align="right"><%= to_amount(@model.increase_amount) %></td>
    </tr>
    <tr>
        <td colspan="2">新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額<br/>( 別表十( 二) ｢4 2 ｣)</td>
        <td>29</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>※</td>
        <td>△</td>
    </tr>
    <tr>
        <td colspan="2">対外船舶運航事業者の日本船舶による収入金額に係る所得の金額の<br/>◎　損金算入額又は　○　益金算入額<br/>(別表十(三)｢19｣、｢20｣又は｢22｣)</td>
        <td>30</td>
        <td colspan="2"></td>
        <td></td>
        <td style="background-color: lightgrey"></td>
        <td style="background-color: lightgrey"></td>
    </tr>
    <tr>
        <td colspan="2" align="center">総　　　　　　　　　計<br/>((28)＋(29)－(30))又は((28)＋(29)＋(30))</td>
        <td>31</td>
        <td colspan="2" align="right"><%= to_amount(@model.grand_total_amount) %></td>
        <td></td>
        <td>外※</td>
        <td align="right"><%= to_amount(@model.increase_amount) %></td>
    </tr>
    <tr>
        <td colspan="2">契約者配当の益金算入額<br/>( 別表九( 一) ｢1 3 ｣)</td>
        <td>32</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>※</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">商工組合等の留保所得の特別控除額<br/>( 別表十( 四) ｢4 7 ｣)</td>
        <td>33</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>※</td>
        <td>△</td>
    </tr>
    <tr>
        <td colspan="2">商工組合等の社外流出による益金算入額<br/>( 別表十( 五) ｢3 8 ｣)</td>
        <td>34</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>※</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">特定目的会社等の支払配当又は特定目的信託に係る<br/>受託法人の利益の分配等の損金算入額<br/>(別表十(八)｢13｣若しくは｢33｣又は別表十(九) ｢8 ｣若しくは｢2 3 ｣)</td>
        <td>35</td>
        <td colspan="2"></td>
        <td></td>
        <td style="background-color: lightgrey"></td>
        <td style="background-color: lightgrey"></td>
    </tr>
    <tr>
        <td colspan="2">非適格合併又は非適格分割型分割による移転<br/>資産等の譲渡利益額又は譲渡損失額</td>
        <td>36</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>※</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2" align="center">差　　　　引　　　　計<br/>((31)から(36)までの計)</td>
        <td>37</td>
        <td colspan="2" align="right"><%= to_amount(@model.balance_amount) %></td>
        <td></td>
        <td>外※</td>
        <td align="right"><%= to_amount(@model.increase_amount) %></td>
    </tr>
    <tr>
        <td colspan="2">欠損金又は災害損失金等の当期控除額<br/>(別表七(一)｢2の計｣+(別表七(二)｢11｣、｢22｣又は｢31｣))</td>
        <td>38</td>
        <td colspan="2"></td>
        <td style="background-color: lightgrey"></td>
        <td>※</td>
        <td>△</td>
    </tr>
    <tr>
        <td colspan="2">所得金額又は欠損金額</td>
        <td>39</td>
        <td colspan="2" align="right"><%= to_amount(@model.income_amount) %></td>
        <td></td>
        <td>外※</td>
        <td align="right"><%= to_amount(@model.increase_amount) %></td>
    </tr>
</table>

<div style="margin: 10px;">
	｢39｣の｢①｣欄の金額は、｢②｣欄の金額に｢③｣欄の本書の金額を加算し、これから｢※｣の金額を加減算した額と符合することになりますから留意してください。
</div>