<table class="content">
  <tr>
    <td rowspan="2" colspan="3" align="center" width="310"><b>交際費等の損金算入に関する明細書</b></td>
    <td rowspan="2" colspan="2" 	align="center" width="60">事業<br/>年度</td>
    <td width="130"><%= format_wareki_year_month_day(@finder.start_year_month_day_of_fiscal_year) %></td>
    <td rowspan="2" align="center" width="60">法人名</td>
    <td rowspan="2" colspan="2" width="180"><%= current_company.name %></td>
  </tr>
  <tr>
    <td width="130"><%= format_wareki_year_month_day(@finder.end_year_month_day_of_fiscal_year) %></td>
  </tr>
  <tr>
    <td width="220">支出交際費等の額<br/>（7の計）</td>
    <td align="center" width="20">1</td>
    <td colspan="3" align="right">
      <%= to_amount( @model.get_total_social_expense_amount, :show_zero=>true ) %>
    </td>
    <td colspan="2">損金不算入限度額<br/>（(1)又は(2)のうち少ない金額）</td>
    <td align="center" width="20">3</td>
    <td align="right">
      <%= to_amount(non_deduction_limit_for_2013(@model.get_total_social_expense_amount,
                                                 @model.get_business_months), :show_zero=>true ) %>
    </td>
  </tr>
  <tr>
    <td width="220">
      定額控除限度額
      <br/>
      （800万円 × <%= @model.get_business_months %> / 12)
    </td>
    <td align="center" width="20">2</td>
    <td colspan="3" align="right"><%= to_amount((8000000 * @model.get_business_months / 12), :show_zero => true) %></td>
    <td colspan="2">損金不算入額<br/>(1) － (3)</td>
    <td align="center">4</td>
    <td align="right"><%= to_amount(non_deduction_for_2013(@model.get_total_social_expense_amount,
                                                           @model.get_business_months), :show_zero=>true ) %></td>
  </tr>
  <tr>
    <td colspan="9" align="center"><b>支　出　交　際　費　等　の　額　の　明　細</b></td>
  </tr>
  <tr>
    <td rowspan="2">科目</td>
    <td colspan="4" align="center">支出額</td>
    <td colspan="2" align="center">交際費等の額から<br/>控除される費用の額</td>
    <td colspan="2" align="center">差引交際費等の額</td>
  </tr>
  <tr>
    <td colspan="4" align="center">5</td>
    <td colspan="2" align="center">6</td>
    <td colspan="2" align="center">7</td>
  </tr>

  <% for detail in @model.details %>
  <tr>
    <td><%= detail.account.name if detail.account %></td>
    <td colspan="4" align="right"><%= to_amount( detail.amount )  %></td>
    <td colspan="2" align="right"><%= to_amount( detail.deduction_amount ) %></td>
    <td colspan="2" align="right"><%= to_amount( detail.social_expense_amount ) %></td>
  </tr>
  <% end %>

  <tr>
    <td>計</td>
    <td colspan="3" align="right"><%= to_amount( @model.get_total_amount, :show_zero=>true ) %></td>
    <td colspan="2" align="right"><%= to_amount( @model.get_total_deduction_amount, :show_zero=>true ) %></td>
    <td colspan="2" align="right"><%= to_amount( @model.get_total_social_expense_amount, :show_zero=>true ) %></td>
  </tr>
</table>