<table class="table table-bordered table-hover">
    <tr>
        <td colspan="7"><b>租税公課の納付状況等に関する明細書</b></td>
        <td align="center">事業<br/>年度</td>
        <td colspan="3" align="center"></td>
        <td align="center">法人名</td>
        <td colspan="2" align="center"><b><%= @model.company_name %></b></td>
    </tr>
    <tr>
        <td rowspan="3" colspan="4" align="center">税目及び事業年度</td>
        <td rowspan="2" width="120px" align="center">期首現在<br/>未納税額</td>
        <td rowspan="2" width="120px" align="center">当期発生税額</td>
        <td colspan="7" align="center">当期中の納付税額</td>
        <td rowspan="2" width="120px" align="center">期末現在<br/>未納税額<br/>①＋②－③－④－⑤</td>
    </tr>
    <tr>
        <td colspan="3" width="120px" align="center">充当金取崩し<br/>による納付</td>
        <td colspan="2" width="120px" align="center">仮払経理に<br/>よる納付</td>
        <td colspan="2" width="120px" align="center">損金経理に<br/>よる納付</td>
    </tr>
    <tr>
        <td align="center">①</td>
        <td align="center">②</td>
        <td colspan="3" align="center">③</td>
        <td colspan="2" align="center">④</td>
        <td colspan="2" align="center">⑤</td>
        <td align="center">⑥</td>
    </tr>
    <tr>
        <td rowspan="5" width="20px" align="center">法人税</td>
        <td colspan="2">平成　・　・<br/>平成　・　・</td>
        <td width="20" align="center">1</td>
        <td align="right"><%= to_amount(@model.corporate_tax_payable_at_start_first) %></td>
        <td style="background-color: lightgrey"></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">平成　・　・<br/>平成　・　・</td>
        <td align="center">2</td>
        <td align="right"><%= to_amount(@model.corporate_tax_payable_at_start_second) %></td>
        <td style="background-color: lightgrey"></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td width="40" rowspan="2">当期分</td>
        <td width="100" align="center">中間</td>
        <td align="center">3</td>
        <td style="background-color: lightgrey"></td>
        <td align="right"><%= to_amount(@model.corporate_tax_at_half) %></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center">確定</td>
        <td align="center">4</td>
        <td style="background-color: lightgrey"></td>
        <td align="right"><%= to_amount(@model.corporate_tax_at_full) %></td>
        <td colspan="3" style="background-color: lightgrey"></td>
        <td colspan="2" style="background-color: lightgrey"></td>
        <td colspan="2" style="background-color: lightgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2" align="center">計</td>
        <td align="center">5</td>
        <td align="right"><%= to_amount(@model.corporate_tax_payable_at_start_total) %></td>
        <td align="right"><%= to_amount(@model.corporate_tax_at_total) %></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="14"></td>
    </tr>
    <tr>
        <td rowspan="6" width="20px" align="center">道府県民税</td>
        <td colspan="2">平成　・　・<br/>平成　・　・</td>
        <td width="20" align="center">6</td>
        <td align="right"><%= to_amount(@model.prefectural_tax_payable_at_start_first) %></td>
        <td style="background-color: lightgrey"></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">平成　・　・<br/>平成　・　・</td>
        <td align="center">7</td>
        <td align="right"><%= to_amount(@model.prefectural_tax_payable_at_start_second) %></td>
        <td style="background-color: lightgrey"></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td width="40" rowspan="3">当期分</td>
        <td width="80" align="center">利子割</td>
        <td align="center">8</td>
        <td style="background-color: lightgrey"></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center">中間</td>
        <td align="center">9</td>
        <td style="background-color: lightgrey"></td>
        <td align="right"><%= to_amount(@model.prefectural_tax_at_half) %></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center">確定</td>
        <td align="center">10</td>
        <td style="background-color: lightgrey"></td>
        <td align="right"><%= to_amount(@model.prefectural_tax_at_full) %></td>
        <td colspan="3" style="background-color: lightgrey"></td>
        <td colspan="2" style="background-color: lightgrey"></td>
        <td colspan="2" style="background-color: lightgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2" align="center">計</td>
        <td align="center">11</td>
        <td align="right"><%= to_amount(@model.prefectural_tax_payable_at_start_total) %></td>
        <td align="right"><%= to_amount(@model.prefectural_tax_at_total) %></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="14"></td>
    </tr>
    <tr>
        <td rowspan="5" width="20px" align="center">市町村民税</td>
        <td colspan="2">平成　・　・<br/>平成　・　・</td>
        <td width="20" align="center">12</td>
        <td align="right"><%= to_amount(@model.municipal_inhabitants_tax_payable_at_start_first) %></td>
        <td style="background-color: lightgrey"></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">平成　・　・<br/>平成　・　・</td>
        <td align="center">13</td>
        <td align="right"><%= to_amount(@model.municipal_inhabitants_tax_payable_at_start_second) %></td>
        <td style="background-color: lightgrey"></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td width="40" rowspan="2">当期分</td>
        <td width="80" align="center">中間</td>
        <td align="center">14</td>
        <td style="background-color: lightgrey"></td>
        <td align="right"><%= to_amount(@model.municipal_inhabitants_tax_at_half) %></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center">確定</td>
        <td align="center">15</td>
        <td style="background-color: lightgrey"></td>
        <td align="right"><%= to_amount(@model.municipal_inhabitants_tax_at_full) %></td>
        <td colspan="3" style="background-color: lightgrey"></td>
        <td colspan="2" style="background-color: lightgrey"></td>
        <td colspan="2" style="background-color: lightgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2" align="center">計</td>
        <td align="center">16</td>
        <td align="right"><%= to_amount(@model.municipal_inhabitants_tax_payable_at_start_total) %></td>
        <td align="right"><%= to_amount(@model.municipal_inhabitants_tax_at_total) %></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="14"></td>
    </tr>
    <tr>
        <td rowspan="4" width="20px" align="center">事業税</td>
        <td colspan="2">平成　・　・<br/>平成　・　・</td>
        <td width="20" align="center">17</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">平成　・　・<br/>平成　・　・</td>
        <td align="center">18</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2" align="center">当期中間分</td>
        <td align="center">19</td>
        <td style="background-color: lightgrey"></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2" align="center">計</td>
        <td align="center">20</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="14"></td>
    </tr>
    <tr>
        <td rowspan="10" width="20px" align="center">その他</td>
        <td rowspan="4">損金算入のもの</td>
        <td align="center">利子税</td>
        <td align="center">21</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center">延滞金<br/>(延納に係るもの)</td>
        <td align="center">22</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center"></td>
        <td align="center">23</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center"></td>
        <td align="center">24</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td rowspan="6">損金不算入のもの</td>
        <td align="center">加算税及び加算金</td>
        <td align="center">25</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center">延滞税</td>
        <td align="center">26</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center">延滞金<br/>(延納分を除く。)</td>
        <td align="center">27</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center">過怠税</td>
        <td align="center">28</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center"></td>
        <td align="center">29</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr>
        <td align="center"></td>
        <td align="center">30</td>
        <td></td>
        <td></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
</table>
<table class="content">
    <tr>
        <td colspan="9" align="center"><b>納　　税　　充　　当　　金　　の　　計　　算</b></td>
    </tr>
    <tr>
        <td colspan="2" align="center">期首納税充当金</td>
        <td width="20px" align="center">31</td>
        <td width="120px"></td>
        <td rowspan="5" width="20px" align="center">取崩額</td>
        <td rowspan="4" width="20px" align="center">その他</td>
        <td width="240px">損金算入のもの</td>
        <td width="20px" align="center">37</td>
        <td width="120px"></td>
    </tr>
    <tr>
        <td rowspan="3" width="20px" align="center">繰入額</td>
        <td width="240px" align="center">損金の額に算入した納税充当金</td>
        <td width="20px" align="center">32</td>
        <td></td>
        <td>損金不算入のもの</td>
        <td width="20px" align="center">38</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td width="20px" align="center">33</td>
        <td></td>
        <td></td>
        <td width="20px" align="center">39</td>
        <td></td>
    </tr>
    <tr>
        <td align="center">計<br/>(32)+(33)</td>
        <td width="20px" align="center">34</td>
        <td></td>
        <td>仮払税金消却</td>
        <td width="20px" align="center">40</td>
        <td></td>
    </tr>
    <tr>
        <td rowspan="2" width="20px" align="center">取崩額</td>
        <td align="center">法人税額等<br/>(5の③)＋(11の③)＋(16の③)</td>
        <td align="center">35</td>
        <td></td>
        <td colspan="2" align="center">計<br/>(35)＋(36)＋(37)＋(38)＋(39)＋(40)</td>
        <td align="center">41</td>
        <td></td>
    </tr>
    <tr>
        <td align="center">事業税<br/>（20の③）</td>
        <td align="center">36</td>
        <td></td>
        <td colspan="3" align="center">期末納税充当金<br/>(31)＋(34)－(41)</td>
        <td align="center">42</td>
        <td></td>
    </tr>
</table>
