<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Hyacc <%= HYACC_VERSION %> ログイン</title>
</head>
<body onLoad="document.getElementById('user_login_id').focus();">
  <div style="margin: 10px">
    <p>Hyacc <%= HYACC_VERSION %> [<%= Rails.env %>]</p>
    
    <%= form_for @user, :url => {:controlller => 'sessions', :action =>'create'} do |f| %>
      <p><%= f.label :login_id %><br/>
      <%= f.text_field :login_id %></p>
    
      <p><%= f.label :password %><br/>
      <%= f.password_field :password %></p>
    
      <%= f.submit "ログイン" %>
    <% end %>
  </div>
</body>
</html>
