<table>
  <tr>
    <th>氏名</th>
    <th>所属部門</th>
    <th>業務経歴</th>
    <th>状態</th>
    <th></th>
  </tr>

  <% @employees.each do |e| %>
    <tr>
      <td><%= e.fullname %></td>
      <td><%= e.default_branch_name %></td>
      <td align="right"><%= e.years_of_career %>年</td>
      <td><%= e.disabled_name %></td>
      <td><a href="<%= url_for :action=>:show, :id=>e %>">参照</a></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @employees %>
