<%= render 'search' %>
<%= flash_notice %>

<table class="table table-hover">
  <tr>
    <th>氏名</th>
    <th>所属部門</th>
    <th class="text-center">業務経歴</th>
    <th class="text-center">状態</th>
    <th></th>
  </tr>

  <% @employees.each do |e| %>
    <tr>
      <td><%= e.fullname %></td>
      <td><%= e.default_branch_name %></td>
      <td class="text-center"><%= e.years_of_career %>年</td>
      <td class="text-center"><%= e.disabled_name %></td>
      <td class="text-center"><%= link_to '参照', {action: 'show', id: e}, class: 'btn btn-sm btn-light' %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @employees %>
