<div id="data_<%= @data.id %>">
  <%= form_for(@data, :remote => true) do |f| %>
    <div class="div_td_yyyy">
      <%= f.text_field :ym, :maxlength=>6, :size=>6 %>
    </div>
    <div class="div_td_user">
      <%= f.select :employee_id, to_options(Employee.find(:all)) %>
    </div>
    <div class="div_td_money">
      <%= f.text_field :amount, :maxlength=>8, :size=>6 %>
    </div>
    <div class="div_td_link">
      <%= f.submit %>
      <span style="font-size: 9px;">
        <%= link_to 'キャンセル', @data, :remote=>true %>
      </span>
    </div>
    <br clear="all" />
  <% end %>
</div>
