<%#
# $Id: _line.html.erb 3180 2014-01-18 03:53:23Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<div id="data_<%= data.id %>">
  <div class="div_td_yyyy"><%= data.ym %></div>
  <div class="div_td_user"><%= data.employee.full_name %></div>
  <div class="div_td_money"><%= to_amount(data.amount) %></div>
  <div class="div_td_link">
    <%= link_to '編集', edit_inhabitant_tax_path(data), :remote => true %>
    <%= link_to '削除', inhabitant_tax_path(data), :confirm => '削除しますか?', :method => :delete %>
  </div>
  <br clear="all" />
</div>
