<%#
# $Id: _form.html.erb 3314 2014-01-28 04:06:06Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<script>
  jQuery(document).ready(function() {
    jQuery('#payroll_base_salary').focus();
  });
</script>

<table width="400">
  <tr>
    <td width="120">年月</td>
    <td>
      <%= hidden_field 'payroll', 'employee_id' %>
      <%= text_field 'payroll', 'ym', :maxlength=>6, :readonly=>true, :style=>'background-color: lightgrey;' %>
    </td>
  </tr>
  <tr>
    <td>労働日数</td>
    <td><%= text_field 'payroll', 'days_of_work', :maxlength=>2 %></td>
  </tr>
  <tr>
    <td>労働時間</td>
    <td><%= text_field 'payroll', 'hours_of_work', :maxlength=>5 %></td>
  </tr>
  <tr>
    <td>休日労働時間数</td>
    <td><%= text_field 'payroll', 'hours_of_day_off_work', :maxlength=>5 %></td>
  </tr>
  <tr>
    <td>早出残業時間数</td>
    <td><%= text_field 'payroll', 'hours_of_early_for_work', :maxlength=>5 %></td>
  </tr>
  <tr>
    <td>深夜労働時間数</td>
    <td><%= text_field 'payroll', 'hours_of_late_night_work', :maxlength=>5 %></td>
  </tr>
  <tr>
    <td>基本給</td>
    <td>
      <%= text_field 'payroll', 'base_salary', :maxlength=>10 %>
      <% if ['new', 'create'].include? controller.action_name %>
        <script>
          jQuery(document).ready(function() {
            jQuery('#payroll_base_salary').blur(function() {
              jQuery.get('<%= url_for :action => 'auto_calc', :format => 'html' %>',
                  jQuery('#payroll_form').serialize(),
                  function(html) {
                    jQuery('#auto_calc').html(html);
                    jQuery('#payroll_submit').attr('disabled', false);
                  }
              );
            });
          });
        </script>
      <% end %>
    </td>
  </tr>
</table>
<table id="auto_calc" width="400">
  <%= render 'auto_calc' %>
</tabel>
<table width="400">
  <tr>
    <td width="120">住民税</td>
    <td>
      <%= text_field 'payroll', 'inhabitant_tax', :maxlength=>10 %>
      <%= radio_button 'payroll', 'credit_account_type_of_inhabitant_tax', '0' %>預り金
      <%= radio_button 'payroll', 'credit_account_type_of_inhabitant_tax', '1' %>立替金
    </td>
  </tr>
  <tr>
    <td>従業員への未払費用</td>
    <td><%= text_field 'payroll', 'accrued_liability', :maxlength=>10 %></td>
  </tr>
  <% if @payroll.ym.to_s.slice(4,2) == "12" %>
  <tr>
    <td>年末調整額（過払分）</td>
    <td><%= text_field 'payroll', 'year_end_adjustment_liability', :maxlength=>10 %></td>
  </tr>
  <% end %>
  <tr>
    <td>給与支払日</td>
    <td><%= text_field 'payroll', 'pay_day', :maxlength=>8 %></td>
  </tr>
</table>
