<%#
# $Id: _search.html.erb 3066 2013-06-21 03:20:28Z ichy $
# Product: hyacc
# Copyright 2009-2013 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<script>
  jQuery(document).ready(function() {
    jQuery('#finder_branch_id').change(function() {
      var url = '<%= url_for :action=>'get_branches_employees' %>';
      jQuery.get(url, {branch_id: jQuery(this).val(), format: 'html'}, function(html) {
        jQuery('#branches_employees').html(html);
      });
    }).change();
  });
</script>
<div id="search" style="margin: 15px;">
  <%= form_tag( {:action=>action_name }, {:method=>"get"} ) do %>
    年度：<%= select('finder', 'fiscal_year', @ym_list ) %>

    <% if branch_mode %>
      部門：<%= collection_select('finder', 'branch_id', @branches, 'id', 'name') %>
    <% end %>

    <span id="branches_employees"></span>
    <%= submit_tag "表示" %>
  <% end %>
</div>
