<div><strong>役員給与等の内訳書</strong></div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th colspan="11" class="align-middle"><%= justify('　役員給与等の内訳　') %></th>
    </tr>
    <tr>
      <th rowspan="2" style="width: 6%"><%= justify('役職名') %></th>
      <th rowspan="2"><%= justify('氏名') %></th>
      <th rowspan="2" class="text-center" style="width: 5%">代表者と<br>の関係　</th>
      <th rowspan="3" class="text-center" style="width: 5%">常勤・<br>非常勤<br>の別　</th>
      <th rowspan="3" class="text-center" style="width: 8%">役員　<br>給与計</th>
      <th colspan="5"><%= justify('　　左の内訳　　') %></th>
      <th rowspan="3" style="width: 8%">退職給与</th>
    </tr>
    <tr>
      <th rowspan="2" class="text-center" style="width: 8%">使用人<br>職務分</th>
      <th colspan="4"><%= justify('　使用人職務分以外　') %></th>
    </tr>
    <tr>
      <th><%= justify('担当業務') %></th>
      <th colspan="2"><%= justify('住所') %></th>
      <th class="text-center" style="width: 8%">定期同額<br>給　　与</th>
      <th class="text-center" style="width: 8%">事前確定<br>届出給与</th>
      <th class="text-center" style="width: 8%">業績連動<br>給　　与</th>
      <th class="text-center" style="width: 8%">その他</th>
    </tr>
  </thead>
  <tbody>
    <% @model.sorted_details.each_with_index do |d, i| %>
      <tr>
        <% if i == 0 %>
          <td>（代表者）<br><strong><%= d.position %></strong></td>
        <% else %>
          <td><strong><%= d.position %></strong></td>
        <% end %>
        <td><strong><%= d.employee_name %></strong></td>
        <td><strong><%= d.relationship %></strong></td>
        <% if d.full_time? %>
          <td rowspan="2" class="text-center">● 常<br>・<br>○ 非</td>
        <% elsif not d.full_time.nil? %>
          <td rowspan="2" class="text-center">○ 常<br>・<br>● 非</td>
        <% else %>
          <td rowspan="2" class="text-center">○ 常<br>・<br>○ 非</td>
        <% end %>
        <td rowspan="2" class="text-end"><%= to_amount(d.salary_amount) %></td>
        <td rowspan="2"></td>
        <td rowspan="2" class="text-end"><%= to_amount(d.fixed_regular_salary_amount) %></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2"></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>計</th>
      <td colspan="2" class="bg-light"></td>
      <td class="bg-light"></td>
      <td class="text-end"><%= to_amount(@model.total_executive_salary_amount, show_zero: true) %></td>
      <td></td>
      <td class="text-end"><%= to_amount(@model.total_executive_fixed_regular_salary_amount, show_zero: true) %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th colspan="4" class="align-middle"><%= justify('　人件費の内訳　') %></th>
    </tr>
    <tr>
      <th colspan="2" style="width: 40%"><%= justify('　区　分　') %></th>
      <th style="width: 30%"><%= justify('　総　額　') %></th>
      <th style="width: 30%"><%= justify('総額のうち代表者及びその家族分') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2"><%= justify('　役　員　給　与　') %></th>
      <td class="text-end px-4"><%= to_amount(@model.total_executive_salary_amount, show_zero: true) %></td>
      <td class="text-end px-4"><%= to_amount(@model.sorted_details.first&.salary_amount, show_zero: true) %></td>
    </tr>
    <tr>
      <th><%= justify('　従業員　') %></th>
      <th><%= justify('　給与手当　') %></th>
      <td class="text-end px-4"><%= to_amount(@model.total_employee_salary_amount, show_zero: true) %></td>
      <td class="text-end"></td>
    </tr>
    <tr>
      <th><%= justify('　従業員　') %></th>
      <th><%= justify('　賃金手当　') %></th>
      <td class="text-end"></td>
      <td class="text-end"></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2" class="text-center">計</th>
      <td class="text-end px-4"><%= to_amount(@model.taotal_salary_amount, show_zero: true) %></td>
      <td class="text-end px-4"><%= to_amount(@model.sorted_details.first&.salary_amount, show_zero: true) %></td>
    </tr>
  </tfoot>
</table>
