<script>
  var initialized = false;

  $(document).ready(function() {
    $('#finder_account_id').change(function() {
      hide_sub_accounts();

      $.get('<%= url_for :controller => 'sub_accounts', :format => 'json' %>',
        {order: 'code', account_id: $(this).val()},
        function(data) {
          reload_sub_accounts(data);

          // 初回は入力頻度からデフォルトの補助科目を選択しておく
          if (! initialized) {
            $('#finder_sub_account_id').val(<%= @frequency ? @frequency.input_value2 : '' %>);
            initialized = true;
          }
        }
      );
    }).change();

    $('#debts_display_flag').click(function() {
      var checked = $(this).prop('checked');

      $('tr[id^="debts_"]').each(function() {
        if ($(this).find('div[id^="status_"] a').text() == '精算済み') {
          if (checked) {
            $(this).show();
          } else {
            $(this).hide();
          }
        }
      });
    }).prop('checked', true).click(); // チェックを入れた状態からクリックイベント実行＝＞初期表示は非表示に
  });

  function hide_sub_accounts() {
    var sub_account = $('#finder_sub_account_id');
    var sub_account_label = $('#finder_sub_account_id_title');
    sub_account.hide();
    sub_account_label.hide();
  }

  function reload_sub_accounts(json) {
    replace_options('#finder_sub_account_id', json, true);
    var sub_account = $('#finder_sub_account_id');
    var sub_account_label = $('#finder_sub_account_id_title'); 
    sub_account_label.css('display', sub_account.css('display'));
  }

  // 選択された精算科目の確認
  function confirm_current_account(){
    var account_name = $('#finder_account_id option:selected').text();
    var sub_account_name = $('#finder_sub_account_id option:selected').text();

    if (sub_account_name) {
      return confirm('精算科目「' + account_name + '」、補助科目「' + sub_account_name + '」でよろしいですか？');
    } else {
      return confirm('精算科目「' + account_name + '」でよろしいですか？');
    }
  }
  
  function close_journal(journal_id, branch_id) {
    if (!confirm_current_account()) {
      return false;
    }

    var url = '<%= url_for :action => 'create' %>';
    var params = {
      authenticity_token: '<%= form_authenticity_token %>',
      journal_id: journal_id,
      branch_id: branch_id,
      account_id: $('#finder_account_id').val(),
      sub_account_id: $('#finder_sub_account_id').val(),
      ymd: $('#ymd').val(),
      format: 'html'
    };

    $.post(url, params, function(data) {
      $('#status_' + journal_id).html(data);
    })
    .fail(function() {
      alert('仮負債の精算に失敗しました。');
      location.reload();
    });
  }
</script>
  
<div style="margin:10px;">
  <span style="margin:5px;">仮負債合計金額 <%= number_to_currency(@sum, :unit => '', :precision => 0) %> 円</span>
  <div style="margin:5px;">
    <%= form_tag :action => 'index' do %>
      <label for="ymd">精算日</label>：<%= text_field_tag 'ymd', @ymd, class: 'datepicker' %>
      <label for="finder_account_id">精算科目</label>：
      <%= collection_select_code_and_name("finder", "account_id", @accounts, "id", "name",
            {:selected => @frequency ? @frequency.input_value : nil}) %>

      <span id="finder_sub_account_id_title" style="display: none;">
        <label for="finder_sub_account_id">補助科目</label>：
      </span>
      <%= select "finder", "sub_account_id", [] %>
    <% end %>
  </div>
  <div style="margin:5px;">
    <label><input type="checkbox" id="debts_display_flag"/>精算済みの伝票も表示</label>
  </div>
  <div style="margin:5px;">
    <table id="debt_table">
      <thead>
        <tr>
          <th class="yearMonth">年月</th>
          <th class="yearMonth">日</th>
          <th class="remarks">摘要</th>
          <th class="branchName">計上部門</th>
          <th class="branchName">相手部門</th>
          <th class="amountSum">金額</th>
          <th>元伝票</th>
          <th></th>
        </tr>
      </thead>
      <tbdoy>
        <% @debts.each do |debt| %>
          <tr id="debts_<%= debt.id.to_s %>" class="hover">
            <td class="yearMonth"><%= debt.ym.to_s %></td>
            <td class="day"><%= debt.day.to_s %></td>
            <td class="remarks"><%= debt.remarks %></td>
            <td class="nowrap center"><%= debt.branch_name %></td>
            <td class="nowrap center"><%= debt.opposite_branch_name %></td>
            <td class="amountSum"><%= number_to_currency(debt.amount, unit: '', precision: 0) %></td>
            <td class="center">
              <%= link_to '参照', journal_path(debt.transfer_from_id), remote: true %>
            </td>
            <td class="center">
              <div id="status_<%= debt.id.to_s %>">
              <% if debt.closed_id %>
                <%= render 'closed_link', :closed_id => debt.closed_id %>
              <% else %>
                <input type="button" value="精算" onclick="close_journal(<%= debt.id %>, <%= debt.branch_id %>);" />
              <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
</div>
