<%= form_with model: [:mm, @bo], data: {remote: true} do |f| %>
  <%= flash_notice %>

  <table>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.nostalgic_text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :zip_code %></th>
      <td><%= f.text_field :zip_code, class: 'zip_code' %></td>
    </tr>
    <tr>
      <th><%= f.label :prefecture_code %></th>
      <td><%= f.collection_select :prefecture_code, @prefectures, :code, :name %></td>
    </tr>
    <tr>
      <th><%= f.label :address1 %></th>
      <td><%= f.text_field :address1 %></td>
    </tr>
    <tr>
      <th><%= f.label :address2 %></th>
      <td><%= f.text_field :address2 %></td>
    </tr>
    <tr>
      <th><%= f.label :tel %></th>
      <td><%= f.text_field :tel, class: 'tel' %></td>
    </tr>
    <tr>
      <th><%= f.label :responsible_person_id %></th>
      <td><%= f.nostalgic_collection_select :responsible_person_id, current_company.employees, :id, :fullname %></td>
    </tr>
    <tr>
      <th><%= f.label :business_outline %></th>
      <td><%= f.text_field :business_outline %></td>
    </tr>
  </table>
<% end %>
