<%# 非表示の科目はスキップする %>
<% return unless is_visible_on_bs( account, @finder.branch_id ) %>

<% if account.is_leaf_on_settlement_report %>
  <tr id="<%= account.code %>">
    <% (account.node_level - 1).times{ |n| %>
      <td width="20">&nbsp;</td>
    <% } %>
    
    <td colspan="<%= colspan( account.node_level ) %>">
      <%= account.name %>
    </td>
    <td id="<%= account.code %>_amount" align="right">
      <%= link_to_if account.journalizable,
          to_amount( @sum[account.code][:amount], :show_zero => true ),
          { :controller => 'ledgers',
            :finder=>{
              :fiscal_year=>@finder.fiscal_year,
                :account_id=>account.id,
                :branch_id=>@finder.branch_id,
              }
          },
          :style => 'text-decoration: none;'
      %>
    </td>
    <td id="<%= account.code  %>_ratio" align="right"></td>
  </tr>
<% else %>
  <tr>
    <% (account.node_level - 1).times{ |n| %>
      <td width="20">&nbsp;</td>
    <% } %>

    <td colspan="<%= colspan( account.node_level ) %>" style="font-weight: bold;">
      <%= account.name %>
    </td>
    <td></td>
    <td></td>
  </tr>

  <%# 子科目を再帰的に表示 %>
  <% account.children.each do |child| %>
    <%= render 'line_bs_yearly', :account=>child %>
  <% end %>

  <%# 合計行を表示する %>
  <tr id="<%= account.code %>" style="font-weight: bold;">
    <% (account.node_level - 1).times do %>
      <td width="20"></td>
    <% end %>
    
    <td colspan="<%= colspan( account.node_level ) %>"><%= account.name %>合計</td>
    <td id="<%= account.code %>_amount" align="right">0</td>
    <td id="<%= account.code  %>_ratio" align="right"></td>
  </tr>

  <%# 合計金額を集計 %>
  <script>
    <% account.children.each do |child| %>
      add('<%= account.code %>_amount', '<%= child.code %>_amount', '<%= account.code %>_amount');
    <% end %>
  </script>
<% end %>
  