<%= form_with model: [:bs, @asset] do |f| %>
  <%= flash_notice %>

  <table>
    <tr>
      <th>資産コード</td>
      <th colspan="2">資産名</th>
      <th>取得価額</th>
      <th>勘定科目</th>
      <th>補助科目</th>
      <th>計上部門</th>
    </tr>
    <tr>
      <td align="center">
        <%= f.hidden_field :lock_version %>
        <%= @asset.code %>
      </td>
      <td colspan="2"><%= f.text_field :name, :class => 'nameText' %></td>
      <td class="amount"><%= to_amount(@asset.amount) %></td>
      <td><%= @asset.account.name %></td>
      <td><%= @asset.sub_account.name if @asset.sub_account %></td>
      <td><%= @asset.branch.name %></td>
    </tr>
    <tr>
      <th>取得年月日</th>
      <th>償却方法</th>
      <th><%= f.label :durable_years %></th>
      <th>償却限度額</th>
      <th colspan="3">摘要</th>
    </tr>
    <tr>
      <td><%= @asset.date %></td>
      <td>
        <% if @asset.status_created? %>
          <%= f.select :depreciation_method, depreciation_methods, class: 'depreciationMethodSelect' %>
        <% else %>
          <%= @asset.depreciation_method_name %>
        <% end %>
      </td>
      <td><%= f.text_field :durable_years, maxlength: 2, class: 'durableYearsText', disabled: !@asset.status_created? %></td>
      <td><%= f.text_field :depreciation_limit, class: 'amountText', disabled: !@asset.status_created? %></td>
      <td colspan="3"><%= f.text_field :remarks, size: 60, maxlength: 250, class: 'remarksText' %></td>
    </tr>
  </table>

  <% if @asset.status_created? %>
    <script>
      function updateDurableYears(depreciationMethod){
        var durableYears = $('#asset_durable_years');
        if (depreciationMethod == DEPRECIATION_METHOD_LUMP) {
          durableYears.attr('disabled', true);
          durableYears.val('');
        } else {
          durableYears.attr('disabled', false);
        }
      }

      function pushLimitArray(newLimitValue, limitArray) {
        limitArray.push(Number(newLimitValue));
      }

      function updateDepreciationLimit(depreciationMethod, limitArray, methodArray){
        if (depreciationMethod == DEPRECIATION_METHOD_LUMP && limitArray.at(-1) == 1) {
          $('#asset_depreciation_limit').val(0);
          limitArray.push(0);
        } else if (limitArray.length >= 2 && methodArray.length >= 2 && methodArray.at(-2) == DEPRECIATION_METHOD_LUMP && limitArray.at(-1) == 0 && limitArray.at(-2) == 1) {
          $('#asset_depreciation_limit').val(1);
          limitArray.push(1);
        } else {
          return;
        }
      }

      $(document).ready(function() {
        var depreciationMethod = $('#asset_depreciation_method');
        updateDurableYears(depreciationMethod.val());
        var depreciationLimit = $('#asset_depreciation_limit');
        var limitArray = [];
        var methodArray = [];
        limitArray.push(Number(depreciationLimit.val()));

        methodArray.push(Number(depreciationMethod.val()));
        depreciationLimit.change(function(){
          pushLimitArray($(this).val(), limitArray);
        })

        depreciationMethod.change(function(){
          methodArray.push(Number($(this).val()));
          updateDurableYears($(this).val());
          updateDepreciationLimit($(this).val(), limitArray, methodArray);
        });
      });
    </script>
  <% end %>
  
  <%= render 'show_depreciations' %>
<% end %>
  
