<%= form_for [:bs, @asset], :remote => true do |f| %>
  <div style="margin:0px 10px 0px 0px; text-align: right;">
    <% if @asset.status_created? %>
      <span style="margin-left: 5px;">
        <%= f.submit '償却待に設定' %>
      </span>
    <% elsif @asset.status_waiting? %>
      <span style="margin-left: 5px;">
        <%= f.submit '償却待を解除' %>
      </span>
    <% end %>

    <% if @asset.status_waiting? or @asset.status_depreciating? %>
      <span style="margin-left: 5px;">
        <%= f.submit '償却実行', :onclick => "if ( confirm('#{current_user.company.current_fiscal_year_int}年度分を償却します。よろしいですか？')) {return true;} return false;" %>
      </span>
    <% end %>
  </div>

  <%= flash_notice %>

  <table>
    <tr>
      <th>資産コード</td>
      <th colspan="2">資産名</th>
      <th>取得価額</th>
      <th>勘定科目</th>
      <th>補助科目</th>
      <% if branch_mode %><th>計上部門</th><% end %>
    </tr>
    <tr>
      <td align="center">
        <%= f.hidden_field :lock_version %>
        <%= @asset.code %>
      </td>
      <td colspan="2"><%= f.text_field :name, :class => 'nameText' %></td>
      <td class="amount"><%= to_amount(@asset.amount) %></td>
      <td><%= @asset.account.name %></td>
      <td><%= @asset.sub_account.name if @asset.sub_account %></td>
      <% if branch_mode %><td><%= @asset.branch.name %></td><% end %>
    </tr>
    <tr>
      <th>取得年月日</th>
      <th>償却方法</th>
      <th>耐用年数</th>
      <th>償却限度額</th>
      <th colspan="3">摘要</th>
    </tr>
    <tr>
      <td><%= render_ymd(@asset) %></td>
      <td>
        <% if @asset.status_created? %>
          <%= f.select :depreciation_method, depreciation_methods, :class => 'depreciationMethodSelect' %>
        <% else %>
          <%= @asset.depreciation_method_name %>
        <% end %>
      </td>
      <td><%= f.text_field :durable_years, :maxlength => 2, :class => 'durableYearsText', :disabled => !@asset.status_created? %></td>
      <td><%= f.text_field :depreciation_limit, :class => 'amountText', :disabled => !@asset.status_created? %></td>
      <td colspan="<%= colspan_of_asset_remarks %>"><%= f.text_field :remarks, :size => 60, :maxlength => 250, :class => 'remarksText' %></td>
    </tr>
  </table>
  
  <% if @asset.status_created? %>
    <script>
      function updateDurableYears(depreciationMethod){
        var durableYears = $('#asset_durable_years');
        if (depreciationMethod == DEPRECIATION_METHOD_LUMP) {
          durableYears.attr('disabled', true);
          durableYears.val('');
        } else {
          durableYears.attr('disabled', false);
        }
      }

      $(document).ready(function() {
        var depreciationMethod = $('#asset_depreciation_method');
        updateDurableYears(depreciationMethod.val());
        depreciationMethod.change(function(){
          updateDurableYears($(this).val());
        });
      });
    </script>
  <% end %>
  
  <%= render 'show_depreciations' %>
<% end %>
  
