<%= flash_notice %>

<table>
  <tr>
    <th>資産コード</td>
    <th colspan="2">資産名</th>
    <th>取得価額</th>
    <th>勘定科目</th>
    <th>補助科目</th>
    <th>計上部門</th>
  </tr>
  <tr>
    <td align="center"><%= @asset.code %></td>
    <td colspan="2"><%= @asset.name %></td>
    <td class="amount"><%= to_amount(@asset.amount) %></td>
    <td><%= @asset.account.name %></td>
    <td><%= @asset.sub_account.name if @asset.sub_account %></td>
    <td><%= @asset.branch.name %></td>
  </tr>
  <tr>
    <th>取得年月日</th>
    <th>償却方法</th>
    <th>耐用年数</th>
    <th>償却限度額</th>
    <th colspan="3">摘要</th>
  </tr>
  <tr>
    <td><%= render_ymd(@asset) %></td>
    <td><%= @asset.depreciation_method_name %></td>
    <td align="center"><%= @asset.durable_years %>年</td>
    <td class="amount"><%= @asset.depreciation_limit %></td>
    <td colspan="3"><%= @asset.remarks %></td>
  </tr>
</table>

<%= render 'show_depreciations' %>

