<%= render 'search' %>

<script>
  $(document).ready(function() {
    $('tr[social_expense=true]').each(function() {
      social_expenses.calc_deduction_amount(this);
    });
  });
</script>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="text-center">年月</th>
      <th class="text-center">日</th>
      <th>摘要</th>
      <th class="text-center">伝票金額</th>
      <th class="text-center">勘定科目</th>
      <th class="text-center">計上部門</th>
      <th class="text-center">借方金額</th>
      <th class="text-center">貸方金額</th>
      <th class="text-center">参加人数</th>
      <th class="text-center">控除額</th>
      <th class="text-center">差引交際費</th>
    </tr>
  </thead>
  <tbody>
    <% @journals.each do |jh| %>
      <tr>
        <td class="yearMonth"><%= jh.ym %></td>
        <td class="day"><%= jh.day %></td>
        <td class="remarks"><%= jh.remarks %></td>
        <td class="text-end"><%= to_amount(jh.amount) %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  
      <% jh.journal_details.each do |jd| %>
        <tr social_expense="<%= jd.account.is_social_expense %>" max_food_and_drink_amount_per_person="<%= @social_expense_logic.max_food_and_drink_amount_per_person(jh.ym) %>">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center"><%= jd.account_name %></td>
          <td class="text-center"><%= jd.branch_name %></td>
          <td class="text-end amount_debit"><%= to_amount(jd.amount) if jd.dc_type == HyaccConst::DC_TYPE_DEBIT %></td>
          <td class="text-end amount_credit"><%= to_amount(jd.amount) if jd.dc_type == HyaccConst::DC_TYPE_CREDIT %></td>
          <td class="center number_of_people"><%= jd.social_expense_number_of_people %></td>
          <td class="text-end deduction"></td>
          <td class="text-end social_expense"></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
