<div class="container" style="max-width: 1280px;">
  <table class="my-0 table table-bordered table-hover">
    <thead>
      <tr>
        <td class="align-middle"><b>所得の金額の計算に関する明細書</b></td>
        <th class="text-center">事業<br/>年度</th>
        <th class="text-center">
          <div><%= to_wareki(@model.fiscal_year.start_day) %></div>
          <div><%= to_wareki(@model.fiscal_year.end_day) %></div>
        </th>
        <th class="align-middle text-center">法人名</th>
        <th class="align-middle text-center"><b><%= @model.company_name %></b></th>
      </tr>
    </thead>
  </table>
  <table class="my-0 table table-bordered table-hover">
    <thead>
      <tr>
        <th rowspan="3" colspan="3" class="align-middle"><%= justify('　区　分　') %></th>
        <th rowspan="2" class="align-middle"><%= justify('　総　額　') %></th>
        <th colspan="3"><%= justify('　処　分　') %></th>
      </tr>
      <tr>
        <th><%= justify('　留保　') %></th>
        <th colspan="2"><%= justify('　社外流出　') %></th>
      </tr>
      <tr>
        <th class="text-center">①</th>
        <th class="text-center">②</th>
        <th colspan="2" class="text-center">③</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2" colspan="2" class="align-middle"><%= justify('当期利益又は当期欠損の額') %></td>
        <td rowspan="2" class="align-middle text-center" style="width: 1em;">1</td>
        <td rowspan="2" class="align-middle text-end" style="width: 15%;"><%= to_amount(@model.pretax_profit_amount) %></td>
        <td rowspan="2" style="width: 15%;"></td>
        <td class="text-nowrap text-center" style="width: 5em;">配当</td>
        <td style="width: 15%;"></td>
      </tr>
      <tr>
        <td class="text-center" style="width: 3em;">その他</td>
        <td></td>
      </tr>
      <tr>
        <% title = "法人税: #{to_amount(@model.corporate_tax_amount, show_zero: true)}\n法人事業税: #{to_amount(@model.business_tax_amount, show_zero: true)}" %>
        <td rowspan="10" style="width: 1em;">加<br>算</td>
        <td>損金経理をした法人税及び地方法人税（附帯税を除く｡）</td>
        <td class="text-center">2</td>
        <td class="text-end" title="<%= title %>"><%= to_amount(@model.corporate_tax_amount) %></td>
        <td class="text-end" title="<%= title %>"><%= to_amount(@model.corporate_tax_amount) %></td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td>損金経理をした道府県民税及び市町村民税</td>
        <td class="text-center">3</td>
        <td class="text-end" title="<%= title %>"><%= to_amount(@model.corporate_inhabitant_tax_amount) %></td>
        <td class="text-end" title="<%= title %>"><%= to_amount(@model.corporate_inhabitant_tax_amount) %></td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td>損金経理をした納税充当金</td>
        <td class="text-center">4</td>
        <td class="text-end"></td>
        <td class="text-end"></td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td>損金経理をした附帯税（利子税を除く。）、<br>加算金、延滞金（延納分を除く。）及び過怠税</td>
        <td class="align-middle text-center">5</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="align-middle text-center">その他</td>
        <td></td>
      </tr>
      <tr>
        <td>減価償却の償却超過額</td>
        <td class="text-center">6</td>
        <td></td>
        <td></td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td>役員給与の損金不算入額</td>
        <td class="text-center">7</td>
        <td class="text-end"><%= to_amount(@model.exective_bonus_amount) %></td>
        <td class="bg-light"></td>
        <td class="text-center">その他</td>
        <td class="text-end"><%= to_amount(@model.exective_bonus_amount) %></td>
      </tr>
      <tr>
        <td><%= justify('交際費等の損金不算入額') %></td>
        <td class="text-center">8</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">その他</td>
        <td></td>
      </tr>
      <tr>
        <td class="text-center"><%= justify('通算法人に係る加算額') %>(別表四付表「5」)</td>
        <td class="text-center">9</td>
        <td></td>
        <td></td>
        <td class="text-center">外※</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="text-center">10</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= justify('　小　計　') %></td>
        <td class="text-center">11</td>
        <td class="text-end"><%= to_amount(@model.increase_amount) %></td>
        <td class="text-end"><%= to_amount(@model.increase_retained_amount) %></td>
        <td class="text-center">外※</td>
        <td class="text-end"><%= to_amount(@model.increase_outflow_amount) %></td>
      </tr>
      <tr>
        <td rowspan="11">減<br>算</td>
        <td><%= justify('減価償却超過額の当期認容額') %></td>
        <td class="text-center">12</td>
        <td class="text-end"><%= to_amount(@model.fiscal_year.accepted_amount_of_excess_depreciation) %></td>
        <td class="text-end"><%= to_amount(@model.fiscal_year.accepted_amount_of_excess_depreciation) %></td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
          <td><%= justify('納税充当金から支出した事業税等の金額') %></td>
          <td class="text-center">13</td>
          <td></td>
          <td></td>
          <td class="bg-light"></td>
          <td class="bg-light"></td>
      </tr>
      <tr>
          <td class="text-center"><%= justify('受取配当等の益金不算入額') %>(別表八(一)｢13｣又は｢26｣)</td>
          <td class="align-middle text-center">14</td>
          <td class="align-middle text-end"><%= to_amount(@model.dividend_received_model.non_deductible_amount) %></td>
          <td class="align-middle bg-light"></td>
          <td class="align-middle text-center">※</td>
          <td class="align-middle text-end"><%= to_amount(@model.dividend_received_model.non_deductible_amount) %></td>
      </tr>
      <tr>
          <td class="text-center"><%= justify('外国子会社から受ける剰余金の配当等の益金不算入額') %>(別表八(二)｢26｣)</td>
          <td class="align-middle text-center">15</td>
          <td></td>
          <td class="bg-light"></td>
          <td class="align-middle text-center">※</td>
          <td></td>
      </tr>
      <tr>
        <td>受贈益の益金不算入額</td>
        <td class="text-center">16</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td></td>
      </tr>
      <tr>
        <td>適格現物分配に係る益金不算入額</td>
        <td class="text-center">17</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td></td>
      </tr>
      <tr>
        <td>法人税等の中間納付額及び過誤納に係る還付金額</td>
        <td class="text-center">18</td>
        <td></td>
        <td></td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td>所得税額等及び欠損金の繰戻しによる還付金額等</td>
        <td class="text-center">19</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td></td>
      </tr>
      <tr>
        <td class="text-center"><%= justify('通算法人に係る減算額') %>(別表四付表「10」)</td>
        <td class="text-center">20</td>
        <td></td>
        <td></td>
        <td class="text-center">※</td>
        <td></td>
      </tr>
      <tr>
        <td><strong><%= '事業税認定損' if @model.fiscal_year.approved_loss_amount_of_business_tax > 0 %></strong></td>
        <td class="text-center">21</td>
        <td class="text-end"><%= to_amount(@model.fiscal_year.approved_loss_amount_of_business_tax) %></td>
        <td class="text-end"><%= to_amount(@model.fiscal_year.approved_loss_amount_of_business_tax) %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= justify('　小計　') %></td>
        <td class="text-center">22</td>
        <td class="text-end"><%= to_amount(@model.decrease_amount) %></td>
        <td class="text-end"><%= to_amount(@model.decrease_retained_amount) %></td>
        <td class="text-center">外※</td>
        <td class="text-end"><%= to_amount(@model.decrease_outflow_amount) %></td>
      </tr>
      <tr>
        <td colspan="2" class="align-middle text-center"><%= justify('　仮　計　') %>(1)＋(11)－(22)</td>
        <td class="align-middle text-center">23</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_amount) %></td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_retained_amount) %></td>
        <td class="align-middle text-center">外※</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_outflow_amount) %></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('対象純支払利子等の損金不算入額') %>(別表十七(二の二)「29」又は「34」)</td>
        <td class="text-center">24</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">その他</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('超過利子額の損金算入額') %>(別表十七(二の三)｢10｣)</td>
        <td class="text-center">25</td>
        <td>△</td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td>△</td>
      </tr>
      <tr>
        <td colspan="2" class="align-middle text-center"><%= justify('　仮　計　') %>((23)から(25)までの計)</td>
        <td class="align-middle text-center">26</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_amount) %></td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_retained_amount) %></td>
        <td class="align-middle text-center">外※</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_outflow_amount) %></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('寄付金の損金不算入額') %>(別表十四(二)「24」又は「40」)</td>
        <td class="text-center">27</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">その他</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('沖縄の認定法人又は国家戦略特別区域における指定法人の所得の特別控除額') %>(別表十(一)「15」若しくは別表十(二)「10」又は別表十(一)「16」若しくは別表十(二)「11」)</td>
        <td class="text-center">28</td>
        <td>△</td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td>△</td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('法人税額から控除される所得税額') %>(別表六(一)「6の3」)</td>
        <td class="text-center">29</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">その他</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('税額控除の対象となる外国法人税の額') %>(別表六(二の二)「7」)</td>
        <td class="text-center">30</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">その他</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('分配時調整外国税相当額及び外国関係会社等に係る控除対象所得税額等相当額') %>(別表六(五の二)「5の2」+別表十七(三の六)「1」)</td>
        <td class="align-middle text-center">31</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="align-middle text-center">その他</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('組合等損失額の損金不算入額又は組合等損失超過合計額の損金算入額') %>(別表九(二)「10」)</td>
        <td class="text-center">32</td>
        <td></td>
        <td></td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('対外船舶運航事業者の日本船舶による収入金額に係る所得の金額の') %>● 損金算入額又は ○ 益金算入額<br>(別表十(四)｢20｣、｢21｣又は｢23｣)</td>
        <td class="align-middle text-center">33</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="align-middle text-center">※</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('　合　計　') %>(26)+(27)±(28)+(29)+(30)+(31)+(32)±(33)</td>
        <td class="align-middle text-center">34</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_amount) %></td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_retained_amount) %></td>
        <td class="align-middle text-center">外※</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_outflow_amount) %></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('契約者配当の益金算入額') %>(別表九(一)「13」)</td>
        <td class="align-middle text-center">35</td>
        <td></td>
        <td></td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('特定目的会社等の支払配当又は特定目的信託に係る') %><%= justify('受託法人の利益の分配等の損金算入額') %>(別表十(八)「13」、別表十(九)「11」又は別表十(十)「16」若しくは「33」)</td>
        <td class="text-center">36</td>
        <td>△</td>
        <td>△</td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td colspan="2"><%= justify('中間申告における繰戻しによる還付に係る') %><%= justify('災害損失欠損金額の益金算入額') %></td>
        <td class="text-center">37</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2"><%= justify('非適格合併又は残余財産の全部分配等に') %><%= justify('よる移転資産等の譲渡利益額又は譲渡損失額') %></td>
        <td class="text-center">38</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('　差引計　') %>((34)から(38)までの計)</td>
        <td class="text-center">39</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_amount) %></td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_retained_amount) %></td>
        <td class="align-middle text-center">外※</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_outflow_amount) %></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('更生欠損金又は民事再生等評価換えが行われる場合の再生等欠損金の損金算入額') %>(別表七(三)「9」又は「21」)</td>
        <td class="text-center">40</td>
        <td>△</td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td>△</td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('● 通算対象欠損金額の損金算入額又は ○ 通算対象所得金額の益金算入額') %>(別表七の三「5」又は「11」)</td>
        <td class="text-center">41</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('当初配賦欠損金控除額の益金算入額') %>(別表七(二)付表一「23の計」)</td>
        <td class="text-center">42</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('　差引計　') %>(39)+(40)±(41)+(42)</td>
        <td class="text-center">43</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_amount) %></td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_retained_amount) %></td>
        <td class="align-middle text-center">外※</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_outflow_amount) %></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('欠損金又は災害損失金等の当期控除額') %>(別表七(一)「4の計」+別表七(四)「10」)</td>
        <td class="text-center">44</td>
        <td>△</td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td>△</td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('　総　計　') %>(43)+(44)</td>
        <td class="text-center">45</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_amount) %></td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_retained_amount) %></td>
        <td class="align-middle text-center">外※</td>
        <td class="align-middle text-end"><%= to_amount(@model.provisional_outflow_amount) %></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額') %>(別表十(三)「43」)</td>
        <td class="text-center">46</td>
        <td>△</td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td>△</td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('農業経営基盤強化準備金積立額の損金算入額') %>(別表十二(十四)「10」)</td>
        <td class="text-center">47</td>
        <td>△</td>
        <td>△</td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('農用地等を取得した場合の圧縮額の損金算入額') %>(別表十二(十四)「43の計」)</td>
        <td class="text-center">48</td>
        <td>△</td>
        <td>△</td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('関西国際空港用地整備準備金積立額、中部国際空港整備') %><%= justify('準備金積立額又は再投資等準備金積立額の損金算入額') %>(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」)</td>
        <td class="text-center">49</td>
        <td>△</td>
        <td>△</td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('特別新事業開拓事業者に対し特定事業活動として出資をした場合') %><%= justify('の特別勘定繰入額の損金算入額又は特別勘定取崩額の益金算入額') %>(別表十(六)「14」-「11」)</td>
        <td class="text-center">50</td>
        <td></td>
        <td class="bg-light"></td>
        <td class="text-center">※</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= justify('残余財産の確定の日の属する事業年度に係る') %><%= justify('事業税及び特別法人事業税の損金算入額') %></td>
        <td class="text-center">51</td>
        <td>△</td>
        <td>△</td>
        <td class="bg-light"></td>
        <td class="bg-light"></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"><%= justify('所得金額又は欠損金額') %></td>
        <td class="text-center">52</td>
        <td class="text-end"><%= to_amount(@model.income_amount) %></td>
        <td class="align-middle text-end"><%= to_amount(@model.income_retained_amount) %></td>
        <td class="align-middle text-center">外※</td>
        <td class="align-middle text-end"><%= to_amount(@model.income_outflow_amount) %></td>
      </tr>
    </tfoot>
  </table>
</div>
