<%= fields_for "bank[bank_offices_attributes]", bank_office, :index => index do |f| %>
  <tr class="bank_office">
    <td class="code">
      <% if f.object.new_record? %>
        <%= f.text_field :code, class: 'form-control' %>
      <% else %>
        <%= f.hidden_field :id %>
        <%= f.object.code %>
      <% end %>
    </td>
    <td class="name"><%= f.text_field :name, class: 'form-control' %></td>
    <td class="address"><%= f.text_field :address, class: 'form-control' %></td>
    <td><%= f.select :disabled, finder.disable_types %></td>
  </tr>
<% end %>

