<%= fields_for "bank[bank_offices_attributes]", bank_office, index: index do |f| %>
  <tr class="bank_office">
    <td class="code">
      <% if f.object.new_record? %>
        <%= f.text_field :code, class: 'form-control form-control-sm' %>
      <% else %>
        <%= f.hidden_field :id %>
        <%= f.object.code %>
      <% end %>
    </td>
    <td class="name"><%= f.text_field :name, class: 'form-control form-control-sm' %></td>
    <td class="address"><%= f.text_field :address, class: 'form-control form-control-sm' %></td>
    <td class="<%= 'text-center' if bank.disabled_in_database || (f.object.persisted? && f.object.disabled_in_database) %>">
      <% if bank.disabled_in_database %>
        -
      <% elsif f.object.persisted? && f.object.disabled_in_database %>
        <%= HyaccConst::DISABLED_TYPES[f.object.disabled_in_database] %>
      <% else %>
        <%= f.select :disabled, HyaccConst::DISABLED_TYPES.invert, {}, class: 'form-select form-select-sm' %>
      <% end %>
    </td>
    <td class="text-center"><%= f.check_box :deleted, class: 'form-check-input' %></td>
  </tr>
<% end %>
