<table class="bank_offices">
  <caption>金融機関営業店</caption>

  <thead>
    <tr>
      <th><%= BankOffice.human_attribute_name :code %></th>
      <th><%= BankOffice.human_attribute_name :name %></th>
      <th><%= BankOffice.human_attribute_name :address %></th>
      <th><%= BankOffice.human_attribute_name :disabled %></th>
    </tr>
  </thead>

  <tbody>
    <% bank_offices.each_with_index do |bo, i| %>
      <%= render 'bank_office_fields', :bank_office => bo, :index => i %>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to '追加', {:action => 'add_bank_office'}, :onclick => 'banks.add_bank_office(this); return false;' %>
      </td>
    </tr>
  </tfoot>
</table>
