<%= form_with model: [:mm, @bank] do |f| %>
  <%= flash_notice %>

  <% if @bank.new_record? %>
    <p>
      <%= f.label :code %><br>
      <%= f.text_field :code %>
    </p>
  <% else %>
    <p>
      <%= f.label :code %>：<%= @bank.code %>
    </p>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <%= render 'bank_offices_fields', :bank_offices => @bank.bank_offices %>
<% end %>

  