<div class="col-md-6">
  <table class="table table-hover banks">
    <thead>
      <tr>
        <th><%= Bank.human_attribute_name :code %></th>
        <th><%= Bank.human_attribute_name :name %></th>
        <th class="center"><%= Bank.human_attribute_name :disabled %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @banks.each do |bank| %>
        <tr>
          <td><%= bank.code %></td>
          <td><%= bank.name %></td>
          <td class="center"><%= HyaccConstants::DISABLE_TYPES[bank.disabled] %></td>
          <td>
            <%= link_to '参照', mm_bank_path(bank), :remote => true %>
            <%= link_to '編集', edit_mm_bank_path(bank), :remote => true %>
            <%= link_to '削除', mm_bank_path(bank), data: {confirm: '削除します。よろしいですか？'}, :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <%= will_paginate @banks if @banks.present? %>
        </td>
        <td>
          <%= link_to '追加', new_mm_bank_path, :class => 'btn btn-light add', :remote => true %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
