<table class="mm banks">
  <tr>
    <th><%= Bank.human_attribute_name :code %></th>
    <th><%= Bank.human_attribute_name :name %></th>
    <th><%= Bank.human_attribute_name :disabled %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @banks.each do |bank| %>
    <tr class="hover">
      <td><%= bank.code %></td>
      <td><%= bank.name %></td>
      <td align="center"><%= HyaccConstants::DISABLE_TYPES[bank.disabled] %></td>
      <td><%= link_to '参照', mm_bank_path(bank), :remote => true %></td>
      <td><%= link_to '編集', edit_mm_bank_path(bank), :remote => true %></td>
      <td><%= link_to '削除', mm_bank_path(bank), data: {confirm: '削除します。よろしいですか？'}, :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @banks if @banks.present? %>
<%= link_to '追加', new_mm_bank_path, :class => 'add', :remote => true %>
