決算区分：
<select id="journal_details_<%= jd.detail_no %>_settlement_type"
       name="journal_details[<%= jd.detail_no %>][settlement_type]">

    <option value=""></option>

    <% settlement_types.each do |key, value| %>
      <option value="<%= value %>" <%= "selected" if value == jd.settlement_type %>><%= key %></option>
    <% end %>
</select>