<%= form_for [:mm, @account], remote: true do |f| %>
  <div style="margin: 10px;">
    <%= flash_notice %>
  </div>
  
  <script>
    $(document).ready(function() {
      $('#account_sub_account_type').change(function() {
        if ($(this).val() == SUB_ACCOUNT_TYPE_NORMAL || $(this).val() == SUB_ACCOUNT_TYPE_SOCIAL_EXPENSE) {
          $('#form_sub_accounts').show();
        }
        else {
          $('#form_sub_accounts').hide();
        }
      }).change();
    });
  </script>

  <table>
    <tr>
      <th><%= f.label :parent_id %></th>
      <td>
        <%= f.hidden_field :parent_id if @account.new_record? %>
        <%= "#{@account.parent.code}：#{@account.parent.name}" if @account.parent %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :code %></th>
      <td><%= f.text_field :code, disabled: @account.persisted?, class: 'codeText' %></td>
    </tr>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :short_description %></th>
      <td><%= f.text_field :short_description %></td>
    </tr>
    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description, {:rows => 5} %></td>
    </tr>
    <tr>
      <th><%= f.label :dc_type %></th>
      <td><%= f.hidden_field :dc_type %><%= @account.dc_type_name %></td>
    </tr>
    <tr>
      <th><%= f.label :account_type %></th>
      <td><%= f.hidden_field :account_type %><%= @account.account_type_name %></td>
    </tr>
    <tr>
      <th><%= f.label :tax_type %></th>
      <td><%= f.select :tax_type, tax_types %></td>
    </tr>
    <tr>
      <th><%= f.label :trade_type %></th>
      <td><%= f.select :trade_type, trade_types %></td>
    </tr>

    <% if @account.path.include? HyaccConst::ACCOUNT_CODE_FIXED_ASSET %>
    <tr>
      <th><%= f.label :depreciable %></th>
      <td><%= f.select :depreciable, {'可': true, '不可': false} %></td>
    </tr>
    <tr>
      <th><%= f.label :depreciation_method %></th>
      <td><%= f.select :depreciation_method, depreciation_methods, :include_blank => true %></td>
    </tr>
    <% end %>

    <tr>
      <th><%= f.label :is_settlement_report_account %></th>
      <td><%= f.select :is_settlement_report_account, {'出力対象': true, '出力対象外': false} %></td>
    </tr>
    <tr>
      <th><%= f.label :journalizable %></th>
      <td><%= f.select :journalizable, {'可': true, '不可': false} %></td>
    </tr>

    <% if @account.debt? %>
      <tr>
        <th><%= f.label :is_trade_account_payable %></th>
        <td><%= f.select :is_trade_account_payable, {'はい': true, 'いいえ': false} %></td>
      </tr>
    <% end %>

    <tr>
      <th><%= f.label :sub_account_type %></th>
      <td>
        <% if @account.new_record? %>
          <%= f.select :sub_account_type, sub_account_types, {} %>
        <% else %>
          <%= @account.sub_account_type_name %>
        <% end %>
        <% if @account.sub_account_editable? %>
          <div id="form_sub_accounts">
            <%= render 'sub_accounts_fields' %>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>