<%= fields_for "sub_accounts[#{index}]", sub_account do |f| %>
  <tr>
    <td>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :deleted %>
      <%= f.text_field :code, class: 'form-control form-control-sm' %>
    </td>
    <td>
      <%= f.text_field :name, class: 'form-control form-control-sm' %>
    </td>
    <td>
      <%= f.select :deleted, deleted_types, {}, class: 'form-control form-control-sm' %>
    </td>
  </tr>
<% end %>
