<%= flash_notice %>
<%= render 'search' %>

<% if @accounts %>
  <script>
    $(document).ready(function() {
      $('.accounts tbody').delegate('tr', 'dblclick', function(e) {
          if($(e.target).is(':not(a)')) {
            $(this).find('a.show')[0].click();
          }
      });
    });
  </script>
  <table class="accounts table table-striped table-hover my-4">
    <thead>
      <tr>
        <th class="text-center">勘定科目コード</th>
        <th>勘定科目名</th>
        <th class="text-center">補助科目区分</th>
        <th class="text-center">仕訳登録可能</th>
        <th class="text-center">税区分</th>

        <% if finder.account_type_debt? %>
          <th class="text-center">買掛金科目</th>
          <th class="text-center">仮受金科目</th>
        <% end %>

        <% if finder.account_type_asset? %>
          <th class="text-center">仮払金科目</th>
        <% end %>
    
        <% if finder.account_type_capital? %>
          <th class="text-center">利益積立金科目</th>
        <% end %>
    
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |a| %>
      <tr style="<%= 'color: red;' if a.deleted %>">
        <td class="text-center"><%= a.code %></td>
        <td><%= link_to a.name, mm_account_path(a), class: 'show', remote: true %></td>
        <td class="text-center"><%= a.sub_account_type_name %></td>
        <td class="text-center"><%= image_tag 'check.png' if a.journalizable? %></td>
        <td class="text-center"><%= a.tax_type_name %></td>

        <% if finder.account_type_debt? %>
          <td class="text-center"><%= image_tag 'check.png' if a.is_trade_account_payable? %></td>
          <td class="text-center"><%= image_tag 'check.png' if a.is_suspense_receipt_account? %></td>
        <% end %>

        <% if finder.account_type_asset? %>
          <td class="text-center"><%= image_tag 'check.png' if a.is_temporary_payment_account? %></td>
        <% end %>
    
        <td>
          <%= link_to '編集', {:action => 'edit', :id => a}, :remote => true %>
          <%= link_to '子科目追加', {:action => 'new', :parent_id => a}, :remote => true %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
