<div style="margin: 10px;">
  <table>
    <thead>
      <tr>
        <th class="center" rowspan="2">適用開始日</th>
        <th class="center" rowspan="2">適用終了日</th>
        <th class="center" colspan="2">一般</th>
        <th class="center" colspan="2">農林水産・清酒製造</th>
        <th class="center" colspan="2">建設</th>
      </tr>
      <tr>
        <th class="center">労働者負担</th>
        <th class="center">事業主負担</th>
        <th class="center">労働者負担</th>
        <th class="center">事業主負担</th>
        <th class="center">労働者負担</th>
        <th class="center">事業主負担</th>
      </tr>
    </thead>
    <tbody>
      <% @list.each do |ei| %>
        <tr>
          <td class="center"><%= ei.valid_from %></td>
          <td class="center"><%= ei.valid_until %></td>
          <td class="center"><%= ei.employee_general %></td>
          <td class="center"><%= ei.employer_general %></td>
          <td class="center"><%= ei.employee_agric %></td>
          <td class="center"><%= ei.employer_agric %></td>
          <td class="center"><%= ei.employee_const %></td>
          <td class="center"><%= ei.employer_const %></td>
        </tr>
      <% end %>
   </tbody> 
  </table>
</div>