<%= render 'common/search' %>
<%= flash_notice %>

<table>
  <tr>
    <th>勘定科目</th>
    <th>補助科目</th>
    <th>期末残高</th>
    <th>事業費率</th>
    <th>家事比率</th>
    <th>家事振替額</th>
    <th></th>
  </tr>
  
  <% @hw.housework_details.each do |hwd| %>
    <tr>
      <td align="center"><%= hwd.account.name %></td>
      <td align="center"><%= hwd.sub_account.name if hwd.sub_account %></td>
      <td align="right"><%= to_amount(hwd.net_sum_amount, :show_zero=>true) %></td>
      <td align="center"><%= hwd.business_ratio %>%</td>
      <td align="center"><%= 100 - hwd.business_ratio %>%</td>
      <% if @hw.journal_headers.size > 0 %>
      <td align="right">
        <%= to_amount(hwd.housework_amount, :show_zero => true) %>
      </td>
      <% else %>
      <td align="center">
        未処理
      </td>
      <% end %>
      <td>
        <%= link_to '編集', {:action => :edit, :id => hwd}, :remote => true %>
        <%= link_to '削除', {:action => 'destroy', :id => hwd.id }, :confirm=>'削除します。よろしいですか？', :method=>:post %>
      </td>
    </tr>
  <% end %>
</table>

<div style="margin: 10px;">
  <%= link_to '追加', {:action => :new, :housework_id => @hw.id}, :remote => true %>
  <% if @hw.housework_details.present? %>
  |
  <%= link_to '仕訳作成', {:action => :create_journal, :id => @hw}, :confirm => '家事按分仕訳を作成します。よろしいですか？', :method => :post %>
  <% end %>
</div>

