<div style="margin: 10px;">
  <table>
    <tr>
      <th rowspan="2">耐用年数</th>
      <th rowspan="2">定額法償却率</th>
      <th colspan="3">定率法</th>
    </tr>
    <tr>
      <th>償却率</th>
      <th>改定償却率</th>
      <th>保証率</th>
    </tr>
    
    <% @list.each do |rate| %>
    <tr>
      <td align="center"><%= rate.durable_years %></td>
      <td align="right"><%= rate.fixed_amount_rate %></td>
      <td align="right"><%= rate.rate %></td>
      <td align="right"><%= rate.revised_rate %></td>
      <td align="right"><%= rate.guaranteed_rate %></td>
    </tr>
    <% end %>
  
  </table>
</div>