<div style="margin: 10px;">
  <%= form_tag({:action => 'index', :account_code => @finder.account_code}, method: 'get', class: 'form-inline') do %>
    <%= hidden_field_tag 'account_code', @finder.account_code %>

    <% if @account.has_sub_accounts? %>
      <div style="margin: 10px 0;">
        <span class="selected"><%= @account.sub_account_type_name %></span>：
        <% sub_accounts = @finder.deleted.to_i == 0 ? @account.sub_accounts : @account.sub_accounts_all %>
        <%= collection_select("finder", "sub_account_id", sub_accounts, "id", "name",
                      {}, { :onchange=>"submit();" }) %>
        <%= check_box 'finder', 'deleted', :onchange=>"submit();" %>全て
      </div>
    <% end %>

    <div style="margin: 10px;">
      年月：<%= text_field 'finder', 'ym', :class => 'ympicker' %>
      <a href='#' onclick='$("#finder_ym").val("");return false;'>×</a>

      摘要：<%= text_field 'finder', 'remarks', class: 'form-control' %>
      <a href='#' onclick='$("#finder_remarks").val("");return false;'>×</a>

      部門：<%= collection_select('finder', 'branch_id', @branches, "id", "name", {:include_blank=>true}) %>

      <%= submit_tag '表示', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
