<td class="yearMonth"><%= slip.ym %></td>
<td class="day"><%= slip.day %></td>
<td class="remarks">
  <% if slip.editable? %>
    <%= link_to slip.remarks, simple_slip_path(slip.id, account_code: params[:account_code]), class: 'show', remote: true %>
  <% else %>
    <%= link_to slip.remarks, journal_path(slip.id), class: 'show', remote: true %>
  <% end %>
</td>
<td class="accountName"><%= slip.account_code + ":" if slip.account_code != HyaccConstants::ACCOUNT_CODE_VARIOUS %> <%= slip.account_name %></td>
<td class="subAccountName"><%= slip.sub_account_name %></td>
<td class="branchName"><%= slip.branch_name %></td>
<td class="amountIncrease"><%= to_amount( slip.slip_amount_increase ) %></td>
<td class="amountDecrease"><%= to_amount( slip.slip_amount_decrease ) %></td>
<td class="amountSum"></td>
<td class="text-center">
  <%= image_tag 'transform.png', title: '自動振替' if slip.has_auto_transfers %>
  <% if slip.journal.receipt.present? %>
    <%= link_to receipt_path(slip.journal.receipt) do %>
      <%= image_tag 'attachment.png', title: "領収書: #{slip.journal.receipt.original_filename}" %>
    <% end %>
  <% end %>
  <% if slip.editable? %>
    <%= link_to copy_simple_slip_path(slip.id, account_code: params[:account_code]), onclick: 'simple_slips.copy(this); return false;' do %>
      <%= image_tag 'file_copy.png', title: '伝票をコピー' %>
    <% end %>
  <% end %>
</td>
