<%= render 'search' %>

<script>
  var simple_slip;

  $(document).on('turbolinks:load', function() {
    simple_slips.calc_sum();

    simple_slip = new hyacc.SimpleSlip('#new_simple_slip', {
      branch_mode: <%= branch_mode %>,
      my_sub_account_id: $('#finder_sub_account_id').val()
    });
  });
</script>

<%= form_for @simple_slip do |f| %>
  <%= render 'common/message' %>

  <table id="slipTable" class="slipTable">
    <thead>
      <tr>
        <th>年　月</th>
        <th>日</th>
        <th>摘　　要</th>
        <th>勘定科目</th>
        <th>補助科目</th>
        <% if branch_mode %><th>計上部門</th><% end %>
        <th>増　加</th>
        <th>減　少</th>
        <th>累　計</th>
        <th style="width: 4em;">振　替</th>
        <th style="width: 4em;">領収書</th>
        <th colspan="4"></th>
      </tr>

      <tr class="cashRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <% if branch_mode %><td></td><% end %>
        <td></td>
        <td></td>
        <td class="amountSum" <%= 'style="color: red;"' if @pre_sum_amount < 0 %>><%= to_amount(@pre_sum_amount, :show_zero => true) %></td>
        <td></td>
        <td></td>
        <td colspan="4" align="center">
          <%= link_to '△', {:action => 'index', :account_code => @finder.account_code, 'finder[offset]' => @finder.prev_offset, 'finder[keep_paging]' => true} if @finder.prev_offset %>
        </td>
      </tr>
    </thead>

    <tbody>
      <% @slips.each do |slip| %>
        <tr class="cashRow hover" slip_id="<%= slip.id %>" data-turbolinks="false">
          <%= render 'show_line', :slip => slip %>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr class="cashRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <% if branch_mode %><td></td><% end %>
        <td></td>
        <td></td>
        <td class="amountSum" <%= 'style="color: red;"' if @sum_amount < 0 %>><%= to_amount( @sum_amount, :show_zero => true ) %></td>
        <td></td>
        <td></td>
        <td colspan="4" align="center">
          <%= link_to '▽', {:action => 'index', :account_code => @finder.account_code, 'finder[offset]' => @finder.next_offset, 'finder[keep_paging]' => true} if @finder.next_offset %>
        </td>
      </tr>

      <%= render 'form', :f => f %>
    </tfoot>
  </table>
<% end %>
