<%= form_for :finder, :url => {:action => "index"}, :html => {:method => 'get'} do |f| %>
  <div style="margin: 10px;">
    <div>
      年月：<%= f.text_field :ym, :maxlength => 6 %>
      勘定科目：<%= f.select :account_id, to_options_code_and_name(finder.accounts), :class => 'accountSelect', :include_blank => true %>

      <% if branch_mode %>
      部門：<%= f.select :branch_id, to_options(finder.branches), :class=>'branchSelect', :include_blank => true %>
      <% end %>
    </div>
    <div>
      摘要：<%= f.text_field :remarks %>
    </div>
    <div>
      伝票区分：<%= render 'common/slip_type_selection' %>
      <%= f.submit '検索' %>
    </div>
  </div>
<% end %>
