<table style="margin: 10px;">
  <tr>
    <th class="yearMonth">年月</th>
    <th class="day">日</th>
    <th class="remarks">摘要</th>
    <th class="amount">伝票金額</th>
    <th class="accountName">勘定科目</th>
    <th class="subAccountName">補助科目</th>
    <th class="branchName">計上部門</th>
    <th class="amount">借方金額</th>
    <th class="amount">貸方金額</th>
    <th class="action"></th>
    <th class="action"></th>
  </tr>
  
  <% unless @journal_headers.present? %>
    <tr>
      <td colspan="11">該当する伝票はありません。</td>
    </tr>
  <% else %>
    <% @journal_headers.each do |jh| %>
    <tr>
      <% target_account = find_target_account(jh) %>
      <td><%= jh.ym %></td>
      <td><%= jh.day %></td>
      <td><%= jh.remarks %></td>
      <td align="right"><%= to_amount(jh.amount) %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="action">
        <%= link_to '編集', {:controller=>:journal, :action=>:edit, :id=>jh.id}, :remote => true %>
      </td>
      <td class="action">
        <% checked = jh.tax_admin_info.nil? ? false : jh.tax_admin_info.checked %>
        <% if checked %>
          確認済
        <% else %>
          <%= button_to '確認', url_for(:action=>:update_checked, :id=>jh.id), :remote=>true %>
        <% end %>
      </td>
    </tr>
      <% jh.journal_details.each do |jd| %>
      <tr>
        <td></td>
        <td></td>
        <td><%= '　　　' << jd.note.to_s %></td>
        <td></td>
        <td><%= jd.account_name %></td>
        <td><%= jd.sub_account_name %></td>
        <td><%= jd.branch_name %></td>
        <td align="right"><%= to_amount(jd.dc_type == HyaccConstants::DC_TYPE_DEBIT ? jd.amount : nil) %></td>
        <td align="right"><%= to_amount(jd.dc_type == HyaccConstants::DC_TYPE_CREDIT ? jd.amount : nil) %></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
