<div class="container text-center" style="max-width: 1280px">
  <div class="m-2 row">
    <span class="col-md-12 text-left">第3－（1）号様式</span>
  </div>
  <div class="row">
    <span class="offset-md-3 col-md-6"><strong><%= justify('課税期間分の消費税及び地方') %><%= justify('消費税の（　　）申告書') %></strong></span>
    <span class="col-md-3 text-right">第<br>一<br>表</span>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-6">
      <table class="table table-hover table-bordered text-center">
        <tbody>
          <tr>
            <td colspan="5"><%= justify('この申告書による消費税の税額の計算') %></td>
          </tr>
          <tr>
            <td colspan="3"><%= justify('課税標準額') %></td>
            <td class="text-center align-middle" style="width: 3em;">①</td>
            <td class="text-right" style="width: 50%;"></td>
          </tr>
          <tr>
            <td colspan="3"><%= justify('消費税額') %></td>
            <td class="align-middle">②</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3"><%= justify('控除過大調整税額') %></td>
            <td class="align-middle">③</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="4" class="align-middle" style="width: 3em;">控<br>除<br>税<br>額</td>
            <td colspan="2" class="align-middle"><%= justify('控除対象仕入税額') %></td>
            <td class="align-middle">④</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2" class="align-middle"><%= justify('返還等対価') %><%= justify('に係る税額') %></td>
            <td class="align-middle">⑤</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2" class="align-middle"><%= justify('貸倒れに係る税額') %></td>
            <td class="align-middle">⑥</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2" class="align-middle"><%= justify('控除税額小計') %><div>（④＋⑤＋⑥）</div></td>
            <td class="align-middle">⑦</td>
             <td></td>
          </tr>
          <tr>
            <td colspan="3"><%= justify('控除不足還付税額') %><div>（⑦－②－③）</div></td>
            <td class="align-middle">⑧</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3"><%= justify('差引税額') %><div>（②＋③－⑦）</div></td>
            <td class="align-middle">⑨</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3"><%= justify('中間納付税額') %></td>
            <td class="align-middle">⑩</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3"><%= justify('納付税額') %><div>（⑨－⑩）</div></td>
            <td class="align-middle">⑪</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3"><%= justify('中間納付還付税額') %><div>（⑩－⑨）</div></td>
            <td class="align-middle">⑫</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="align-middle text-nowrap" colspan="2"><%= justify('この申告書') %><%= justify('が修正申告') %><%= justify('である場合') %></td>
            <td class="align-middle"><%= justify('既確定税額') %></td>
            <td class="align-middle">⑬</td>
            <td></td>
          </tr>
          <tr>
            <td class="align-middle"><%= justify('差引納付税額') %></td>
            <td class="align-middle">⑭</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="align-middle text-nowrap" colspan="2"><%= justify('課税売上') %><%= justify('割合') %></td>
            <td class="align-middle"><%= justify('課税資産の譲渡') %><%= justify('等の対価の額') %></td>
            <td class="align-middle">⑮</td>
            <td></td>
          </tr>
          <tr>
            <td class="align-middle"><%= justify('資産の譲渡') %><%= justify('等の対価の額') %></td>
            <td class="align-middle">⑯</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-hover table-bordered text-center">
        <tbody>
          <tr>
            <td rowspan="4" class="align-middle">付<br>記<br>事<br>項</td>
            <td colspan="3" class="align-middle"><%= justify('割賦基準の適用') %></td>
            <td class="align-middle" style="width: 3em;"></td>
            <td class="align-middle" style="width: 3em;">有</td>
            <td class="align-middle" style="width: 3em;"></td>
            <td class="align-middle" style="width: 3em;">無</td>
          </tr>
          <tr>
            <td colspan="3" class="align-middle"><%= justify('延払基準等の適用') %></td>
            <td class="align-middle"></td>
            <td class="align-middle">有</td>
            <td class="align-middle"></td>
            <td class="align-middle">無</td>
          </tr>
          <tr>
            <td colspan="3" class="align-middle"><%= justify('工事進行基準の適用') %></td>
            <td class="align-middle"></td>
            <td class="align-middle">有</td>
            <td class="align-middle"></td>
            <td class="align-middle">無</td>
          </tr>
          <tr>
            <td colspan="3" class="align-middle"><%= justify('現金主義会計の適用') %></td>
            <td class="align-middle"></td>
            <td class="align-middle">有</td>
            <td class="align-middle"></td>
            <td class="align-middle">無</td>
          </tr>
          <tr>
            <td rowspan="5" class="align-middle">参<br>考<br>事<br>項</td>
            <td colspan="3" class="align-middle"><%= justify('課税標準額に対する消費') %><%= justify('税額の計算の特例の適用') %></td>
            <td class="align-middle" style="width: 3em;"></td>
            <td class="align-middle" style="width: 3em;">有</td>
            <td class="align-middle" style="width: 3em;"></td>
            <td class="align-middle" style="width: 3em;">無</td>
          </tr>
          <tr>
            <td rowspan="3" class="align-middle">控計<br>除算<br>税方<br>額法<br>の　</td>
            <td rowspan="2" colspan="2" class="align-middle"><%= justify('課税売上高５億円超又は') %><%= justify('課税売上割合95％未満') %></td>
            <td class="align-middle" style="width: 3em;"></td>
            <td colspan="3" class="align-middle"><%= justify('個別対応') %><%= justify('方式') %></td>
          </tr>
          <tr>
            <td class="align-middle" style="width: 3em;"></td>
            <td colspan="3" class="align-middle"><%= justify('一括比例') %><%= justify('配分方式') %></td>
          </tr>
          <tr>
            <td colspan="2" class="align-middle"><%= justify('上記以外') %></td>
            <td class="align-middle" style="width: 3em;"></td>
            <td colspan="3" class="align-middle"><%= justify('全額控除') %></td>
          </tr>
          <tr>
            <td colspan="2" class="align-middle"><%= justify('基準期間の') %><%= justify('課税売上高') %></td>
            <td colspan="5" class="text-right align-middle">千円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>