<%#
# $Id: _line.html.erb 2958 2012-11-09 08:02:34Z ichy $
# Product: hyacc
# Copyright 2009-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<div id="data_<%= data.id %>">
  <div class="div_td_yyyymm" style="border-width: 0px 1px 1px 1px;"><%= data.apply_start_ym %></div>
  <div class="div_td_yyyymm"><%= data.apply_end_ym %></div>
  <div class="div_td_grade"><%= data.grade %></div>
  <div class="div_td_money10"><%= to_amount(data.pay_range_above) %></div>
  <div class="div_td_money10"><%= to_amount(data.pay_range_under) %></div>
  <div class="div_td_money10"><%= to_amount(data.monthly_earnings) %></div>
  <div class="div_td_money10"><%= to_amount(data.daily_earnings) %></div>
  <div class="div_td_money10"><%= number_to_currency(data.health_insurance_all, :precision => 2, :unit=>"") %></div>
  <div class="div_td_money10"><%= number_to_currency(data.health_insurance_half, :precision => 2, :unit=>"") %></div>
  <div class="div_td_money20"><%= number_to_currency(data.health_insurance_all_care, :precision => 2, :unit=>"") %></div>
  <div class="div_td_money20"><%= number_to_currency(data.health_insurance_half_care, :precision => 2, :unit=>"") %></div>
</div>
