<%= flash_notice %>

<%= form_for @bank, :remote => true do |f| %>
  <div style="margin:0px 10px 0px 0px; text-align: right;">
    <%= f.submit %>
  </div>
  
  <% if @bank.new_record? %>
    <p>
      <%= f.label :code %><br />
      <%= f.text_field :code %>
    </p>
  <% else %>
    <p>
      <%= Bank.label :code %>：<%= @bank.code %>
    </p>
  <% end %>

  <p>
    <%= Bank.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <%= render 'bank_offices_fields', :bank_offices => @bank.bank_offices %>
<% end %>

  