<%= render 'common/search' if branch_mode %>
<%= flash_notice %>

<% if @careers.present? %>
  <table class="careers">
    <tr>
      <th>期間</th>
      <th>氏名</th>
      <th>取引先</th>
      <th>プロジェクト名</th>
      <th colspan="2"></th>
    </tr>
    
    <% @careers.each do |c| %>
      <tr class="hover">
        <td><%= format_date(c.start_from) %> ～ <%= format_date(c.end_to) %></td>
        <td><%= c.employee.full_name %></td>
        <td><%= c.customer_name %></td>
        <td><%= c.project_name %></td>
        <td><%= link_to '編集', edit_career_path(c), :remote => true %></td>
        <td><%= link_to '削除', career_path(c), data: {confirm: '削除します。よろしいですか？'}, :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @careers %>
  <%= link_to '追加', new_career_path, :class => 'add', :remote => true if @customers.present? %>
<% elsif @careers %>
  <div>該当するデータが見つかりませんでした。</div>
  <% if @customers.present? %>
    <%= link_to '追加', new_career_path, :class => 'add', :remote => true %>
  <% else %>
    業務経歴を追加するには受注先の登録が必要です。
    <div>
      <%= link_to '取引先管理へ', customers_path %>
    </div>
  <% end %>
<% end %>
