<%= flash_notice %>

<%= form_for @user, :remote => true do |f| %>
  <div style="margin:0px 5px 5px 0px; text-align: right;">
    <%= f.submit %>
  </div>
  <div>
    <div style="float: left;">
      <table>
        <tr>
          <th><%= f.label :login_id %></th>
          <td>
            <% if @user.new_record? %>
              <%= f.text_field :login_id %>
            <% else %>
              <%= @user.login_id %>
            <% end %>
          </td>
        </tr>

        <% if @user.new_record? %>
          <tr>
            <th><%= f.label :password %></th>
            <td><%= f.password_field :password %></td>
          </tr>
        <% end %>

        <%= f.fields_for "employee_attributes", @user.employee do |f| %>
          <tr>
            <th><%= f.label :last_name %></th>
            <td>
              <%= f.hidden_field :id %>
              <%= f.text_field :last_name %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :first_name %></th>
            <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <th><%= f.label :sex %></th>
            <td><%= f.select :sex, sex_types %></td>
          </tr>
          <tr>
            <th><%= f.label :employment_date %></th>
            <td><%= f.date_select :employment_date %></td>
          </tr>
          <tr>
            <th><%= f.label :zip_code %></th>
            <td><%= f.text_field :zip_code %></td>
          </tr>
          <tr>
            <th><%= f.label :address %></th>
            <td><%= f.text_field :address %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>