<p style="color: green"><%= flash[:notice] %></p>
<p>
  <b>ログインID:</b> <%= @user.login_id %>
</p>
<p>
  <b>氏名:</b> <%= @user.employee.fullname %>
</p>
<p>
  <b>入社年月:</b> <%= @user.employee.employment_date %>
</p>
<p>
  <b>性別:</b> <%= @user.employee.sex_name %>
</p>
