<%#
# $Id: _show.html.erb 3295 2014-01-24 01:03:37Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<p style="color: green"><%= flash[:notice] %></p>
<p>
  <b>ログインID:</b> <%= @user.login_id %>
</p>
<p>
  <b>氏名:</b> <%= @user.employee.full_name %>
</p>
<p>
  <b>入社年月:</b> <%= @user.employee.employment_date %>
</p>
<p>
  <b>性別:</b> <%= @user.employee.sex_name %>
</p>
