<table id="payroll_header_table" align="center">
  <thead>
    <tr>
      <th><%= justify('雇入年月日') %></th>
      <th><%= justify('所属') %></th>
      <th><%= justify('職名') %></th>
      <th><%= justify('標準報酬') %></th>
      <th><%= justify('氏名') %></th>
      <th><%= justify('性別') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2" class="center"><%= @employee.employment_date.strftime("%Y 年 %m 月 %d 日") %>　雇入</td>
      <td rowspan="2"></td>
      <td rowspan="2"><%= @employee.position %></td>
      <td rowspan="1">健 <%= to_amount(@employee.standard_remuneration) %> 円</td>
      <td rowspan="2" class="center"><%= @employee.fullname %></td>
      <td rowspan="2" class="center"><%= @employee.sex_name %></td>
    </tr>
    <tr>
      <td>厚 <%= to_amount(@employee.standard_remuneration) %> 円</td>
    </tr>
  </tbody>
</table>

<table id="payroll_table" align="center">
  <thead>
    <tr>
      <th colspan="2">賃金計算期間</th>
      <% @finder.get_ym_range.each do |ym| %>
        <th>
          <% if @pd[ym].new_record? %>
            <%= link_to ym, {action: :new, ym: ym, employee_id: @finder.employee_id}, remote: true %>
          <% else %>
            <%= link_to ym, edit_payroll_path(@pd[ym]), remote: true %>
          <% end %>
        </th>
      <% end %>
      <th>賞与１</th>
      <th>賞与２</th>
      <th>合計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">労働日数</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td class="center"><%= @pd[ym].days_of_work %>日</td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">労働時間数</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td align="center"><%= @pd[ym].hours_of_work %>H</td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">休日労働時間数</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td class="center"><%= @pd[ym].hours_of_day_off_work %>H</td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">早出残業時間数</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td class="center"><%= @pd[ym].hours_of_early_work %>H</td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">深夜労働時間数</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td class="center"><%= @pd[ym].hours_of_late_night_work %>H</td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">基本給</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td class="center"><%= to_amount(@pd[ym].base_salary) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].base_salary) %></td>
      <td><%= to_amount(@pd["b2"].base_salary) %></td>
      <td class="right"><%= to_amount(@pd[:sum].base_salary) %></td>
    </tr>
    <tr>
      <td colspan="2">所定時間外割増賃金</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td></td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td rowspan="2">手当</td>
      <td>通勤手当</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td class="center"><%= to_amount(@pd[ym].commuting_allowance) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].commuting_allowance) %></td>
      <td><%= to_amount(@pd["b2"].commuting_allowance) %></td>
      <td class="right"><%= to_amount(@pd[:sum].commuting_allowance) %></td>
    </tr>
    <tr>
      <td>時間外手当</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td></td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">小計</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td class="center"><%= to_amount(@pd[ym].salary_subtotal) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].salary_subtotal) %></td>
      <td><%= to_amount(@pd["b2"].salary_subtotal) %></td>
      <td class="right"><%= to_amount(@pd[:sum].salary_subtotal) %></td>
    </tr>
    <tr>
      <td colspan="2">臨時の給与</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td></td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">合計</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td class="center"><%= to_amount(@pd[ym].salary_total) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].salary_total) %></td>
      <td><%= to_amount(@pd["b2"].salary_total) %></td>
      <td class="right"><%= to_amount(@pd[:sum].salary_total) %></td>
    </tr>
    <tr>
      <td rowspan="8">控除額</td>
      <td>健康保険料</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td class="center"><%= to_amount(@pd[ym].health_insurance) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].health_insurance) %></td>
      <td><%= to_amount(@pd["b2"].health_insurance) %></td>
      <td class="right"><%= to_amount(@pd[:sum].health_insurance) %></td>
    </tr>
    <tr>
      <td>厚生年金保険料</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td class="center"><%= to_amount(@pd[ym].welfare_pension) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].welfare_pension) %></td>
      <td><%= to_amount(@pd["b2"].welfare_pension) %></td>
      <td class="right"><%= to_amount(@pd[:sum].welfare_pension) %></td>
    </tr>
    <tr>
      <td>雇用保険料</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td class="center"><%= to_amount(@pd[ym].employment_insurance) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].employment_insurance) %></td>
      <td><%= to_amount(@pd["b2"].employment_insurance) %></td>
      <td class="right"><%= to_amount(@pd[:sum].employment_insurance) %></td>
    </tr>
    <tr>
      <td>保険料合計</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td class="center"><%= to_amount(@pd[ym].insurance_total) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].insurance_total) %></td>
      <td><%= to_amount(@pd["b2"].insurance_total) %></td>
      <td class="right"><%= to_amount(@pd[:sum].insurance_total) %></td>
    </tr>
    <tr>
      <td></td>
      <% @finder.get_ym_range.each do |ym| %>
        <td></td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>所得税</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td class="center"><%= to_amount(@pd[ym].income_tax) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].income_tax) %></td>
      <td><%= to_amount(@pd["b2"].income_tax) %></td>
      <td class="right"><%= to_amount(@pd[:sum].income_tax) %></td>
    </tr>
    <tr>
      <td><%= Payroll.human_attribute_name :inhabitant_tax %></td>
      <% @finder.get_ym_range.each do |ym| %>
      <td class="center"><%= to_amount(@pd[ym].inhabitant_tax) %></td>
      <% end %>
      <td></td>
      <td></td>
      <td class="right"><%= to_amount(@pd[:sum].inhabitant_tax) %></td>
    </tr>
    <tr>
      <td></td>
      <% @finder.get_ym_range.each do |ym| %>
        <td></td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">保険料控除後の所得</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td class="center"><%= to_amount(@pd[ym].after_insurance_deduction) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].after_insurance_deduction) %></td>
      <td><%= to_amount(@pd["b2"].after_insurance_deduction) %></td>
      <td class="right"><%= to_amount(@pd[:sum].after_insurance_deduction) %></td>
    </tr>
    <tr>
      <td colspan="2">差引支給額</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td align="center"><%= to_amount(@pd[ym].after_deduction) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].after_deduction) %></td>
      <td><%= to_amount(@pd["b2"].after_deduction) %></td>
      <td class="right"><%= to_amount(@pd[:sum].after_deduction) %></td>
    </tr>
    <tr>
      <td colspan="2">実物給与</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td></td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">経費精算</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td align="center"><%= to_amount(@pd[ym].accrued_liability) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].accrued_liability) %></td>
      <td><%= to_amount(@pd["b2"].accrued_liability) %></td>
      <td align="right"><%= to_amount(@pd[:sum].accrued_liability) %></td>
    </tr>
    <tr>
      <td colspan="2">差引合計額</td>
      <% @finder.get_ym_range.each do |ym| %>
        <td align="center"><%= to_amount(@pd[ym].after_deduction + @pd[ym].accrued_liability) %></td>
      <% end %>
      <td><%= to_amount(@pd["b1"].after_deduction) %></td>
      <td><%= to_amount(@pd["b2"].after_deduction) %></td>
      <td align="right"><%= to_amount(@pd[:sum].after_deduction + @pd[:sum].accrued_liability) %></td>
    </tr>
    <tr>
      <td colspan="2">支給日</td>
      <% @finder.get_ym_range.each do |ym| %>
      <td align="center">
        <% if @pd[ym].persisted? and @pd[ym].pay_journal %>
          <%= link_to @pd[ym].pay_day.strftime('%m月%d日'), journal_path(@pd[ym].pay_journal.id), remote: true %>
        <% end %>
      </td>
      <% end %>
      <td>
        <% if @pd["b1"].persisted? %>
          <%= link_to @pd["b1"].pay_day.strftime('%m月%d日'), journal_path(@pd["b1"].pay_journal.id), remote: true %>
        <% end %>
      </td>
      <td>
        <% if @pd["b2"].persisted? %>
          <%= link_to @pd["b2"].pay_day.strftime('%m月%d日'), journal_path(@pd["b2"].pay_journal.id), remote: true %>
        <% end %>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
