<script>
  $(document).on('turbolinks:load', function() {
    $('select[name="finder\[branch_id\]"]').change(function() {
      var url = '<%= url_for :action=>'get_branch_employees' %>';
      var params = {branch_id: $(this).val(), format: 'html'};
      $.get(url, params, function(html) {
        $('#branch_employees').html(html);
      });
    }).change();
  });
</script>
<div id="search" style="margin: 15px;">
  <%= form_with(scope: 'finder', url: {action: 'index'}, local: true, method: 'get') do |f| %>
    年度：<%= f.select :fiscal_year, fiscal_years %>

    部門：<%= f.collection_select :branch_id, @branches, :id, :name %>
    <span id="branch_employees"></span>

    <%= f.submit -'表示' %>
  <% end %>
</div>
