<script>
  $(document).on('turbolinks:load', function() {
    $('#finder_branch_id').change(function() {
      var url = '<%= url_for :action=>'get_branch_employees' %>';
      var params = {branch_id: $(this).val(), format: 'html'};
      $.get(url, params, function(html) {
        $('#branch_employees').html(html);
      });
    }).change();
  });
</script>
<div id="search" style="margin: 15px;">
  <%= form_tag({:action => 'index'}, :method => 'get') do %>
    年度：<%= select('finder', 'fiscal_year', fiscal_years) %>

    <% if branch_mode %>
      部門：<%= collection_select('finder', 'branch_id', @branches, 'id', 'name') %>
      <span id="branch_employees"></span>
    <% else %>
      <%= hidden_field('finder', 'branch_id', :value => current_company.head_branch.id) %>
      従業員：<%= collection_select('finder', 'employee_id', current_company.employees, 'id', 'name') %>
    <% end %>

    <%= submit_tag "表示" %>
  <% end %>
</div>
