<%#
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<%= render 'common/journal_js' %>
<%= render 'search' %>
<%= flash_notice %>

<% unless @journals.present? %>
  <% if @finder.commit %>
    <div style="margin: 20px;">該当する伝票が見つかりませんでした。</div>
  <% end %>
<% else %>

  <%= form_tag :action=>"update_details" do %>
    <table style="margin: 10px;">
      <tr>
        <td>チェックした明細の</td>
        <td>
          勘定科目を
          <%= h_account_select("finder", "to_account_id", :class=>nil) %>
          <script>
            $('#finder_to_account_id').change(function() {
              $.get(
                '<%= url_for :controller => 'master_data', :action => 'get_sub_accounts' %>',
                  {
                  format: 'json',
                  account_id: $(this).value
                  },
                function(data) {
                  replace_options('#finder_to_sub_account_id', data);
                  }
                );
              });
          </script>
          <br/>
          補助科目を
          <%= select("finder", "to_sub_account_id", to_options(@to_sub_accounts)) %>
          <%= hide_if_no_options("#finder_to_sub_account_id") %>
        </td>
        <td>に<%= submit_tag '一括振替' %></td>
      </tr>
    </table>

    <script>
      var checked = false;
      function check_emphasized_rows() {
        checked = ! checked;
        var rows = document.getElementsByClassName('tr_emphasized');
        for (var i = 0; i < rows.length; i ++) {
          var row = rows[i];
          var checkbox = row.getElementsByTagName('input')[0];
          if (checkbox) {
            checkbox.checked = checked;
          }
        }
      }
    </script>
  
    <table id="journal_container" style="margin: 10px;">
      <tr>
        <th><% if @finder.account_id > 0 %><a href="javascript:check_emphasized_rows();">レ</a><% end %></th>
        <th>年月</th>
        <th>日</th>
        <th>摘要</th>
        <th>伝票金額</th>
        <th>勘定科目</th>
        <th>補助科目</th>
        <% if branch_mode %><th>計上部門</th><% end %>
        <th>借方金額</th>
        <th>貸方金額</th>
        <th></th>
      </tr>
    
      <% @journals.each do |jh| %>
        <tr>
          <td></td>
          <td class="yearMonth"><%= jh.ym %></td>
          <td class="day"><%= jh.day %></td>
          <td class="remarks"><%= jh.remarks %></td>
          <td class="amount"><%= to_amount(jh.amount) %></td>
          <td></td>
          <td></td>
          <% if branch_mode %><td></td><% end %>
          <td class="amount"></td>
          <td class="amount"></td>
          <td>
            <%= link_to_dialog('参照', {:controller=>:journal, :action=>:show_except_copy_link, :id => jh}, :title => '振替伝票　参照') %>
            <%= link_to_dialog('編集', {:controller=>:journal, :action=>:edit, :id => jh}, :title => '振替伝票　編集') if can_edit(jh) %>
          </td>
        </tr>
        
        <% jh.journal_details.each do |jd| %>
          <tr class="<%= should_emphasize(jd) ? 'tr_emphasized' : nil %>">
            <td>
              <% if can_transfer_account(jd) %>
              <%= check_box_tag "form[details][jh_#{jh.id}_lv_#{jh.lock_version}_jd_#{jd.id}]", value='1' %>
              <% end %>
            </td>
            <td></td>
            <td></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= jd.note %></td>
            <td></td>
            <td><%= jd.account_name %></td>
            <td><%= jd.sub_account_name %></td>
            <% if branch_mode %><td><%= jd.branch_name %></td><% end %>
            <td class="amount"><%= to_amount(jd.amount) if jd.dc_type == HyaccConstants::DC_TYPE_DEBIT %></td>
            <td class="amount"><%= to_amount(jd.amount) if jd.dc_type == HyaccConstants::DC_TYPE_CREDIT %></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
  
  <%= will_paginate @journals %>
<% end %>

