<div class="social_insurances">
  <div>
    <span><%= @list.first.apply_start_ym %></span>
    <span>～</span>
    <span><%= @list.first.apply_end_ym %></span>
  </div>
  <table class="table table-striped table-hover">
    <tr>
      <th colspan="3">標準報酬</th>
      <th colspan="2">報酬月額</th>
      <th colspan="4">全国健康保険協会管掌健康保険料</th>
      <th colspan="4">厚生年金保険料（厚生年金基金加入員を除く）</th>
    </tr>
    <tr>
      <th class="grade">等級</th>
      <th>月額</th>
      <th>日額</th>
      <th>円以上</th>
      <th>円未満</th>
      <th>全額</th>
      <th>折半額</th>
      <th><span class="nowrap">全額</span> <span class="nowrap">（介護保険２号）</span></th>
      <th><span class="nowrap">折半額</span> <span class="nowrap">（介護保険２号）</span></th>
      <th>全額</th>
      <th>折半額</th>
      <th><span class="nowrap">全額</span> <span class="nowrap">（坑内員／船員）</th>
      <th><span class="nowrap">折半額</span> <span class="nowrap">（坑内員／船員）</th>
    </tr>
    <% @list.each do |data| %>
      <tr>
        <td class="grade"><%= data.grade %><%= "(#{data.pension_grade})" if data.welfare_pension_insurance_all > 0 %></td>
        <td><%= to_amount(data.monthly_earnings) %></td>
        <td><%= to_amount(data.daily_earnings) %></td>
        <td><%= to_amount(data.pay_range_above) %></td>
        <td><%= to_amount(data.pay_range_under) if data.pay_range_under < 2_147_483_647 %></td>
        <td><%= to_amount(data.health_insurance_all, :precision => 1) %></td>
        <td><%= to_amount(data.health_insurance_half, :precision => 1) %></td>
        <td><%= to_amount(data.health_insurance_all_care, :precision => 1) %></td>
        <td><%= to_amount(data.health_insurance_half_care, :precision => 1) %></td>
        <td><%= to_amount(data.welfare_pension_insurance_all, :precision => 2) %></td>
        <td><%= to_amount(data.welfare_pension_insurance_half, :precision => 2) %></td>
        <td><%= to_amount(data.welfare_pension2_insurance_all, :precision => 2) %></td>
        <td><%= to_amount(data.welfare_pension2_insurance_half, :precision => 2) %></td>
      </tr>
    <% end %>
  </table>
</div>
