<script>
  $(document).ready(function() {
    $('#inhabitant_upload').submit(function() {
      var input = document.createElement('input');
      input.setAttribute('type', 'hidden');
      input.setAttribute('name', 'finder[year]');
      input.setAttribute('value', $('#finder_year').val());
      this.appendChild(input);
    });
  });
</script>


<%= flash_notice %>
<div style="margin: 20px;"> 
  <%= render 'search' %>
</div>

<% if @list.present? %>
  <div class="basic_master">
    <div>
      <div class="div_th_yyyy">年月</div>
      <div class="div_th_user">従業員</div>
      <div class="div_th_money">金額</div>
      <div class="div_th_link"></div>
      <br clear="all" />
    </div>
    
    <% @list.each do |data| %>
      <%= render 'line', :data => data %>
    <% end %>
  </div>
<% end %>

<div style="margin: 20px;">
  <%= flash_notice %>
  <%= form_tag({:action => 'confirm'}, :id=>'inhabitant_upload', :multipart => true) do %>
  アップロードファイル<br>
  <%= file_field_tag(:file) %><br>
  <%= submit_tag("アップロード") %>
  <% end %>
</div>
