<div style="margin: 20px;">
  <%= flash_notice %>
  <%= form_tag({:action => 'confirm'}, :multipart => true) do %>
    <p>アップロードファイル<br>
      <%= file_field_tag(:file) %>
    </p>
    <%= submit_tag("アップロード") %>
  <% end %>

  <%= link_to '戻る', mm_inhabitant_taxes_path %>
</div>