<table width="900" class="border">
  <tr>
    <td rowspan="2" colspan="3" class="text-center"><b>①　受取配当等の益金不算入に関する明細書</b></td>
    <td rowspan="2" colspan="2" class="text-center">事業<br/>年度</td>
    <td width=""><%= to_wareki(@finder.start_day) %></td>
    <td rowspan="2" class="text-center">法人名</td>
    <td rowspan="2" colspan="2" width=""><%= current_company.name %></td>
  </tr>
  <tr>
    <td><%= to_wareki(@finder.end_day) %></td>
  </tr>
</table>
<table width="900" class="border">
  <tr>
    <td colspan="5">当年度実績により負債利子等の額を計算する場合</td>
    <td colspan="5">基準年度実績により負債利子等の額を計算する場合</td>
  </tr>
  <tr>
      <td colspan="3">完全子法人株式等に係る受取配当等の額<br/>(38の計)</td>
      <td>1</td>
      <td><%= number_to_currency(@model.fully_owned_stocks_amount, :format=>"%n") %></td>
      <td colspan="3">完全子法人株式等に係る受取配当等の額<br/>(38の計)</td>
      <td>16</td>
      <td></td>
  </tr>
  <tr>
      <td rowspan="10">関<br/>係<br/>法<br/>人<br/>株<br/>式<br/>等</td>
      <td colspan="2">受取配当等の額<br/>(41の計)</td>
      <td>2</td>
      <td><%= number_to_currency(@model.partially_stocks_amount, :format=>"%n") %></td>
      <td rowspan="10">関<br/>係<br/>法<br/>人<br/>株<br/>式<br/>等</td>
      <td colspan="2">受取配当等の額<br/>(41の計)</td>
      <td>17</td>
      <td></td>
  </tr>
  <tr>
      <td rowspan="9">負<br/>債<br/>利<br/>子<br/>等<br/>の<br/>額<br/>の<br/>計<br/>算</td>
      <td width="240">当期に支払う負債利子等の額</td>
      <td>3</td>
      <td></td>
      <td rowspan="9">負<br/>債<br/>利<br/>子<br/>等<br/>の<br/>額<br/>の<br/>計<br/>算</td>
      <td width="240">当期に支払う負債利子等の額</td>
      <td>18</td>
      <td></td>
  </tr>
  <tr>
      <td>連結法人に支払う負債利子等の額</td>
      <td>4</td>
      <td></td>
      <td>特別利子の額</td>
      <td>19</td>
      <td></td>
  </tr>
  <tr>
      <td>特別利子の額</td>
      <td>5</td>
      <td></td>
      <td style="font-size: 50%;">国外支配株主等に係る負債の利子等の損金不算入額又は関連者等に係る支払利子等の損金不算入額(別表十七(一)「35」と別表十七(二の二)「25」のうち多い金額)</td>
      <td>19</td>
      <td></td>
  </tr>
  <tr>
      <td style="font-size: 50%;">国外支配株主等に係る負債の利子等の損金不算入額又は関連者等に係る支払利子等の損金不算入額(別表十七(一)「35」と別表十七(二の二)「25」のうち多い金額)</td>
      <td>6</td>
      <td></td>
      <td>超過利子額の損金算入額<br/>(別表十七(二の三)「10」)</td>
      <td>20</td>
      <td></td>
  </tr>
  <tr>
      <td>超過利子額の損金算入額<br/>(別表十七(二の三)「10」)</td>
      <td>7</td>
      <td></td>
      <td>計<br/>(18)－(19)－(20)＋(21)</td>
      <td>21</td>
      <td></td>
  </tr>
  <tr>
      <td>計<br/>(3)－(4)－(5)－(6)＋(7)</td>
      <td>8</td>
      <td></td>
      <td style="font-size: 50%;">平成22年４月１日から平成24年３月31日までの間に開始した各事業年度の負債利子等の額の合計額</td>
      <td>23</td>
      <td></td>
  </tr>
  <tr>
      <td>総資産価額<br/>(34の計)</td>
      <td>9</td>
      <td></td>
      <td style="font-size: 50%;">同上の各事業年度の関係法人株式等に係る負債利子等の額の合計額</td>
      <td>24</td>
      <td></td>
  </tr>
  <tr>
      <td>期末関係法人株式等の帳簿価額<br/>(35の計)</td>
      <td>10</td>
      <td></td>
      <td style="font-size: 50%;">負債利子控除割合<br/>(24)／(23) (小数点以下３位未満切捨て)</td>
      <td>25</td>
      <td></td>
  </tr>
  <tr>
      <td>受取配当等の額から控除する負債利子等の額<br/>(8) x (10)／(9)</td>
      <td>11</td>
      <td></td>
      <td>受取配当等の額から控除する負債利子等の額<br/>(22) x (25)</td>
      <td>26</td>
      <td></td>
  </tr>
  <tr>
      <td rowspan="4">そ<br/>の<br/>他<br/>株<br/>式<br/>等</td>
      <td colspan="2">受取配当等の額<br/>(45の計)</td>
      <td>12</td>
      <td><%= number_to_currency(@model.etc_stocks_amount, :format=>"%n") %></td>
      <td rowspan="4">そ<br/>の<br/>他<br/>株<br/>式<br/>等</td>
      <td colspan="2">受取配当等の額<br/>(45の計)</td>
      <td>27</td>
      <td></td>
  </tr>
  <tr>
      <td rowspan="3">負<br/>債<br/>利<br/>子<br/>等<br/>の<br/>額<br/>の<br/>計<br/>算</td>
      <td>期末その他株式等の帳簿価額<br/>(36の計)＋(37の計)</td>
      <td>13</td>
      <td></td>
      <td rowspan="3">負<br/>債<br/>利<br/>子<br/>等<br/>の<br/>額<br/>の<br/>計<br/>算</td>
      <td>(23)の各事業年度のその他株式等に係る負債利子等<br/>の額の合計額</td>
      <td>28</td>
      <td></td>
  </tr>
  <tr>
      <td rowspan="2">受取配当等の額から控除する負債利子等の額<br/>(8) x (13)／(9)</td>
      <td rowspan="2">14</td>
      <td rowspan="2"></td>
      <td>負債利子控除割合<br/>(28)／(23) (小数点以下３位未満切捨て)</td>
      <td>29</td>
      <td></td>
  </tr>
  <tr>
      <td>受取配当等の額から控除する負債利子等の額<br/>(22) x (29)</td>
      <td>30</td>
      <td></td>
  </tr>
  <tr>
      <td colspan="3">受取配当等の益金不算入額<br/>(1)＋((2)－(11))＋((12)－(14))×50％</td>
      <td>15</td>
      <td></td>
      <td colspan="3">受取配当等の益金不算入額<br/>(16)＋((17)－(26))＋((27)－(30))×50％</td>
      <td>31</td>
      <td></td>
  </tr>
</table>
<table width="900">
  <tr>
    <td colspan="7">当年度実績による場合の総資産価額等の計算</td>
  </tr>
  <tr>
      <td rowspan="3">区分</td>
      <td rowspan="2">総資産の帳簿価額</td>
      <td rowspan="2">連結法人に支払う<br/>負債利子等の元本<br/>の負債の額等</td>
      <td rowspan="2">総資産価額<br/>(32)－(33)</td>
      <td rowspan="2">期末関係法人株式等の<br/>帳簿価額</td>
      <td colspan="2">期末その他株式等の帳簿価額</td>
  </tr>
  <tr>
      <td>株式及び出資等</td>
      <td>受益権の帳簿価額<br/> x 50又は25／100</td>
  </tr>
  <tr>
      <td>32</td>
      <td>33</td>
      <td>34</td>
      <td>35</td>
      <td>36</td>
      <td>37</td>
  </tr>
  <tr>
      <td>前期末現在額</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>当期末現在額</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>計</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
</table>
<table width="900">
  <tr>
    <td colspan="8">受取配当等の額の明細</td>
  </tr>
  <tr>
      <td rowspan="5">完<br/>全<br/>子<br/>法<br/>人<br/>株<br/>式<br/>等</td>
      <td rowspan="2">法人名</td>
      <td rowspan="2" colspan="3">本店の所在地</td>
      <td rowspan="2">受取配当等の額の計算期間</td>
      <td colspan="2">受取配当等の額</td>
  </tr>
  <tr>
      <td colspan="2">38</td>
  </tr>
  <tr>
      <td></td>
      <td colspan="3"></td>
      <td>平成・・<br/>平成・・</td>
      <td colspan="2"></td>
  </tr>
  <tr>
      <td></td>
      <td colspan="3"></td>
      <td>平成・・<br/>平成・・</td>
      <td colspan="2"></td>
  </tr>
  <tr>
      <td colspan="5">合計</td>
      <td colspan="2"></td>
  </tr>
  <tr>
      <td rowspan="5">関<br/>係<br/>法<br/>人<br/>株<br/>式<br/>等</td>
      <td rowspan="2">法人名</td>
      <td rowspan="2">本店の所在地</td>
      <td rowspan="2">効力発生<br/>日までの<br/>保有期間</td>
      <td rowspan="2">保有割合</td>
      <td>受取配当等の額</td>
      <td>左のうち益金の額に<br/>算入される金額</td>
      <td>益金不算入の対象となる金額<br/>(39) - (40)</td>
  </tr>
  <tr>
      <td>39</td>
      <td>40</td>
      <td>41</td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td colspan="4">計</td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td rowspan="5">そ<br/>の<br/>他<br/>株<br/>式<br/>等</td>
      <td rowspan="2">法人名又は銘柄</td>
      <td colspan="3">本店の所在地</td>
      <td>受取配当等の額</td>
      <td>左のうち益金の額に<br/>算入される金額</td>
      <td>益金不算入の対象となる金額<br/>算入される金額</td>
  </tr>
  <tr>
      <td colspan="3">42</td>
      <td>43</td>
      <td>44</td>
      <td>45</td>
  </tr>
  <% @model.etc_stocks.each do |jd| %>
  <tr>
      <td><%= jd.note || "不明" %></td>
      <td colspan="3"></td>
      <td><%= number_to_currency(jd.amount, :format=>"%n") %></td>
      <td></td>
      <td></td>
  </tr>
  <% end %>
  <tr>
      <td></td>
      <td colspan="3"></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td colspan="5">合計</td>
      <td colspan="2"></td>
  </tr>
</table>



