<div class="branch">
  <%= form_with model: [:mm, @branch], data: { remote: true } do |f| %>
    <%= flash_notice %>
    <%= f.hidden_field :parent_id if @branch.new_record? %>

    <table class="table table-sm mb-0">
      <tbody>
        <tr>
          <th><%= f.label :business_office_id %></th>
          <td><%= f.nostalgic_collection_select :business_office_id, @branch.company.business_offices, :id, :name, include_blank: true %></td>
        </tr>
        <tr>
          <th><%= f.label :parent_id %></th>
          <td><%= @branch.parent_name %></td>
        </tr>
        <tr class="code">
          <th><%= f.label :code %></th>
          <td>
            <% if @branch.new_record? %>
              <%= f.text_field :code, class: 'form-control form-control-sm', style: 'width: 15em; max-width: 100%;' %>
            <% else %>
              <%= @branch.code %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= f.label :formal_name %></th>
          <td><%= f.text_field :formal_name, class: 'form-control form-control-sm' %></td>
        </tr>
        <tr>
          <th><%= f.label :name %></th>
          <td><%= f.text_field :name, class: 'form-control form-control-sm' %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
