<div class="branch">
  <%= form_for [:mm, @branch], :remote => true do |f| %>
    <%= f.hidden_field :parent_id %>

    <table>
      <tbody>
        <tr>
          <th><%= f.label :business_office_id %></th>
          <td><%= f.collection_select :business_office_id, @branch.company.business_offices, :id, :name, :include_blank => true %></td>
        </tr>
        <tr>
          <th><%= f.label :parent_id %></th>
          <td><%= @branch.parent_name %></td>
        </tr>
        <tr class="code">
          <th><%= f.label :code %></th>
          <td>
            <% if @branch.new_record? %>
              <%= f.text_field :code %>
            <% else %>
              <%= @branch.code %>
            <% end %>
          </td>
        </tr>
        <tr class="name">
          <th><%= f.label :name %></th>
          <td><%= f.text_field :name %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
