<div class="branch">
  <table>
    <tbody>
      <tr>
        <th><%= Branch.human_attribute_name :business_office_id %></th>
        <td><%= @branch.business_office.name %></td>
      </tr>
      <tr>
        <th><%= Branch.human_attribute_name :parent_id %></th>
        <td><%= @branch.parent_name %></td>
      </tr>
      <tr class="code">
        <th><%= Branch.human_attribute_name :code %></th>
        <td><%= @branch.code %></td>
      </tr>
      <tr class="name">
        <th><%= Branch.human_attribute_name :name %></th>
        <td><%= @branch.name %></td>
      </tr>
    </tbody>
  </table>
</div>
