<%= flash_notice %>

<% if @tax_check_count > 0 %>
  <div style="margin:20px; font-size: larger;">
    課税と思わしき伝票で非課税の伝票が <b style="color: red;"><%= @tax_check_count %></b> 件あります。
  </div>
<% end %>

<% if branch_mode and @debt_sum > 0 %>
  <div style="margin:20px; font-size: larger;">
    未清算の仮負債が <b style="color: red;"><%= get_debt_count(@debts) %></b> 件、合計 <b style="color: red;"><%= to_amount(@debt_sum) %></b> 円あります。
  </div>
<% end %>

<% if @dtm and @dtm.has_tax_amount %>
    <% unless @dtm.is_journal_amount_valid %>
	  <div style="margin:20px; font-size: larger;">
	  みなし消費税の仕訳金額が納税額と異なっています。
	  <br/>
	  仕訳を再作成してください。
	  <br/>
	  納税額　<b style="color: red;"><%= to_amount(@dtm.total_tax_amount) %></b>
	  仕訳金額　<b style="color: red;"><%= to_amount(@dtm.journal_amount, :show_zero=>true) %></b>　
	  </div>
	<% end %>
<% end %>

<div id="calendar" style="width: 50%;"></div>
<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      titleFormat: {
           month: 'YYYY年M月',
           week: 'YYYY年M月 D日',
           day: 'YYYY年M月D日'
       },
      columnFormat: {
           month: 'ddd',
           week: 'M/D（ddd）',
           day: 'M/D（ddd）'
       },
      timeFormat: 'H:mm',
      dayNames: ['日曜日','月曜日','火曜日','水曜日','木曜日','金曜日','土曜日'],
      dayNamesShort: ['日','月','火','水','木','金','土'],
      buttonText: {
            prev: ' < ',
            next: ' > ',
            prevYear: ' << ',
            nextYear: ' >> ',
            today: '今日',
            month: '月',
            week: '週',
            day: '日'
       },
       eventLimit: 1,
       events: '<%= notifications_path(:format => 'json') %>',
    });
  });
</script>
