<br />
<div  style="margin: 10px;">
    <table class="none_border" width="400">
      <tr>
        <td class="none_border" align="center"><b><%= Gengou.to_wareki(@data.calendar_year) %>年分　給与所得・退職所得等の所得税徴収高計算書</b></td>
      </tr>
    </table>
    <br/>
    <table width="400">
      <tr style="background-color: lightgrey;">
          <td colspan="3">給与</td>
      </tr>
      <tr style="background-color: lightgrey;">
          <td>年月</td>
          <td>支払金額</td>
          <td>源泉徴収税額</td>
      </tr>
  <% @data.total_salarys.each do |yyyymmdd, amoount| %>
    <tr class="hover">
      <td><%= @data.calendar_year %>(<%= Gengou.to_wareki(@data.calendar_year) %>)年<%= yyyymmdd.slice(4, 2) %>月<%= yyyymmdd.slice(6, 2) %>日</td>
      <td><%= number_to_currency(@data.total_salarys[yyyymmdd], :format=>"%n") %></td>
      <td><%= number_to_currency(@data.withholding_taxes[yyyymmdd], :format=>"%n") %></td>
    </tr>
  <% end %>
    <tr class="hover">
      <td>上期合計</td>
      <td><%= number_to_currency(@data.total_salary_1H, :format=>"%n") %></td>
      <td><%= number_to_currency(@data.withholding_tax_1H, :format=>"%n") %></td>
    </tr>
    <tr class="hover">
      <td>下期合計(年末調整前)</td>
      <td><%= number_to_currency(@data.total_salary_2H, :format=>"%n") %></td>
      <td><%= number_to_currency(@data.withholding_tax_2H, :format=>"%n") %></td>
    </tr>
  <% if @data.total_bonuses.length > 0 %>
    <tr style="background-color: lightgrey;">
        <td colspan="3">賞与</td>
    </tr>
    <% @data.total_bonuses.each do |yyyymmdd, bonus| %>
    <tr class="hover">
      <td><%= @data.calendar_year %>(<%= Gengou.to_wareki(@data.calendar_year) %>)年<%= yyyymmdd.slice(4, 2) %>月<%= yyyymmdd.slice(6, 2) %>日</td>
      <td><%= number_to_currency(@data.total_bonuses[yyyymmdd], :format=>"%n") %></td>
      <td><%= number_to_currency(@data.withholding_taxes_of_bonus[yyyymmdd], :format=>"%n") %></td>
    </tr>
    <% end %>
    <tr class="hover">
      <td>上期合計</td>
      <td><%= number_to_currency(@data.total_bonus_1H, :format=>"%n") %></td>
      <td><%= number_to_currency(@data.withholding_tax_of_bonus_1H, :format=>"%n") %></td>
    </tr>
    <tr class="hover">
      <td>下期合計</td>
      <td><%= number_to_currency(@data.total_bonus_2H, :format=>"%n") %></td>
      <td><%= number_to_currency(@data.withholding_tax_of_bonus_2H, :format=>"%n") %></td>
    </tr>
    <tr style="background-color: lightgrey;">
        <td colspan="3">合計</td>
    </tr>
  <% end %>
    <tr class="hover">
      <td>通期合計（給与＋賞与）</td>
      <td><%= number_to_currency(@data.total_salary_FY + @data.total_bonus_FY, :format=>"%n") %></td>
      <td><%= number_to_currency(@data.withholding_tax_FY + @data.withholding_tax_of_bonus_FY, :format=>"%n") %></td>
    </tr>
    <tr style="background-color: lightgrey;">
        <td colspan="3">年末調整額</td>
    </tr>
    <tr class="hover">
      <td>年末調整額</td>
      <td>-</td>
      <% tax_adjustment = number_to_currency(@data.tax_adjustment, :format=>"%n") if @data.tax_adjustment %>
      <td><%= tax_adjustment || "未定" %></td>
    </tr>
    </table>
</div>
