<%#
# $Id: new.html.erb 3335 2014-01-30 14:43:41Z ichy $
# Product: hyacc
# Copyright 2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<%= flash_notice %>

<%= form_for @customer, :remote => true do |f| %>
  <div style="margin: 10px; text-align: right;">
    <%= f.submit %>
  </div>
  <table>
    <tr>
      <th>取引先コード</th>
      <td><%= f.text_field :code %></td>
    </tr>
    
    <% if @customer.new_record? %>
      <tr>
        <th>取引先名（正式名）</th>
        <td>
          <%= fields_for "customer[customer_names_attributes][0]", @customer.customer_names.first do |f| %>
            <%= f.text_field :formal_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>取引先名（省略）</th>
        <td>
          <%= fields_for "customer[customer_names_attributes][0]", @customer.customer_names.first do |f| %>
            <%= f.text_field :name %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <tr>
      <th>住所</th>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <th>受注フラグ</th>
      <td><%= f.select :is_order_entry, status_types %></td>
    </tr>
    <tr>
      <th>発注フラグ</th>
      <td><%= f.select :is_order_placement, status_types %></td>
    </tr>
    <tr>
      <th>状態</th>
      <td><%= f.select :deleted, @deleted_types %></td>
    </tr>
  </table>
<% end %>
