<div style="margin: 10px;">
  <%= flash_notice %>
  
  <%= form_for @customer, :remote => true do |f| %>
    <div style="margin: 10px; text-align: right;">
      <%= f.submit %>
    </div>
  
    <table>
      <% if @customer.new_record? %>
        <tr>
          <th>取引先コード</th>
          <td><%= f.text_field :code %></td>
        </tr>
        <tr>
          <th>取引先名（正式名）</th>
          <td>
            <%= f.fields_for "customer_names_attributes[0]", @customer.customer_names.first do |f| %>
              <%= f.text_field :formal_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>取引先名（省略）</th>
          <td>
            <%= f.fields_for "customer_names_attributes[0]", @customer.customer_names.first do |f| %>
              <%= f.text_field :name %>
            <% end %>
          </td>
        </tr>
      <% else %>
        <tr>
          <th>取引先コード</th>
          <td><%= @customer.code %></td>
        </tr>
        <tr>
          <th>取引先名（正式名）</th>
          <td><%= @customer.formal_name %></td>
        </tr>
        <tr>
          <th>取引先名（略称）</th>
          <td><%= @customer.name %></td>
        </tr>
      <% end %>
  
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address, :size=>80 %></td>
      </tr>
      <tr>
        <th>受注フラグ</th>
        <td><%= f.select :is_order_entry, status_types %></td>
      </tr>
      <tr>
        <th>発注フラグ</th>
        <td><%= f.select :is_order_placement, status_types %></td>
      </tr>
      <tr>
        <th>状態</th>
        <td><%= f.select :deleted, @deleted_types %></td>
      </tr>
    </table>
    
    <% unless @customer.new_record? %>
      <div>時系列名称</div>
      <%= render 'customer_names', :customer => @customer %>
    <% end %>
  <% end %>
</div>
