<%#
# $Id: edit.html.erb 3335 2014-01-30 14:43:41Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<%= flash_notice %>

<%= form_for @customer, :remote => true do |f| %>
  <div style="margin:0px 10px 0px 0px; text-align: right;">
    <%= f.submit %>
  </div>
  <div>
    <p>
      <b>取引先コード</b>：<%= @customer.code %>
    </p>

    <p>
      <b>取引先名（正式名）</b>：<%= @customer.formal_name %>
    </p>
  
    <p>
      <b>取引先名（省略）</b>：<%= @customer.name %>
    </p>
  
    <p>
      <b>住所</b>：<%= f.text_field :address, {:size=>80} %>
    </p>
  
    <p>
      <b>受注フラグ</b>：<%= f.select :is_order_entry, status_types %>
    </p>
  
    <p>
      <b>発注フラグ</b>：<%= f.select :is_order_placement, status_types %>
    </p>
  
    <p>
      <b>状態</b>：<%= f.select :deleted, @deleted_types %>
    </p>
  </div>

  <%= render 'customer_names', :customer => @customer %>
<% end %>
