<%= render 'common/search' %>
<%= flash_notice %>

<table class="customers">
  <tr>
    <th>取引先コード</th>
    <th>取引先名（正式名）</th>
    <th>取引先名（省略名）</th>
    <th>受注先</th>
    <th>発注先</th>
    <th>状態</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @customers.each do |c| %>
    <tr class="hover">
      <td><%= c.code %></td>
      <td><%= c.formal_name %></td>
      <td><%= c.name %></td>
      <td align="center"><%= image_tag 'checkmark.gif', :size => '16x16' if c.is_order_entry %>
      <td align="center"><%= image_tag 'checkmark.gif', :size => '16x16' if c.is_order_placement %>
      <td align="center"><%= HyaccConstants::DELETED_TYPES[c.deleted] %></td>      <td><%= link_to '参照', customer_path(c), :remote => true %></td>
      <td><%= link_to '編集', edit_customer_path(c), :remote => true %></td>
      <td><%= link_to '削除', customer_path(c), :method => 'delete', data: {confirm: "#{c.name} を削除します。よろしいですか？"} %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @customers %>
<%= link_to '追加', new_customer_path, :class => 'add', :remote => true %>
