<div class="table-responsive">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h4 class="mb-0">事業所</h4>
    <div class="form-check">
      <%= form_tag mm_company_path(@company), method: :get, class: 'd-inline' do %>
        <%= check_box_tag :include_disabled, 'true', @include_disabled, 
            class: 'form-check-input', 
            id: 'include_disabled',
            onchange: 'this.form.submit();' %>
        <%= label_tag :include_disabled, '無効になった事業所も表示', class: 'form-check-label' %>
      <% end %>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>事業所名</th>
        <th><%= BusinessOffice.human_attribute_name :zip_code %></th>
        <th>都道府県</th>
        <th>所在地</th>
        <th>電話番号</th>
        <th>責任者</th>
        <th><%= BusinessOffice.human_attribute_name :business_outline %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @business_offices.each do |bo| %>
        <tr class="<%= 'text-muted' if bo.disabled? %>">
          <td>
            <%= bo.name %>
            <% if bo.disabled? %>
              <span class="badge bg-secondary ms-2">無効</span>
            <% end %>
          </td>
          <td><%= bo.zip_code %></td>
          <td><%= bo.prefecture_name %></td>
          <td><%= bo.address1 %><%= bo.address2 %></td>
          <td><%= bo.tel %></td>
          <td><%= bo.responsible_person&.fullname %></td>
          <td><%= bo.business_outline %></td>
          <td class="text-end">
            <% unless bo.deleted? %>
              <%= link_to '編集', edit_mm_business_office_path(bo), class: 'btn btn-light btn-small', remote: true %>
              <% if bo.disabled? %>
                <%= link_to '有効にする', enable_mm_business_office_path(bo), class: 'btn btn-light btn-small', data: {confirm: '有効にします。よろしいですか？'}, method: 'post' %>
              <% else %>
                <%= link_to '無効にする', disable_mm_business_office_path(bo), class: 'btn btn-light btn-small', data: {confirm: '無効にします。よろしいですか？'}, method: 'post' %>
              <% end %>
              <%= link_to '削除', mm_business_office_path(bo), class: 'btn btn-light btn-small', data: {confirm: '削除します。よろしいですか？'}, method: 'delete' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>	
    <tfoot>
      <tr>
        <td colspan="8" class="text-end">
          <%= link_to '追加', new_mm_business_office_path, class: 'btn btn-light', remote: true %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
