<div>
  <div class="div_td_yyyymm" style="border-width: 0px 1px 1px 1px;"><%= data.apply_start_ym %></div>
  <div class="div_td_yyyymm"><%= data.apply_end_ym %></div>
  <div class="div_td_grade"><%= data.grade %></div>
  <div class="div_td_money10"><%= to_amount(data.pay_range_above) %></div>
  <div class="div_td_money10"><%= to_amount(data.pay_range_under) %></div>
  <div class="div_td_money10"><%= to_amount(data.monthly_earnings) %></div>
  <div class="div_td_money10"><%= number_to_currency(data.welfare_pension_insurance_all, :precision => 2, :unit=>"") %></div>
  <div class="div_td_money10"><%= number_to_currency(data.welfare_pension_insurance_half, :precision => 2, :unit=>"") %></div>
  <div class="div_td_money20"><%= number_to_currency(data.welfare_pension2_insurance_all, :precision => 2, :unit=>"") %></div>
  <div class="div_td_money20"><%= number_to_currency(data.welfare_pension2_insurance_half, :precision => 2, :unit=>"") %></div>
  <br clear="all" />
</div>
