<div style="margin: 20px;">
  <%= form_for finder, :url => {:action => 'index'}, :method => 'get' do |f| %>
    <table class="none_border" cellpadding="3">
      <tr>
        <td class="none_border">都道府県：<%= f.select :prefecture_code, finder.prefectures %></td>
        <td class="none_border">年月：<%= f.text_field :ym, :class => 'ympicker' %></td>
        <td class="none_border">月額報酬：<%= f.text_field :base_salary, :maxlength => 10 %></td>
        <td class="none_border"><%= f.submit '表示' %></td>
      </tr>
    </table>
  <% end %>
</div>