<div style="margin: 5px;">
  <script>
    $(document).ready(function() {
      // キーワード生成
      $('input[value=キーワード生成]').click(function() {
        var url = '<%= url_for :action => :get_keywords %>';
        var params = {remarks: $('#simple_slip_template_remarks').val()};
        $.get(url, params, function(data) {
          $('#simple_slip_template_keywords').val(data);
        });
      });

      // 勘定科目の変更
      var initial_value = '<%= @simple_slip_template.sub_account_id %>';
      $('#simple_slip_template_account_id').change(function(eventData) {
        var account = $(this);
        var url = '<%= url_for :action => 'get_sub_accounts' %>';
        var params = {account_id: account.val(), selected: initial_value, format: 'html'};
        $.get(url, params, function(data) {
          account.closest('td').next().html(data);
        });
        initial_value = '';
      }).change();
    });
  </script>


  <%= form_for [:mm, @simple_slip_template], :remote => true do |f| %>
    <%= flash_notice %>

    <%= f.hidden_field :owner_type %>
    <%= f.hidden_field :owner_id %>

    <table>
      <tr>
        <th>摘要</th>
        <td colspan="5" align="center">
          <%= f.text_field :remarks, :style => 'width:99%;' %>
        </td>
        <td colspan="2" align="center">
          <input type="button" value="キーワード生成"/>
        </td>
      </tr>
      <tr>
        <th>説明</th>
        <td colspan="7" align="center">
          <%= f.text_field :description, :style=>'width:99%;' %>
        </td>
      </tr>
      <tr>
        <th>キーワード</th>
        <td colspan="7" align="center">
          <%= f.text_field :keywords, :style=>'width:99%;' %>
        </td>
      </tr>
      <tr>
        <th class="accountName">勘定科目</th>
        <th class="subAccountName">補助科目</th>
        <th class="branchName">計上部門</th>
        <th>貸借区分</th>
        <th>消費税区分</th>
        <th class="amount">金額</th>
        <th class="taxAmount">消費税額</th>
        <th>フォーカス項目</th>
      </tr>
      <tr>
        <td><%= collection_select_code_and_name 'simple_slip_template', 'account_id', finder.accounts, :id, :name, {}, class: 'accountSelect' %></td>
        <td width="100px;"></td>
        <td><%= f.collection_select :branch_id, current_company.branches, :id, :name, {include_blank: true}, class: 'branchSelect' %></td>
        <td><%= f.select :dc_type, dc_types, {include_blank: true}, class: 'dcTypeSelect' %></td>
        <td><%= f.select :tax_type, tax_types, {include_blank: true}, class: 'taxTypeSelect' %></td>
        <td><%= f.text_field :amount, :class => 'amountText' %></td>
        <td><%= f.text_field :tax_amount, :class => 'amountText' %></td>
        <td><%= f.select :focus_on_complete, focus_on_completes, {:include_blank=>true}, {:class=>'focusOnCompleteSelect'} %></td>
      </tr>
    </table>
  <% end %>
</div>
