<%= render 'common/search' %>

<script>
  $(document).ready(function() {
    calcSum(<%= @account.dc_type if @account %>);

    $('#ledgerContainer tbody').delegate('tr.journal', 'dblclick', function(e) {
        if($(e.target).is(':not(a)')) {
          $(this).find('a.show')[0].click();
        }
    });
  });

  function show_journals(trigger) {
    var url = $(trigger).attr('href');
    var params = $('#search').find('form').serializeArray();
    params.push({name: 'format', value: 'html'});
    $.get(url, params, function(html) {
      var tr = $(trigger).closest('tr');
      tr.replaceWith(html);
      calcSum(<%= @account.dc_type if @account %>);
    });
  }

  function calcSum(dcType) {
    var container = $('#ledgerContainer');
    var yearMonth = 0;
    var monthlySum = 0;
    var sum = toInt(container.find('#ledger_row_last_year').find('.amountSum').text());

    container.find('.ledgerRow').each(function() {
      // 年月が異なれば月別累計を初期化
      var ym = toInt($(this).find('.yearMonth').text());
      if (yearMonth != ym) {
        yearMonth = ym;
        monthlySum = 0;
      }

      // 借方
      var debitAmount = toInt($(this).find('.amountDebit').text());
      if ( dcType == DC_TYPE_DEBIT ) {
        monthlySum += debitAmount;
        sum += debitAmount;
      } else {
        monthlySum -= debitAmount;
        sum -= debitAmount;
      }

      // 貸方
      var creditAmount = toInt($(this).find('.amountCredit').text());
      if ( dcType == DC_TYPE_CREDIT ) {
        monthlySum += creditAmount;
        sum += creditAmount;
      } else {
        monthlySum -= creditAmount;
        sum -= creditAmount;
      }

      // 月別累計は月累計表示行のみ表示する
      $(this).find('.amountMonthlySum').text(toAmount(monthlySum));
      $(this).find('.amountSum').text(toAmount(sum));
    });

    // 今期末残高の表示
    $(container).find('tr:last').find('.amountSum').text(toAmount(sum));
  }  
</script>

<% if @ledgers.present? %>
  <table id="ledgerContainer" class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="yearMonth">年月</th>
        <th class="day">日</th>
        <th class="remarks">摘要</th>
        <th class="accountName">相手勘定科目</th>
        <th class="branchName">相手計上部門</th>
        <th class="amountDebit">借方</th>
        <th class="amountCredit">貸方</th>
        <th class="amountMonthlySum">月別累計</th>
        <th class="amountSum">累計</th>
        <th class="nowrap"></th>
      </tr>
  
      <% if finder.get_last_year_balance %>
        <tr id="ledger_row_last_year">
          <th class="yearMonth"></th>
          <th class="day"></th>
          <th class="remarks">前期末残高</th>
          <th class="accountName"></th>
          <th class="branchName"></th>
          <th class="amountDebit"></th>
          <th class="amountCredit"></th>
          <th class="amountMonthlySum"></th>
          <th class="amountSum text-end"><%= to_amount(finder.get_last_year_balance) %></th>
          <th class="nowrap"></th>
        </tr>
      <% end %>
    </thead>
  
    <tbody>
      <% @ledgers.each do |ledger| %>
        <% if ledger.is_a?(MonthlyLedger) %>
          <tr id="ledger_row_<%= ledger.ym %>" class="ledgerRow" style="background-color: papayawhip;">
            <td class="yearMonth"><%= ledger.ym %></td>
            <td class="day"></td>
            <td class="remarks"></td>
            <td class="accountName"></td>
            <td class="branchName"></td>
            <td class="amountDebit"><%= to_amount(ledger.amount_debit, show_zero: true) %></td>
            <td class="amountCredit"><%= to_amount(ledger.amount_credit, show_zero: true) %></td>
            <td class="amountMonthlySum"></td>
            <td class="amountSum"></td>
            <td class="nowrap">
              <% if ledger.has_amount %>
                <%= link_to '伝票表示', ledger_path(ledger.ym), onclick: 'show_journals(this); return false;' %>
              <% end %>
            </td>
          </tr>
        <% else %>
          <%= render 'line_journal', ledger: ledger %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
