<div style="margin: 10px;">
  <%= flash_notice %>
</div>

<%= form_with url: update_visibility_settings_user_notifications_path, method: :patch, data: {remote: true} do |f| %>
  <% if @user_notifications.any? || @deleted_notifications.any? %>
    <table class="table">
      <thead>
        <tr>
          <th class="align-middle"></th>
          <th class="align-middle">表示設定</th>
        </tr>
      </thead>
      <tbody>
        <% @user_notifications.each do |un| %>
          <tr>
            <td>
              <small class="text-muted"><%= un.notification.created_at.strftime("%Y年%m月%d日") %></small><br>
              <%= un.notification.message %>
            </td>
            <td>
              <%= f.fields_for 'user_notifications[]', un do |uf| %>
                <%= uf.select :visible, [['表示', true], ['非表示', false]] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% @deleted_notifications.each do |n| %>
          <tr>
            <td class="align-middle">
              <small class="text-muted"><%= n.created_at.strftime("%Y年%m月%d日") %></small><br>
              <%= n.message %>
            </td>
            <td class="align-middle">削除済み</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div>お知らせはありません。</div>
  <% end %>
<% end %>