<%#
# $Id: _form.html.erb 2984 2013-02-11 05:42:27Z ichy $
# Product: hyacc
# Copyright 2009-2013 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<%= form_for(@data, :remote => true) do |f| %>
  <div class="div_td_yyyymm"><%= f.text_field :apply_start_ym, :maxlength=>6, :size=>6 %></div>
  <div class="div_td_yyyymm"><%= f.text_field :apply_end_ym, :maxlength=>6, :size=>6 %></div>
  <div class="div_td_money10"><%= f.text_field :pay_range_above, :maxlength=>10, :size=>8 %></div>
  <div class="div_td_money10"><%= f.text_field :pay_range_under, :maxlength=>10, :size=>8 %></div>
  <div class="div_td_money"><%= f.text_field :no_dependent, :maxlength=>10, :size=>6 %></div>
  <div class="div_td_money"><%= f.text_field :one_dependent, :maxlength=>10, :size=>6 %></div>
  <div class="div_td_money"><%= f.text_field :two_dependent, :maxlength=>10, :size=>6 %></div>
  <div class="div_td_money"><%= f.text_field :three_dependent, :maxlength=>10, :size=>6 %></div>
  <div class="div_td_money"><%= f.text_field :four_dependent, :maxlength=>10, :size=>6 %></div>
  <div class="div_td_money"><%= f.text_field :five_dependent, :maxlength=>10, :size=>6 %></div>
  <div class="div_td_money"><%= f.text_field :six_dependent, :maxlength=>10, :size=>6 %></div>
  <div class="div_td_money"><%= f.text_field :seven_dependent, :maxlength=>10, :size=>6 %></div>
  <div class="div_td_link">
    <%= f.submit '更新' %>
    <span style="margin-left: 10px; font-size: 9px;">
      <%= link_to 'キャンセル', {:action => 'show', :id => @data.id}, :remote => true %>
    </span>
  </div>
<% end %>
