<%#
# $Id: _line.html.erb 2984 2013-02-11 05:42:27Z ichy $
# Product: hyacc
# Copyright 2009-2013 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<div class="div_td_yyyymm"><%= data.apply_start_ym %></div>
<div class="div_td_yyyymm"><%= data.apply_end_ym %></div>
<div class="div_td_money10"><%= to_amount(data.pay_range_above, :show_zero=>true) %></div>
<div class="div_td_money10"><%= to_amount(data.pay_range_under, :show_zero=>true) %></div>
<div class="div_td_money"><%= to_amount(data.no_dependent, :show_zero=>true) %></div>
<div class="div_td_money"><%= to_amount(data.one_dependent, :show_zero=>true) %></div>
<div class="div_td_money"><%= to_amount(data.two_dependent, :show_zero=>true) %></div>
<div class="div_td_money"><%= to_amount(data.three_dependent, :show_zero=>true) %></div>
<div class="div_td_money"><%= to_amount(data.four_dependent, :show_zero=>true) %></div>
<div class="div_td_money"><%= to_amount(data.five_dependent, :show_zero=>true) %></div>
<div class="div_td_money"><%= to_amount(data.six_dependent, :show_zero=>true) %></div>
<div class="div_td_money"><%= to_amount(data.seven_dependent, :show_zero=>true) %></div>
<div class="div_td_link">
  <%= link_to '編集', {:action => 'edit', :id => data.id}, :remote => true %>
  &nbsp;
  <%= link_to '削除', data, data: {confirm: '削除しますか?'}, :method => :delete %>
</div>
