<script>
  $(document).ready(function() {
    hyacc.init_datepicker();
  });
</script>
<%= form_for [:mm, @user], remote: true do |f| %>
  <%= flash_notice %>

  <div>
    <div style="float: left;">
      <table>
        <tr>
          <th><%= f.label :login_id %></th>
          <td>
            <% if @user.new_record? %>
              <%= f.text_field :login_id %>
            <% else %>
              <%= @user.login_id %>
            <% end %>
          </td>
        </tr>

        <% if @user.new_record? %>
          <tr>
            <th><%= f.label :email %></th>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <th><%= f.label :password %></th>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
        <% end %>

        <%= f.fields_for "employee_attributes", @user.employee do |f| %>
          <tr>
            <th><%= f.label :last_name %></th>
            <td>
              <%= f.hidden_field :id %>
              <%= f.text_field :last_name %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :first_name %></th>
            <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <th><%= f.label :sex %></th>
            <td><%= f.select :sex, sex_types %></td>
          </tr>
          <tr>
            <th><%= f.label :birth %></th>
            <td><%= f.date_select :birth, start_year: Time.now.year - 65, end_year: Time.now.year - 18, include_blank: true %></td>
          </tr>
          <tr>
            <th><%= f.label :employment_date %></th>
            <td><%= f.text_field :employment_date, class: 'datepicker' %></td>
          </tr>
          <tr>
            <th><%= f.label :zip_code %></th>
            <td><%= f.text_field :zip_code, class: 'zip_code' %></td>
          </tr>
          <tr>
            <th><%= f.label :address %></th>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <th><%= f.label :my_number %></th>
            <td><%= f.text_field :my_number, class: 'my_number' %></td>
          </tr>
          <%= render 'mm/employees/branch_employees', e: @user.employee %>
        <% end %>
      </table>
    </div>
  </div>
<% end %>