<%= render 'search' %>
<%= render 'common/message' %>
<% if @investments %>
<div class="col-md-8">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="center">取引日</th>
        <th>証券口座</th>
        <th>有価証券</th>
        <th class="center">購入株数</th>
        <th class="center">売却株数</th>
        <th class="center">金額</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% Array(@investments).each do |inv| %>
        <tr>
          <td class="center"><%= inv.deal_date %></td>
          <td><%= inv.bank_account.name %></td>
          <td><%= inv.customer.formal_name %></td>
          <td class="right"><%= to_amount(inv.shares) if inv.buying? %></td>
          <td class="right"><%= to_amount(inv.shares) if inv.selling? %></td>
          <td class="right"><%= '△' if inv.selling? %><%= to_amount(inv.trading_value + inv.gains) %></td>
          <td class="center">
            <%= link_to '編集', edit_bs_investment_path(inv), remote: true, class: 'btn btn-light btn-sm' %>
            <%= link_to '削除', bs_investment_path(inv, index_query_params),
                  data: {confirm: '伝票を削除します。よろしいですか？'}, method: :delete, class: 'btn btn-light btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" class="text-end">
          <%= link_to '新しい取引を追加', new_bs_investment_path, remote: true, class: 'btn btn-light add' %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<% else %>
<div class="col-md-8"></div>
<% end %>
