
<% if @journals %>
<%= render 'common/message' %>
  <table id="investment_container">
    <tr>
      <th>年月</th>
      <th>日</th>
      <th>摘要</th>
      <th>金額</th>
      <th>伝票</th>
      <th />
    </tr>
    <% Array(@journals).each do |jh| %>
    <tr class="hover">
        <td><%= jh.ym %></td>
        <td><%= jh.day %></td>
        <td><%= jh.remarks %></td>
        <td class="amount"><%= to_amount(jh.amount) %></td>
        <td><%= link_to '参照', journal_path(jh.id), remote: true %></td>
        <td><%= link_to '関連付け', relate_bs_investments_path(journal_id: jh.id), remote: true %></td>
    </tr>
    <% end %>
</table>
<% end %>
<%= link_to '戻る', bs_investments_path %>
