<%= render 'common/search' %>

<table id="social_insurance_table" class="table table-sm table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th colspan="2"></th>
      <% finder.ym_range.each do |ym| %>
        <th colspan="2" class="text-center"><%= ym %></th>
      <% end %>
      <th colspan="2" class="text-center">賞与１</th>
      <th colspan="2" class="text-center">賞与２</th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <% 12.times do %>
        <th class="text-center">健康保険</th>
        <th class="text-center">厚生年金</th>
      <% end %>
      <% 2.times do %>
        <th class="text-center">健康保険</th>
        <th class="text-center">厚生年金</th>
      <% end %>
    </tr>
  </thead>
  <%
    total_health_insurance_by_ym = finder.ym_range.map{|ym| [ym, 0] }.to_h
    total_welfare_pension_by_ym = finder.ym_range.map{|ym| [ym, 0] }.to_h
    total_health_insurance_by_bonus = {bonus_1: 0, bonus_2: 0}
    total_welfare_pension_by_bonus = {bonus_1: 0, bonus_2: 0}
  %>
  <tbody>
    <% @payrolls_by_employee.each do |employee, payrolls| %>
      <tr>
        <th>会社負担</th>
        <% finder.ym_range.each do |ym| %>
          <% found = false %>
          <% payrolls.each do |p| %>
            <% if p.monthly_pay? and p.ym == ym %>
              <%
                total_health_insurance_by_ym[ym] += p.journaled_health_insurance_company
                total_welfare_pension_by_ym[ym] += p.journaled_welfare_pension_company
              %>
              <td class="text-center"><%= to_amount(p.journaled_health_insurance_company) %></td>
              <td class="text-center"><%= to_amount(p.journaled_welfare_pension_company) %></td>
              <% found = true and break %>
            <% end %>
          <% end %>
          <% unless found %>
            <td class="text-center"></td>
            <td class="text-center"></td>
          <% end %>
        <% end %>
        <% found = false %>
        <% payrolls.each do |p| %>
          <% if p.is_bonus? and p.ym == finder.ym_range[5] %>
            <%
              total_health_insurance_by_bonus[:bonus_1] += p.journaled_health_insurance_company
              total_welfare_pension_by_bonus[:bonus_1] += p.journaled_welfare_pension_company
            %>
            <td class="text-center"><%= to_amount(p.journaled_health_insurance_company) %></td>
            <td class="text-center"><%= to_amount(p.journaled_welfare_pension_company) %></td>
            <% found = true and break %>
          <% end %>
        <% end %>
        <% unless found %>
          <td class="text-center"></td>
          <td class="text-center"></td>
        <% end %>
        <% found = false %>
        <% payrolls.each do |p| %>
          <% if p.is_bonus? and p.ym == finder.ym_range[11] %>
            <%
              total_health_insurance_by_bonus[:bonus_2] += p.journaled_health_insurance_company
              total_welfare_pension_by_bonus[:bonus_2] += p.journaled_welfare_pension_company
            %>
            <td class="text-center"><%= to_amount(p.journaled_health_insurance_company) %></td>
            <td class="text-center"><%= to_amount(p.journaled_welfare_pension_company) %></td>
            <% found = true and break %>
          <% end %>
        <% end %>
        <% unless found %>
          <td class="text-center"></td>
          <td class="text-center"></td>
        <% end %>
      </tr>
      <tr>
        <td rowspan="2" class="nowrap"><%= employee.fullname %></td>
        <td class="nowrap">個人負担</td>
        <% finder.ym_range.each do |ym| %>
          <% found = false %>
          <% payrolls.each do |p| %>
            <% if p.monthly_pay? and p.ym == ym %>
              <%
                total_health_insurance_by_ym[ym] += p.journaled_health_insurance_employee
                total_welfare_pension_by_ym[ym] += p.journaled_welfare_pension_employee
              %>
              <td class="text-center"><%= to_amount(p.journaled_health_insurance_employee) %></td>
              <td class="text-center"><%= to_amount(p.journaled_welfare_pension_employee) %></td>
              <% found = true and break %>
            <% end %>
          <% end %>
          <% unless found %>
            <td class="text-center"></td>
            <td class="text-center"></td>
          <% end %>
        <% end %>
        <% found = false %>
        <% payrolls.each do |p| %>
          <% if p.is_bonus? and p.ym == finder.ym_range[5] %>
            <%
              total_health_insurance_by_bonus[:bonus_1] += p.journaled_health_insurance_employee
              total_welfare_pension_by_bonus[:bonus_1] += p.journaled_welfare_pension_employee
            %>
            <td class="text-center"><%= to_amount(p.journaled_health_insurance_employee) %></td>
            <td class="text-center"><%= to_amount(p.journaled_welfare_pension_employee) %></td>
            <% found = true and break %>
          <% end %>
        <% end %>
        <% unless found %>
          <td class="text-center"></td>
          <td class="text-center"></td>
        <% end %>
        <% found = false %>
        <% payrolls.each do |p| %>
          <% if p.is_bonus? and p.ym == finder.ym_range[11] %>
            <%
              total_health_insurance_by_bonus[:bonus_2] += p.journaled_health_insurance_employee
              total_welfare_pension_by_bonus[:bonus_2] += p.journaled_welfare_pension_employee
            %>
            <td class="text-center"><%= to_amount(p.journaled_health_insurance_employee) %></td>
            <td class="text-center"><%= to_amount(p.journaled_welfare_pension_employee) %></td>
            <% found = true and break %>
          <% end %>
        <% end %>
        <% unless found %>
          <td class="text-center"></td>
          <td class="text-center"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tbody>
  <tfoot>
    <tr>
      <td colspan="2" class="nowrap text-center">小計</td>
      <% finder.ym_range.each do |ym| %>
        <td class="text-center"><%= to_amount(total_health_insurance_by_ym[ym]) %></td>
        <td class="text-center"><%= to_amount(total_welfare_pension_by_ym[ym]) %></td>
      <% end %>
      <td class="text-center"><%= to_amount(total_health_insurance_by_bonus[:bonus_1]) %></td>
      <td class="text-center"><%= to_amount(total_welfare_pension_by_bonus[:bonus_1]) %></td>
      <td class="text-center"><%= to_amount(total_health_insurance_by_bonus[:bonus_2]) %></td>
      <td class="text-center"><%= to_amount(total_welfare_pension_by_bonus[:bonus_2]) %></td>
    </tr>
    <tr>
      <td colspan="2" class="nowrap text-center">児童手当</td>
      <% finder.ym_range.each do |ym| %>
        <td colspan="2" class="text-center"></td>
      <% end %>
    </tr>
    <tr>
      <td colspan="2" class="nowrap text-center">合計</td>
      <% finder.ym_range.each do |ym| %>
        <td colspan="2" class="text-center"></td>
      <% end %>
    </tr>
  </tfoot>
</table>
