<%#
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<tr id="journal_details_<%= jd.detail_no %>">
  <td nowrap>
    <input type="hidden" name="journal_details[<%= jd.detail_no %>][id]" value="<%= jd.id %>"/>
    <input type="hidden" name="journal_details[<%= jd.detail_no %>][detail_no]" value="<%= jd.detail_no %>"/>
    <% unless branch_mode %>
    <input type="hidden" name="journal_details[<%= jd.detail_no %>][branch_id]" value="<%= current_user.employee.default_branch.id %>"/>
    <% end %>

    <%= select_tag("journal_details[" + jd.detail_no.to_s + "][dc_type]", options_for_select( dc_types, jd.dc_type ),
               {:class=>'dcTypeSelect', :onchange=>"calcTotalAmount();"})%>
    <% if branch_mode %>
      <script>
        $('#journal_details_<%= jd.detail_no %>_dc_type').change(function() {
          $.get('<%= url_for :action => 'get_allocation', :detail_no => jd.detail_no %>',
            {
              dc_type: $(this).val(),
              account_id: $('#journal_details_<%= jd.detail_no %>_account_id').val(),
              branch_id: $('#journal_details_<%= jd.detail_no %>_branch_id').val()
            },
            function(html) {
              $('#jd_<%= jd.detail_no %>_allocation').html(html);
          });
        });
      </script>
    <% end %>
  </td>
  <td>
    <%= collection_select_code_and_name("journal_details[" + jd.detail_no.to_s + "]", "account_id", @accounts, "id", "name",
          {:selected=>jd.account_id, :frequencies=>@frequencies}, {:class=>"accountSelect"}) %>
    <script>
      $('#journal_details_<%= jd.detail_no %>_account_id').change(function() {
        $.get('<%= url_for :controller => 'master_data', :action => 'get_sub_accounts' %>',
          {
            format: 'json',
            order: 'code',
            account_id: $(this).val()
          },
          function(data) {
            replace_options('#journal_details_<%= jd.detail_no %>_sub_account_id', data);
          });
          
        $.get('<%= url_for :action => 'update_tax_type' %>',
          {
            format: 'js',
            detail_no: <%= jd.detail_no %>,
            account_id: $(this).val()
          }
        );
        
        $.get('<%= url_for :action => 'get_account_detail', :id => jd.id, :detail_no => jd.detail_no %>',
          {
            account_id: $(this).val()
          },
          function(html) {
            $('#journal_details_<%= jd.detail_no %>_account_detail').html(html);
          });
          
          <% if branch_mode %>
            $.get('<%= url_for :action => 'get_allocation', :detail_no => jd.detail_no %>',
              {
                account_id: $(this).val(),
                branch_id: $('#journal_details_<%= jd.detail_no %>_branch_id').val(),
                dc_type: $('#journal_details_<%= jd.detail_no %>_dc_type').val()
              },
              function(html) {
                $('#jd_<%= jd.detail_no %>_allocation').html(html);
              });
          <% end %>
      });
    </script>
  </td>
  <td>
    <% if jd.account and not jd.account.sub_accounts.empty? %>
        <select id="journal_details_<%= jd.detail_no %>_sub_account_id" name="journal_details[<%= jd.detail_no %>][sub_account_id]" class="subAccountSelect">
          <%= options_for_select( to_options( jd.account.sub_accounts ), jd.sub_account_id ) %>
        </select>
    <% else %>
      <select id="journal_details_<%= jd.detail_no %>_sub_account_id"
              name="journal_details[<%= jd.detail_no %>][sub_account_id]" class="subAccountSelect">
      </select>
      <%= hide_if_no_options("#journal_details_#{jd.detail_no}_sub_account_id") %>
    <% end %>
  </td>
  <% if branch_mode %>
  <td>
    <%= collection_select("journal_details[" + jd.detail_no.to_s + "]", "branch_id", @branches, "id", "name", {:selected=>jd.branch_id}, {:class => 'branchSelect'}) %>
    <script>
      $('#journal_details_<%= jd.detail_no %>_branch_id').change(function() {
        $.get('<%= url_for :action => 'get_allocation' %>',
          {
            detail_no: <%= jd.detail_no %>,
            account_id: $('#journal_details_<%= jd.detail_no %>_account_id').val(),
            branch_id: $(this).val(),
            dc_type: $('#journal_details_<%= jd.detail_no %>_dc_type').val()
          },
          function(html) {
            $('#jd_<%= jd.detail_no %>_allocation').html(html);
          });
      });
    </script>
  </td>
  <% end %>
  <td>
    <input type="text" id="journal_details_<%= jd.detail_no %>_input_amount" class="amountText"
           name="journal_details[<%= jd.detail_no %>][input_amount]"
           value="<%= jd.input_amount.to_i %>" onchange="updateTaxAmount('journal_details_<%= jd.detail_no %>');"/>
  </td>
  <td nowrap>
    <select id="journal_details_<%= jd.detail_no %>_tax_type" name="journal_details[<%= jd.detail_no %>][tax_type]" class="taxTypeSelect"
            onChange="updateTaxAmount('journal_details_<%= jd.detail_no %>');">
      <%= options_for_select( tax_types, jd.tax_type ) %>
    </select>
    <input type="text" id="journal_details_<%= jd.detail_no %>_tax_rate_percent" class="taxRatePercentText"
           name="journal_details[<%= jd.detail_no %>][tax_rate_percent]"
           value="<%= jd.tax_rate_percent unless jd.tax_type_nontaxable? %>" onchange="updateTaxAmount('journal_details_<%= jd.detail_no %>');"/>
    %
  </td>
  <td nowrap>
    <input type="text" id="journal_details_<%= jd.detail_no %>_tax_amount" class="amountText"
           name="journal_details[<%= jd.detail_no %>][tax_amount]"
           value="<%= jd.tax_amount.to_i %>" onchange="calcTotalAmount();"/>
  </td>
  <td class="amount" nowrap>
    <span id="journal_details_<%= jd.detail_no %>_amount_sum"></span>
  </td>
  <td nowrap>
    <a id="journal_details_<%= jd.detail_no %>_link" href="javascript:flipDetail('journal_details_<%= jd.detail_no %>');"><%= message_for_details %></a>
  </td>
  <td nowrap>
    <a href="#" onclick="removeDetail('journal_details_<%= jd.detail_no %>'); calcTotalAmount();">削除</a>
  </td>
</tr>
<tr id="journal_details_<%= jd.detail_no %>_2" style="<%= style_for_details %>">
  <td rowspan="3" align="center">計上日<br/>振替</td>
  <td colspan="2">
    <input type="checkbox"
           id="journal_details_<%= jd.detail_no %>_auto_journal_type"
           name="journal_details[<%= jd.detail_no %>][auto_journal_type]"
           value="<%= HyaccConstants::AUTO_JOURNAL_TYPE_PREPAID_EXPENSE %>"
           <%= jd.auto_journal_type.to_i == HyaccConstants::AUTO_JOURNAL_TYPE_PREPAID_EXPENSE ? 'checked' : '' %>
           onclick="checkAutoJournalType(this);" />
    翌月
  </td>
  
  <% if branch_mode %>
  <td><%= render 'get_allocation', :jd=>jd %></td>
  <% end %>
  
  <td colspan="3">
    <div style="text-align: right; width: 100%;">
      メモ：<input type="text" id="journal_details_<%= jd.detail_no %>_note" name="journal_details[<%= jd.detail_no %>][note]"
           value="<%= jd.note %>" maxlength="255" class="noteText"/>
    </div>
  </td>
  <td></td>
  <td rowspan="3" colspan="2"></td>
</tr>
<tr id="journal_details_<%= jd.detail_no %>_3" style="<%= style_for_details %>">
  <td colspan="2">
    <input type="checkbox"
           id="journal_details_<%= jd.detail_no %>_auto_journal_type"
           name="journal_details[<%= jd.detail_no %>][auto_journal_type]"
           value="<%= HyaccConstants::AUTO_JOURNAL_TYPE_ACCRUED_EXPENSE %>"
           <%= jd.auto_journal_type.to_i == HyaccConstants::AUTO_JOURNAL_TYPE_ACCRUED_EXPENSE ? 'checked' : '' %>
           onclick="checkAutoJournalType(this);" />
    前月
  </td>
  <td rowspan="2" colspan="<%= colspan_of_account_details %>">
    <div id="journal_details_<%= jd.detail_no %>_account_detail" style="margin:5px">
      <%= render_account_details jd.account_id, :locals=>{:jd=>jd} %>
    </div>
  </td>
  <td></td>
</tr>
<tr id="journal_details_<%= jd.detail_no %>_4" style="<%= style_for_details %>">
  <td colspan="2" nowrap>
    <input type="checkbox"
           id="journal_details_<%= jd.detail_no %>_auto_journal_type"
           name="journal_details[<%= jd.detail_no %>][auto_journal_type]"
           value="<%= HyaccConstants::AUTO_JOURNAL_TYPE_DATE_INPUT_EXPENSE %>"
           <%= jd.auto_journal_type.to_i == HyaccConstants::AUTO_JOURNAL_TYPE_DATE_INPUT_EXPENSE ? 'checked' : '' %>
           onclick="checkAutoJournalType(this);" />
    <input type="text" id="journal_details_<%= jd.detail_no %>_auto_journal_year"
           name="journal_details[<%= jd.detail_no %>][auto_journal_year]" value="<%= jd.auto_journal_year %>" size="4" maxlength="4"/>
    年
    <input type="text" id="journal_details_<%= jd.detail_no %>_auto_journal_month"
           name="journal_details[<%= jd.detail_no %>][auto_journal_month]" value="<%= jd.auto_journal_month %>" size="1" maxlength="2"/>
    月
    <input type="text" id="journal_details_<%= jd.detail_no %>_auto_journal_day"
           name="journal_details[<%= jd.detail_no %>][auto_journal_day]" value="<%= jd.auto_journal_day %>" size="1" maxlength="2"/>
    日
  </td>
  <td></td>
</tr>

<%# 消費税を初期化する %>
<%# 非課税の場合は消費税入力欄を非活性にする %>
<script>
  var detailTr = document.getElementById('journal_details_<%= jd.detail_no %>');
  var taxAmountField = document.getElementById( detailTr.id + '_tax_amount' );
  var taxType = document.getElementById( detailTr.id + '_tax_type' ).value;

  if ( taxType == tax.TAX_TYPE_NONTAXABLE ) {
    taxAmountField.value = "";
    taxAmountField.disabled = 'disabled';
  }
</script>
  