<%#
# $Id: _show_detail_line.html.erb 3114 2013-08-07 03:58:38Z ichy $
# Product: hyacc
# Copyright 2009-2013 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<tr id="journal_details_<%= jd.detail_no %>">
  <td><%= jd.dc_type_name %></td>
  <td><%= jd.account.code + ":" + jd.account_name %></td>
  <td><%= jd.sub_account_name %></td>
  <% if branch_mode %>
    <td><%= jd.branch_name %></td>
  <% end %>
  <td class="amount"><%= to_amount(jd.input_amount) %></td>
  <td align="center"><%= jd.tax_type_name %></td>
  <td class="amount"><%= to_amount(jd.tax_amount, :show_zero=>true) %></td>
  <td class="amount"><%= to_amount(jd.tax_type == HyaccConstants::TAX_TYPE_EXCLUSIVE ? jd.input_amount + jd.tax_amount : jd.input_amount ) %></td>
  <td nowrap>
    <a id="journal_details_<%= jd.detail_no %>_link" href="javascript:flipDetail('journal_details_<%= jd.detail_no %>');"><%= message_for_details %></a>
  </td>
</tr>
<tr id="journal_details_<%= jd.detail_no %>_2" style="<%= style_for_details %>">
  <td rowspan="3" align="center">計上日<br/>振替</td>
  <td colspan="2">
    <input type="checkbox"
           id="journal_details_<%= jd.detail_no %>_auto_journal_type"
           name="journal_details[<%= jd.detail_no %>][auto_journal_type]"
           value="<%= HyaccConstants::AUTO_JOURNAL_TYPE_PREPAID_EXPENSE %>"
           <%= jd.auto_journal_type.to_i == HyaccConstants::AUTO_JOURNAL_TYPE_PREPAID_EXPENSE ? 'checked' : '' %>
           onclick="checkAutoJournalType(this);"
           disabled="disabled" />
    翌月の費用
  </td>
  
  <% if branch_mode %>
  <td><%= render 'get_allocation', :jd=>jd %></td>
  <% end %>
  
  <td colspan="3">
    <div style="text-align: right; width: 100%;">
      <%= jd.note %>
    </div>
  </td>
  <td></td>
  <td rowspan="3" colspan="2"></td>
</tr>
<tr id="journal_details_<%= jd.detail_no %>_3" style="<%= style_for_details %>">
  <td colspan="2">
    <input type="checkbox"
           id="journal_details_<%= jd.detail_no %>_auto_journal_type"
           name="journal_details[<%= jd.detail_no %>][auto_journal_type]"
           value="<%= HyaccConstants::AUTO_JOURNAL_TYPE_ACCRUED_EXPENSE %>"
           <%= jd.auto_journal_type.to_i == HyaccConstants::AUTO_JOURNAL_TYPE_ACCRUED_EXPENSE ? 'checked' : '' %>
           onclick="checkAutoJournalType(this);"
           disabled="disabled" />
    前月の費用
  </td>
  <td rowspan="2" colspan="<%= colspan_of_account_details_for_show %>">
    <div id="journal_details_<%= jd.detail_no %>_account_detail" style="margin:5px">
      <%= render_account_details jd.account_id, :locals=>{:jd=>jd} %>
    </div>
  </td>
  <td></td>
</tr>
<tr id="journal_details_<%= jd.detail_no %>_4" style="<%= style_for_details %>">
  <td colspan="2" nowrap>
    <input type="checkbox"
           id="journal_details_<%= jd.detail_no %>_auto_journal_type"
           name="journal_details[<%= jd.detail_no %>][auto_journal_type]"
           value="<%= HyaccConstants::AUTO_JOURNAL_TYPE_DATE_INPUT_EXPENSE %>"
           <%= jd.auto_journal_type.to_i == HyaccConstants::AUTO_JOURNAL_TYPE_DATE_INPUT_EXPENSE ? 'checked' : '' %>
           onclick="checkAutoJournalType(this);"
           disabled="disabled" />
    <input type="text" id="journal_details_<%= jd.detail_no %>_auto_journal_year"
           name="journal_details[<%= jd.detail_no %>][auto_journal_year]" value="<%= jd.auto_journal_year %>" size="4" maxlength="4"/>
    年
    <input type="text" id="journal_details_<%= jd.detail_no %>_auto_journal_month"
           name="journal_details[<%= jd.detail_no %>][auto_journal_month]" value="<%= jd.auto_journal_month %>" size="1" maxlength="2"/>
    月
    
    <input type="text" id="journal_details_<%= jd.detail_no %>_auto_journal_day"
           name="journal_details[<%= jd.detail_no %>][auto_journal_day]" value="<%= jd.auto_journal_day %>" size="1" maxlength="2"/>
    日の費用
  </td>
  <td></td>
</tr>
  