<%= form_with model: [:mm, @bank_account], class: 'new_bank_account', data: {remote: true} do |f| %>
  <%= flash_notice %>

  <script>
    $(document).ready(function() {
      $('#bank_account_bank_id').change(function() {
        bank_accounts.update_bank_offices(this, '#bank_account_bank_office_id');
      });
    });
  </script>

  <table style="margin:5px;">
    <tr>
      <th><%= f.label :bank_id %></th>
      <td><%= f.collection_select :bank_id, current_company.banks, :id, :name, {}, href: bank_offices_path %></td>
    </tr>
    <tr>
      <th><%= f.label :bank_office_id %></th>
      <td>
        <% if f.object.new_record? %>
          <%= f.collection_select :bank_office_id, current_company.banks.first.bank_offices, :id, :name %>
        <% else %>
          <%= f.collection_select :bank_office_id, f.object.bank.bank_offices, :id, :name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :financial_account_type %></th>
      <td><%= f.select :financial_account_type, financial_account_types %></td>
    </tr>
    <tr>
      <th><%= f.label :code %></th>
      <td><%= f.text_field :code, maxlength: 10, size: 8 %></td>
    </tr>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :holder_name %></th>
      <td><%= f.text_field :holder_name %></td>
    </tr>
    <tr>
      <th><%= f.label :for_payroll %></th>
      <td><%= f.check_box :for_payroll %></td>
    </tr>
  </table>
<% end %>
