<%= form_for @bank_account, :remote => true do |f| %>
  <%= flash_notice %>

  <script>
    $(document).ready(function() {
      $('#bank_account_bank_id').change(function() {
        bank_accounts.update_bank_offices(this, '#bank_account_bank_office_id');
      }).change();
    });
  </script>

  <div style="margin:0px 10px 0px 0px; text-align: right;">
    <%= f.submit %>
  </div>

  <table style="margin:5px;">
    <tr>
      <th><%= f.label :bank_id %></th>
      <td><%= f.collection_select :bank_id, @banks, :id, :name, {}, :href => bank_offices_path %></td>
    </tr>
    <tr>
      <th><%= f.label :bank_office_id %></th>
      <td><%= f.select :bank_office_id, [], {}, :style => 'display: none;' %></td>
    </tr>
    <tr>
      <th><%= f.label :financial_account_type %></th>
      <td><%= f.select :financial_account_type, financial_account_types %></td>
    </tr>
    <tr>
      <th><%= f.label :code %></th>
      <td><%= f.text_field :code, :maxlength => 10, :size => 6 %></td>
    </tr>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :holder_name %></th>
      <td><%= f.text_field :holder_name %></td>
    </tr>
  </table>
<% end %>
