<%= flash_notice %>

<%= form_for @bank_account, :remote => true do |f| %>
  <div style="margin:0px 10px 0px 0px; text-align: right;">
    <%= f.submit %>
  </div>

  <table style="margin:5px;">
    <tr>
      <th>金融機関</th>
      <td>
        <%= f.collection_select :bank_id, @banks, :id, :name %>
        <script>
          $(document).ready(function() {
            $('#bank_account_bank_id').change(function() {
              var url = '<%= bank_offices_path(:format => 'json') %>';
              var params = { order: 'code', bank_id: $(this).val() };
              $.get(url, params, function(json) {
                replace_options('#bank_account_bank_office_id', json, true);
              }
            );
            });
          });
        </script>
      </td>
    </tr>
    <tr>
      <th>支店</th>
      <td><%= f.collection_select :bank_office_id, @bank_offices, :id, :name, :include_blank => true %></td>
    </tr>
    <tr>
      <th>区分</th>
      <td><%= f.select :financial_account_type, financial_account_types %></td>
    </tr>
    <tr>
      <th><%= f.label :code %></th>
      <td><%= f.text_field :code, :maxlength => 10, :size => 6 %></td>
    </tr>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :holder_name %></th>
      <td><%= f.text_field :holder_name %></td>
    </tr>
  </table>
<% end %>
