<%#
# $Id: index.html.erb 3256 2014-01-22 15:01:09Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<%= flash_notice %>

<%= form_tag( {}, {:id=>'company_form', :multipart => true} ) do %>
<table>
    <tr>
      <th><%= company_label(@company.type_of) %></th>
      <td><%= @company.name %></td>
      <td></td>
    </tr>
    <% unless @company.type_of_personal %>
    <tr>
      <th>会社の形態</th>
      <td><%= @company.company_type_name %></td>
      <td></td>
    </tr>
    <% end %>
    <tr>
      <th>創立年月日</th>
      <td><%= format_date(@company.founded_date) %></td>
      <td></td>
    </tr>
    <tr>
      <th>ロゴ</th>
      <td id="logo_path">
        <%= image_tag url_for_file_column('company', 'logo_path') if @company.logo_path %>
      </td>
      <td id="logo_path_form">
        <%= link_to '変更', {:action=>'edit_logo_path', :id=>@company}, :remote=>true %>
      </td>
    </tr>
    <% unless current_user.company.type_of_personal %>
    <tr>
      <th>資本金</th>
      <td><%= to_amount( @capital ) %>円</td>
      <td></td>
    </tr>
    <tr>
      <th>年度の開始月</th>
      <td><%= @company.start_month_of_fiscal_year %>月</td>
      <td></td>
    </tr>
    <tr>
      <th>事業区分</th>
      <td id="business_type">
        <%= @company.business_type_name %>
      </td>
      <td id="business_type_form">
        <%= link_to '変更', {:action=>'edit_business_type', :id=>@company}, :remote=>true %>
      </td>
    </tr>
    <% end %>
</table>
<% end %>

<% unless @company.type_of_personal %>
<div style="margin-top: 10px">
  <span style="font-weight: bold;">事業所</span>
  <%= render 'show_business_offices' %>
</div>
<% end %>
