<div id="search">
  <script>
    $(document).on('turbolinks:load', function() {
      const calendar_year = $('select[name="finder\\[calendar_year\\]"]');

      const get_employees = function() {
        const url = '<%= url_for action: 'get_employees' %>';
        const params = {finder: {calendar_year: calendar_year.val()}, format: 'html'};
        $.get(url, params, function(html) {
          $('#search .employees').html(html);
        });
      };

      calendar_year.change(get_employees);
    });
  </script>

  <%= form_tag({action: action_name}, method: 'get', class: 'row') do %>
    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">暦年</div>
        <%= select 'finder', 'calendar_year', calendar_years, {include_blank: true}, class: 'form-select' %>
        <a href='#' onclick='$("#finder_calendar_year").val(""); return false;' class="input-group-text">×</a>
      </div>
    </div>

    <div class="col-auto employees">
      <%= render 'get_employees' %>
    </div>

    <div class="col-auto">
      <%= submit_tag '表示', class: 'btn btn-light' %>
    </div>
  <% end %>
</div>
