<div style="margin: 10px;">
<p style="font-weight: bold;">売掛金（未収入金）の内訳書</p>

<table class="table table-bordered table-hover" style="max-width: 1024px;">
  <tr>
    <th rowspan="2" class="text-center">科目</th>
    <th colspan="2">相手先</th>
    <th rowspan="2" class="text-center">期末現在高</th>
    <th rowspan="2" class="text-center">摘要</th>
  </tr>
  <tr>
    <th>名称（氏名）</th>
    <th>所在地（住所）</th>
  </tr>
  <% @model.details.each_with_index do |d, index| %>
  <tr>
      <td class="text-center">売掛</td>
      <td><%= d.customer_name %></td>
      <td><%= d.address %></td>
      <td class="text-end"><%= to_amount(d.amount) %></td>
      <td class="text-center"><%= d.remarks %></td>
  </tr>
  <% end %>
  <tr style="font-weight: bold;">
      <th class="text-center">計</th>
      <th></th>
      <th></th>
      <th class="text-end"><%= to_amount(@model.total_amount) %></th>
      <th></th>
  </tr>
</table>
</div>
