<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Hyacc <%= HYACC_VERSION %> ログイン</title>
</head>
<body onLoad="document.getElementById('user_login_id').focus();">
  <div style="margin: 10px">
    <p>Hyacc <%= HYACC_VERSION %> [<%= Rails.env %>]</p>
    <p>ログイン</p>
    
    <%= form_tag :action=>'login' do %>
      <p><label for="user_login_id">ID</label><br/>
      <%= text_field 'user', 'login_id' %></p>
    
      <p><label for="user_password">パスワード</label><br/>
      <%= password_field 'user', 'password' %></p>
    
      <%= submit_tag "ログイン" %>
    <% end %>
  </div>
</body>
</html>
