<%
  prefix = "journal[journal_details_attributes[#{index}]]"
%>
<%= fields_for prefix, jd do |f| %>
  <tr data-detail_id="<%= jd.id %>" data-index="<%= index %>" style="<%= 'display: none;' if jd.deleted? %>">
    <td nowrap>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :_destroy, :value => jd.deleted? %>
      <%= f.select :dc_type, options_for_select(dc_types, jd.dc_type), {}, :class => 'dcTypeSelect' %>
    </td>
    <td>
      <%= collection_select_code_and_name(prefix, :account_id, @accounts, :id, :name,
            {:selected => jd.account_id, :frequencies => @frequencies}, {:class=>"accountSelect"}) %>
    </td>
    <td>
      <%= f.collection_select :sub_account_id, jd.account.sub_accounts, :id, :name, {},
            :class => 'subAccountSelect', :style => ('display: none;' unless jd.account.sub_accounts.present?) %>
    </td>
    <td>
      <%= f.collection_select :branch_id, @branches, :id, :name, {}, :class => 'branchSelect' %>
    </td>
    <td class="amount">
      <%= f.text_field :input_amount, :class => 'amountText' %>
    </td>
    <td nowrap>
      <%= f.select :tax_type, tax_types, {}, :class => 'taxTypeSelect' %>
      <%= f.text_field :tax_rate_percent, :class => 'taxRatePercentText' %> %
    </td>
    <td class="amount">
      <%= f.text_field :tax_amount, :class => 'amountText' %>
    </td>
    <td class="amount amount_sum" nowrap></td>
    <td nowrap>
      <a href="#" class="flip_detail_button"><%= message_for_details %></a>
    </td>
    <td nowrap>
      <a href="#" class="delete_detail_button">削除</a>
    </td>
  </tr>
  <tr style="<%= style_for_detail(jd) %>">
    <td rowspan="3" align="center">計上日<br/>振替</td>
    <td colspan="2">
      <label><%= f.check_box :auto_journal_type, {:include_hidden => false}, AUTO_JOURNAL_TYPE_PREPAID_EXPENSE %> 翌月</label>
    </td>

    <td><%= render 'get_allocation', :jd => jd, :index => index %></td>

    <td colspan="3">
      <label>メモ <%= f.text_field :note, :maxlength => 255, :class => 'noteText' %></label>
    </td>
    <td></td>
    <td rowspan="3" colspan="2"></td>
  </tr>
  <tr style="<%= style_for_detail(jd) %>">
    <td colspan="2">
      <label><%= f.check_box :auto_journal_type, {:include_hidden => false}, AUTO_JOURNAL_TYPE_ACCRUED_EXPENSE %> 前月</label>
    </td>
    <td rowspan="2" colspan="3">
      <div id="journal_details_<%= index %>_account_detail" style="margin:5px">
        <%= render_account_details jd.account_id, :jd => jd, :index => index %>
      </div>
    </td>
    <td></td>
  </tr>
  <tr style="<%= style_for_detail(jd) %>">
    <td colspan="2" nowrap>
      <%= f.check_box :auto_journal_type, {:include_hidden => false}, AUTO_JOURNAL_TYPE_DATE_INPUT_EXPENSE %>
      <%= f.text_field :auto_journal_year, :maxlength => 4, :class => 'year' %> 年
      <%= f.text_field :auto_journal_month, :maxlength => 2, :class => 'month' %> 月
      <%= f.text_field :auto_journal_day, :maxlength => 2, :class => 'day' %> 日
    </td>
    <td></td>
  </tr>
<% end %>
