<tr data-detail_id="<%= jd.id %>" data-detail_no="<%= jd.detail_no %>" data-index="<%= index %>">
<%= fields_for "journal_details[#{index}]", jd do |f| %>
  <td nowrap>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :detail_no %>
    <%= f.hidden_field :branch_id, :value => current_user.employee.default_branch.id unless branch_mode %>
    <%= f.select :dc_type, options_for_select(dc_types, jd.dc_type), {}, :class => 'dcTypeSelect' %>
  </td>
  <td>
    <%= collection_select_code_and_name("journal_details[#{index}]", "account_id", @accounts, "id", "name",
          {:selected=>jd.account_id, :frequencies=>@frequencies}, {:class=>"accountSelect"}) %>
  </td>
  <td>
    <% if jd.account and jd.account.sub_accounts.present? %>
      <select name="journal_details[<%= index %>][sub_account_id]" class="subAccountSelect">
        <%= options_for_select( to_options( jd.account.sub_accounts ), jd.sub_account_id ) %>
      </select>
    <% else %>
      <select name="journal_details[<%= index %>][sub_account_id]" class="subAccountSelect">
      </select>
      <%= hide_if_no_options("#journal_details_#{index}_sub_account_id") %>
    <% end %>
  </td>
  <% if branch_mode %>
  <td>
    <%= collection_select("journal_details[#{index}]", "branch_id", @branches, "id", "name", {:selected=>jd.branch_id}, {:class => 'branchSelect'}) %>
  </td>
  <% end %>
  <td class="amount">
    <%= f.text_field :input_amount, :class => 'amountText' %>
  </td>
  <td nowrap>
    <select name="journal_details[<%= index %>][tax_type]" class="taxTypeSelect">
      <%= options_for_select(tax_types, jd.tax_type) %>
    </select>
    <%= f.text_field :tax_rate_percent, :class => 'taxRatePercentText' %> %
  </td>
  <td class="amount">
    <%= f.text_field :tax_amount, :class => 'amountText' %>
  </td>
  <td class="amount amount_sum" nowrap></td>
  <td nowrap>
    <a href="#" onclick="journal.flip_detail(this); return false;"><%= message_for_details %></a>
  </td>
  <td nowrap>
    <a href="#" class="delete_detail_button">削除</a>
  </td>
</tr>
<tr style="<%= style_for_details %>">
  <td rowspan="3" align="center">計上日<br/>振替</td>
  <td colspan="2">
    <%= f.check_box :auto_journal_type, {:include_hidden => false}, AUTO_JOURNAL_TYPE_PREPAID_EXPENSE %> 翌月
  </td>
  
  <% if branch_mode %>
  <td><%= render 'get_allocation', :jd => jd, :index => index %></td>
  <% end %>
  
  <td colspan="3">
    <div style="text-align: right; width: 100%;">
      メモ：<%= f.text_field :note, :maxlength => 255, :class => 'noteText' %>
    </div>
  </td>
  <td></td>
  <td rowspan="3" colspan="2"></td>
</tr>
<tr style="<%= style_for_details %>">
  <td colspan="2">
    <%= f.check_box :auto_journal_type, {:include_hidden => false}, AUTO_JOURNAL_TYPE_ACCRUED_EXPENSE %> 前月
  </td>
  <td rowspan="2" colspan="<%= colspan_of_account_details %>">
    <div id="journal_details_<%= index %>_account_detail" style="margin:5px">
      <%= render_account_details jd.account_id, :locals => {:jd => jd, :index => index} %>
    </div>
  </td>
  <td></td>
</tr>
<tr style="<%= style_for_details %>">
  <td colspan="2" nowrap>
    <%= f.check_box :auto_journal_type, {:include_hidden => false}, AUTO_JOURNAL_TYPE_DATE_INPUT_EXPENSE %>
    <%= f.text_field :auto_journal_year, :size => 4, :maxlength => 4 %> 年
    <%= f.text_field :auto_journal_month, :size => 1, :maxlength => 2 %> 月
    <%= f.text_field :auto_journal_day, :size => 1, :maxlength => 2 %> 日
  </td>
  <td></td>
<% end %>
</tr>
