<%= fields_for "journal[journal_details_attributes[#{index}]]", jd do |f| %>
  <div id="jd_<%= index %>_allocation">
    <% if jd.allocatable? %>
      <strong><%= jd.account.account_type_name %>配賦</strong>

      <% if jd.branch.children.present? %>
        <div>
          <label>
            <%= f.check_box :allocation_type, {include_hidden: false}, ALLOCATION_TYPE_EVEN_BY_CHILDREN %>
            <%= ALLOCATION_TYPES[ALLOCATION_TYPE_EVEN_BY_CHILDREN] %>
          </label>
        </div>
      <% end %>

      <% if jd.branch.siblings.present? %>
        <div>
          <label>
            <%= f.check_box :allocation_type, {include_hidden: false}, ALLOCATION_TYPE_EVEN_BY_SIBLINGS %>
            <%= ALLOCATION_TYPES[ALLOCATION_TYPE_EVEN_BY_SIBLINGS] %>
          </label>
        </div>
      <% end %>

      <div>
        <label>
          <%= f.check_box :allocation_type, {include_hidden: false}, ALLOCATION_TYPE_SHARE_BY_EMPLOYEE %>
          <%= ALLOCATION_TYPES[ALLOCATION_TYPE_SHARE_BY_EMPLOYEE] %>
        </label>
      </div>
    <% end %>
  </div>
<% end %>
