<tr data-detail_id="<%= jd.id %>" data-index="<%= index %>">
  <td><%= jd.dc_type_name %></td>
  <td><%= jd.account.code + ":" + jd.account_name %></td>
  <td><%= jd.sub_account_name %></td>
  <td><%= jd.branch_name %></td>
  <td class="amount"><%= to_amount(jd.input_amount) %></td>
  <td>
    <%= jd.tax_type_name %>
    <%= "#{jd.tax_rate_percent}%" unless jd.tax_type_nontaxable? %>
  </td>
  <td class="amount"><%= to_amount(jd.tax_amount, show_zero: true) %></td>
  <td class="amount"><%= to_amount(jd.tax_type_exclusive? ? jd.input_amount + jd.tax_amount : jd.input_amount ) %></td>
  <td nowrap>
    <a href="#" class="flip_detail_button"><%= message_for_details %></a>
  </td>
</tr>
<tr style="<%= style_for_detail(jd) %>">
  <td rowspan="3" class="text-center">計上日<br/>振替</td>
  <td colspan="2">
    <input type="checkbox" value="<%= HyaccConst::AUTO_JOURNAL_TYPE_PREPAID_EXPENSE %>"
           <%= jd.auto_journal_type == HyaccConst::AUTO_JOURNAL_TYPE_PREPAID_EXPENSE ? 'checked' : '' %> />
    翌月の費用
  </td>

  <td rowspan="3"><%= render 'get_allocation', jd: jd, index: index %></td>

  <td colspan="3">
    <div style="text-align: right; width: 100%;"><%= jd.note %></div>
  </td>
  <td></td>
  <td rowspan="3" colspan="2"></td>
</tr>
<tr style="<%= style_for_detail(jd) %>">
  <td colspan="2">
    <input type="checkbox" value="<%= HyaccConst::AUTO_JOURNAL_TYPE_ACCRUED_EXPENSE %>"
           <%= jd.auto_journal_type == HyaccConst::AUTO_JOURNAL_TYPE_ACCRUED_EXPENSE ? 'checked' : '' %> />
    前月の費用
  </td>
  <td rowspan="2" colspan="3">
    <div id="journal_details_<%= index %>_account_detail" style="margin:5px">
      <%= render_account_details jd.account_id, jd: jd, index: index %>
    </div>
  </td>
  <td></td>
</tr>
<tr style="<%= style_for_detail(jd) %>">
  <td colspan="2" nowrap>
    <input type="checkbox" value="<%= HyaccConst::AUTO_JOURNAL_TYPE_DATE_INPUT_EXPENSE %>"
           <%= jd.auto_journal_type == HyaccConst::AUTO_JOURNAL_TYPE_DATE_INPUT_EXPENSE ? 'checked' : '' %> />
    <%= jd.auto_journal_year || '----' %> 年
    <%= jd.auto_journal_month || '--' %> 月
    <%= jd.auto_journal_day || '--' %> 日の費用
  </td>
  <td></td>
</tr>
