<%#
# $Id: _form.html.erb 3323 2014-01-29 03:44:48Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<%= form_tag({:action=>'update', :id=>@asset}, :id => 'asset_form', :remote => true) do %>
  <div style="margin:0px 10px 0px 0px; text-align: right;">
    <input type="hidden" name="update_type"/>
  
    <span style="margin-left: 5px;">
      <%= submit_tag '更新' %>
    </span>
    <% if @asset.status_created? %>
      <span style="margin-left: 5px;">
        <%= submit_tag '償却待に設定' %>
      </span>
    <% elsif @asset.status_waiting? %>
      <span style="margin-left: 5px;">
        <%= submit_tag '償却待を解除' %>
      </span>
    <% end %>
    
    <% if @asset.status_waiting? or @asset.status_depreciating? %>
      <span style="margin-left: 5px;">
        <%= submit_tag '償却実行', :onclick => "if ( confirm('#{current_user.company.current_fiscal_year_int}年度分を償却します。よろしいですか？')) {return true;} return false;" %>
      </span>
    <% end %>
  </div>
  
  <%= flash_notice %>
  
  <table>
    <tr>
      <th>資産コード</td>
      <th colspan="2">資産名</th>
      <th>取得価額</th>
      <th>勘定科目</th>
      <th>補助科目</th>
      <% if branch_mode %><th>計上部門</th><% end %>
    </tr>
    <tr>
      <td align="center">
        <%= hidden_field 'asset', 'lock_version' %>
        <%= @asset.code %>
      </td>
      <td colspan="2"><%= text_field 'asset', 'name', :class=>'nameText' %></td>
      <td class="amount"><%= to_amount(@asset.amount) %></td>
      <td><%= @asset.account.name %></td>
      <td><%= @asset.sub_account.name if @asset.sub_account %></td>
      <% if branch_mode %><td><%= @asset.branch.name %></td><% end %>
    </tr>
    <tr>
      <th>取得年月日</th>
      <th>償却方法</th>
      <th>耐用年数</th>
      <th>償却限度額</th>
      <th colspan="3">摘要</th>
    </tr>
    <tr>
      <td><%= render_ymd(@asset) %></td>
      <td>
        <% if @asset.status_created? %>
          <%= select 'asset', 'depreciation_method', depreciation_methods, :class=>'depreciationMethodSelect' %>
        <% else %>
          <%= @asset.depreciation_method_name %>
        <% end %>
      </td>
      <td><%= text_field 'asset', 'durable_years', :maxlength=>2, :class=>'durableYearsText', :disabled=>!@asset.status_created? %></td>
      <td><%= text_field 'asset', 'depreciation_limit', :class=>'amountText', :disabled=>!@asset.status_created? %></td>
      <td colspan="<%= colspan_of_asset_remarks %>"><%= text_field 'asset', 'remarks', :size=>60, :maxlength=>250, :class=>'remarksText' %></td>
    </tr>
  </table>
  
  <% if @asset.status_created? %>
    <script>
      function updateDurableYears(depreciationMethod){
        var durableYears = jQuery('#asset_durable_years');
        if (depreciationMethod == DEPRECIATION_METHOD_LUMP) {
          durableYears.attr('disabled', true);
          durableYears.val('');
        }
        else {
          durableYears.attr('disabled', false);
        }
      }
    
      var depreciationMethod = jQuery('#asset_depreciation_method');
      updateDurableYears(depreciationMethod.val());
      depreciationMethod.change(function(){
        updateDurableYears(jQuery(this).val());
      });
    </script>
  <% end %>
  
  <%= render 'show_depreciations' %>
<% end %>
  
