<%= flash_notice %>

<table class="table table-sm">
  <tbody>
    <tr>
      <th style="width: 10em;"><%= DonationRecipient.human_attribute_name :kind %></th>
      <td><%= donation_recipient_kind_label(@donation_recipient.kind) %></td>
    </tr>
    <tr>
      <th><%= DonationRecipient.human_attribute_name :name %></th>
      <td><%= @donation_recipient.name %></td>
    </tr>

    <% # 指定(100): 告示番号・使途 %>
    <% if @donation_recipient.kind == HyaccConst::SUB_ACCOUNT_CODE_DONATION_DESIGNATED %>
      <tr>
        <th><%= DonationRecipient.human_attribute_name :announcement_number %></th>
        <td><%= @donation_recipient.announcement_number %></td>
      </tr>
      <tr>
        <th><%= DonationRecipient.human_attribute_name :purpose %></th>
        <td><%= @donation_recipient.purpose %></td>
      </tr>
    <% end %>

    <% # 特定公益増進(300): 所在地・使途又は名称 %>
    <% if @donation_recipient.kind == HyaccConst::SUB_ACCOUNT_CODE_DONATION_PUBLIC_INTEREST %>
      <tr>
        <th><%= DonationRecipient.human_attribute_name :address %></th>
        <td><%= @donation_recipient.address %></td>
      </tr>
      <tr>
        <th><%= DonationRecipient.human_attribute_name :purpose_or_name %></th>
        <td><%= @donation_recipient.purpose_or_name %></td>
      </tr>
    <% end %>

    <% # 認定外(600): 所在地・特定公益信託の名称 %>
    <% if @donation_recipient.kind == HyaccConst::SUB_ACCOUNT_CODE_DONATION_NON_CERTIFIED_TRUST %>
      <tr>
        <th><%= DonationRecipient.human_attribute_name :address %></th>
        <td><%= @donation_recipient.address %></td>
      </tr>
      <tr>
        <th><%= DonationRecipient.human_attribute_name :trust_name %></th>
        <td><%= @donation_recipient.trust_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
