<div style="margin: 10px;">
  <%= form_tag( {:action=>'index'}, {:method=>'get'} ) do %>
    <div>
      年度：<%= select('finder', 'fiscal_year', fiscal_years) %>
      
      部門：<%= select('finder', 'branch_id', to_options( @branches ), :class=>'branchSelect', :include_blank => true ) %>
      
      <%= submit_tag "表示", :id=>'search_button' %>
    </div>
    <div>
      <label><%= check_box('finder', 'include_has_tax') %> 消費税を含む伝票も表示</label>
    </div>
    <div>
      <label><%= check_box('finder', 'include_nontaxable') %> 非課税のみの伝票も表示</label>
    </div>
    <div>
      <label><%= check_box('finder', 'include_checked') %> 確認済みの伝票も表示</label>
    </div>
  <% end %>
</div>