<div style="margin: 10px;">
  <%= form_tag({action: 'index'}, method: 'get', class: 'row align-items-center') do %>
    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">年度</div>
        <%= select('finder', 'fiscal_year', fiscal_years, {}, class: 'form-select') %>
      </div>
    </div>
    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">部門</div>
        <%= select('finder', 'branch_id', to_options(@branches), {include_blank: true}, class: 'form-select branchSelect') %>
      </div>
    </div>
    <div class="col-auto">
      <%= submit_tag '表示', id: 'search_button', class: 'btn btn-light' %>
    </div>

    <div class="col-12 mt-2">
      <div class="form-check">
        <%= check_box('finder', 'include_has_tax', class: 'form-check-input') %>
        <label class="form-check-label" for="finder_include_has_tax">消費税を含む伝票も表示</label>
      </div>
      <div class="form-check">
        <%= check_box('finder', 'include_nontaxable', class: 'form-check-input') %>
        <label class="form-check-label" for="finder_include_nontaxable">非課税のみの伝票も表示</label>
      </div>
      <div class="form-check">
        <%= check_box('finder', 'include_checked', class: 'form-check-input') %>
        <label class="form-check-label" for="finder_include_checked">確認済みの伝票も表示</label>
      </div>
    </div>
  <% end %>
</div>