<%= render 'search' %>
<%= flash_notice %>

<% if @pd %>
  <div class="m-4">
    <table id="payroll_header_table" align="center">
      <thead>
        <tr>
          <th><%= justify('氏名') %></th>
          <th><%= justify('雇入年月日') %></th>
          <th><%= justify('所属') %></th>
          <th><%= justify('職名') %></th>
          <th><%= justify('標準報酬') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><%= @employee.fullname %></td>
          <td class="center"><%= @employee.employment_date.strftime("%Y 年 %m 月 %d 日") %>　雇入</td>
          <td></td>
          <td><%= @employee.position %></td>
          <td class="text-center"><%= to_amount(@monthly_standard) %> 円</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <table id="payroll_table" align="center" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th colspan="2">賃金計算期間</th>
        <% @finder.get_ym_range.each do |ym| %>
          <th>
            <% if @pd[ym].new_record? %>
              <%= link_to ym, {action: :new, ym: ym, employee_id: @finder.employee_id}, remote: true %>
            <% else %>
              <%= link_to ym, edit_hr_payroll_path(@pd[ym]), remote: true %>
            <% end %>
          </th>
        <% end %>
        <th>
          <% if @pd['b1'].new_record? %>
            <%= link_to '賞与１', {action: 'new_bonus', ym: @finder.get_ym_range[5], employee_id: @finder.employee_id}, remote: true %>
          <% else %>
            <%= link_to '賞与１', edit_bonus_hr_payroll_path(@pd['b1']), remote: true %>
          <% end %>
        </th>
        <th>
          <% if @pd['b2'].new_record? %>
            <%= link_to '賞与２', {action: 'new_bonus', ym: @finder.get_ym_range[11], employee_id: @finder.employee_id}, remote: true %>
          <% else %>
            <%= link_to '賞与２', edit_bonus_hr_payroll_path(@pd['b2']), remote: true %>
          <% end %>
        </th>
        <th>合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">労働日数</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="center"><%= @pd[ym].days_of_work %>日</td>
        <% end %>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">労働時間数</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="text-center"><%= @pd[ym].hours_of_work %>H</td>
        <% end %>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">休日労働時間数</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="text-center"><%= @pd[ym].hours_of_day_off_work %>H</td>
        <% end %>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">早出残業時間数</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="text-center"><%= @pd[ym].hours_of_early_work %>H</td>
        <% end %>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">深夜労働時間数</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="center"><%= @pd[ym].hours_of_late_night_work %>H</td>
        <% end %>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">基本給</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="center"><%= to_amount(@pd[ym].base_salary) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].base_salary) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].base_salary) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].base_salary) %></td>
      </tr>
      <tr>
        <td colspan="2">所定時間外割増賃金</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="text-center"><%= to_amount(@pd[ym].extra_pay) %></td>
        <% end %>
        <td></td>
        <td></td>
        <td class="text-center"><%= to_amount(@pd[:sum].extra_pay) %></td>
      </tr>
      <tr>
        <td rowspan="4" class="vertical-writing">手<br>当</td>
        <td>通勤手当</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="text-center"><%= to_amount(@pd[ym].commuting_allowance) %></td>
        <% end %>
        <td><%= to_amount(@pd["b1"].commuting_allowance) %></td>
        <td><%= to_amount(@pd["b2"].commuting_allowance) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].commuting_allowance) %></td>
      </tr>
      <tr>
        <td>住宅手当</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="center"><%= to_amount(@pd[ym].housing_allowance) %></td>
        <% end %>
        <td><%= to_amount(@pd["b1"].housing_allowance) %></td>
        <td><%= to_amount(@pd["b2"].housing_allowance) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].housing_allowance) %></td>
      </tr>
      <tr>
        <td>資格手当</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="text-center"><%= to_amount(@pd[ym].qualification_allowance) %></td>
        <% end %>
        <td><%= to_amount(@pd["b1"].qualification_allowance) %></td>
        <td><%= to_amount(@pd["b2"].qualification_allowance) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].qualification_allowance) %></td>
      </tr>
      <tr>
        <td>時間外手当</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td></td>
        <% end %>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">小計</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="center"><%= to_amount(@pd[ym].salary_subtotal) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].salary_subtotal) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].salary_subtotal) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].salary_subtotal) %></td>
      </tr>
      <tr>
        <td colspan="2">臨時の給与</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].temporary_salary) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].temporary_salary) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].temporary_salary) %></td>
      </tr>
      <tr>
        <td colspan="2">合計</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="center"><%= to_amount(@pd[ym].salary_total) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].salary_total) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].salary_total) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].salary_total) %></td>
      </tr>
      <tr>
        <td rowspan="7" class="vertical-writing">控<br>除<br>額</td>
        <td>健康保険料</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="text-center"><%= to_amount(@pd[ym].health_insurance) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].health_insurance) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].health_insurance) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].health_insurance) %></td>
      </tr>
      <tr>
        <td>厚生年金保険料</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="text-center"><%= to_amount(@pd[ym].welfare_pension) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].welfare_pension) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].welfare_pension) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].welfare_pension) %></td>
      </tr>
      <tr>
        <td>雇用保険料</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="text-center"><%= to_amount(@pd[ym].employment_insurance) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].employment_insurance) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].employment_insurance) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].employment_insurance) %></td>
      </tr>
      <tr>
        <td>保険料合計</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="text-center"><%= to_amount(@pd[ym].insurance_total) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].insurance_total) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].insurance_total) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].insurance_total) %></td>
      </tr>
      <tr>
        <td></td>
        <% @finder.get_ym_range.each do |ym| %>
          <td></td>
        <% end %>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>所得税</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="text-center"><%= to_amount(@pd[ym].income_tax) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].income_tax) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].income_tax) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].income_tax) %></td>
      </tr>
      <tr>
        <td><%= Payroll.human_attribute_name :inhabitant_tax %></td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="text-center"><%= to_amount(@pd[ym].inhabitant_tax) %></td>
        <% end %>
        <td></td>
        <td></td>
        <td class="text-center"><%= to_amount(@pd[:sum].inhabitant_tax) %></td>
      </tr>
      <tr>
        <td colspan="2">保険料控除後の所得</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="text-center"><%= to_amount(@pd[ym].after_insurance_deduction) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].after_insurance_deduction) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].after_insurance_deduction) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].after_insurance_deduction) %></td>
      </tr>
      <tr>
        <td colspan="2">差引支給額</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="text-center"><%= to_amount(@pd[ym].after_deduction) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].after_deduction) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].after_deduction) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].after_deduction) %></td>
      </tr>
      <tr>
        <td colspan="2">還付金</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="text-center"><%= to_amount(@pd[ym].annual_adjustment) %></td>
        <% end %>
        <td></td>
        <td></td>
        <td class="text-center"><%= to_amount(@pd[:sum].annual_adjustment) %></td>
      </tr>
      <tr>
        <td colspan="2">経費精算</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="text-center"><%= to_amount(@pd[ym].accrued_liability) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].accrued_liability) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].accrued_liability) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].accrued_liability) %></td>
      </tr>
      <tr>
        <td colspan="2">その他調整額</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="text-center" title="<%= @pd[ym].misc_adjustment_note %>"><%= to_amount(@pd[ym].misc_adjustment) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].misc_adjustment) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].misc_adjustment) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].misc_adjustment) %></td>
      </tr>
      <tr>
        <td colspan="2">差引合計額</td>
        <% @finder.get_ym_range.each do |ym| %>
          <td class="text-center"><%= to_amount(@pd[ym].pay_total) %></td>
        <% end %>
        <td class="text-center"><%= to_amount(@pd["b1"].pay_total) %></td>
        <td class="text-center"><%= to_amount(@pd["b2"].pay_total) %></td>
        <td class="text-center"><%= to_amount(@pd[:sum].pay_total) %></td>
      </tr>
      <tr>
        <td colspan="2">支給日</td>
        <% @finder.get_ym_range.each do |ym| %>
        <td class="text-center">
          <% if @pd[ym].persisted? and @pd[ym].pay_journal %>
            <%= link_to @pd[ym].pay_day.strftime('%m月%d日'), journal_path(@pd[ym].pay_journal.id), remote: true %>
          <% end %>
        </td>
        <% end %>
        <td class="text-center">
          <% if @pd["b1"].persisted? %>
            <%= link_to @pd["b1"].pay_day.strftime('%m月%d日'), journal_path(@pd["b1"].pay_journal.id), remote: true %>
          <% end %>
        </td>
        <td class="text-center">
          <% if @pd["b2"].persisted? %>
            <%= link_to @pd["b2"].pay_day.strftime('%m月%d日'), journal_path(@pd["b2"].pay_journal.id), remote: true %>
          <% end %>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% end %>
