<%#
# $Id: _list.html.erb 2899 2012-08-31 02:38:30Z ichy $
# Product: hyacc
# Copyright 2009-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<table>
  <tr>
    <th colspan='4'>金融機関営業店</th>
  </tr>
  <tr>
    <th><%= BankOffice.label :code %></th>
    <th><%= BankOffice.label :name %></th>
    <th><%= BankOffice.label :deleted %></th>
  </tr>

  <% bank_offices.each_with_index do |bo, i| %>
    <%= render 'bank_offices/line', :bank_office => bo, :index => i %>
  <% end %>
  
  <%= render 'bank_offices/add', :index => bank_offices.length %>
</table>

