<%#
#
# $Id: edit.html.erb 2501 2011-04-06 11:45:36Z ichy $
# Product: hyacc
# Copyright 2009-2011 by Hybitz.co.ltd
# ALL Rights Reserved.
#
%>
<h1>Editing bank_office</h1>

<%= form_for(@bank_office) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :bank_id %><br />
    <%= f.text_field :bank_id %>
  </p>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bank_office %> |
<%= link_to 'Back', bank_offices_path %>