<%= flash_notice %>

<%= form_for [:mm, @c], :remote => true do |f| %>
  <div style="margin:0px 10px 5px 0px; text-align: right;">
    <%= f.submit %>
  </div>
  <table>
    <tr>
      <th>従業員</th><td><%= f.collection_select :employee_id, finder.employees, 'id', 'fullname' %></td>
    </tr>
    <tr>
      <th>暦年</th><td><%= f.select :yyyy, calendar_years %></td>
    </tr>
    <tr>
      <th>小規模共済掛金</th><td><%= f.text_field :small_scale_mutual_aid %></td>
    </tr>
    <tr>
      <th>生命保険料</th><td><%= f.text_field :life_insurance_premium %></td>
    </tr>
    <tr>
      <th>地震保険料</th><td><%= f.text_field :earthquake_insurance_premium %></td>
    </tr>
    <tr>
      <th>配偶者特別控除</th><td><%= f.text_field :special_tax_for_spouse %></td>
    </tr>
    <tr>
      <th>配偶者控除</th><td><%= f.text_field :spouse %></td>
    </tr>
    <tr>
      <th>扶養控除</th><td><%= f.text_field :dependents %></td>
    </tr>
    <tr>
      <th>障害者控除</th><td><%= f.text_field :disabled_persons %></td>
    </tr>
    <tr>
      <th>基礎控除</th><td><%= f.text_field :basic, :value => 380000 %></td>
    </tr>
  </table>
<% end %>
