<%= render 'common/search' %>
<%= flash_notice %>

<% if @exemptions.present? %>
  <table class="exemptions">
    <tr>
      <th>暦年</th>
      <th>氏名</th>
      <th>小規模共済掛金</th>
      <th>生命保険料</th>
      <th>地震保険料</th>
      <th>配偶者特別控除</th>
      <th>配偶者控除</th>
      <th>扶養控除</th>
      <th>障害者控除</th>
      <th>基礎控除</th>
      <th colspan="2"></th>
    </tr>
    
    <% @exemptions.each do |c| %>
      <tr class="hover">
        <td><%= c.yyyy %></td>
        <td><%= c.employee.fullname %></td>
        <td><%= c.small_scale_mutual_aid %></td>
        <td><%= c.life_insurance_premium_old %></td>
        <td><%= c.earthquake_insurance_premium %></td>
        <td><%= c.special_tax_for_spouse %></td>
        <td><%= c.spouse %></td>
        <td><%= c.dependents %></td>
        <td><%= c.disabled_persons %></td>
        <td><%= c.basic %></td>
        <td><%= link_to '編集', edit_mm_exemption_path(c), :remote => true %></td>
        <td><%= link_to '削除', mm_exemption_path(c), data: {confirm: '削除します。よろしいですか？'}, :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @exemptions %>
  <%= link_to '追加', {:action => 'new', :exemption => {:employee_id => finder.employee_id, :calendar_year => @finder.calendar_year}}, :class => 'add', :remote => true %>
<% elsif @exemptions %>
  <div>該当するデータが見つかりませんでした。</div>
<% end %>