<%= render 'common/search' %>
<%= flash_notice %>

<% if @exemptions.present? %>
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">暦年</th>
        <th>氏名</th>
        <th class="text-center">基礎控除</th>
        <th class="text-center">生命保険料</th>
        <th class="text-center">地震保険料</th>
        <th class="text-center">社会保険料</th>
        <th class="text-center">小規模共済掛金</th>
        <th class="text-center">配偶者特別控除</th>
        <th class="text-center">配偶者控除</th>
        <th class="text-center">扶養控除</th>
        <th class="text-center">住宅借入金控除</th>
        <th class="text-center">その他</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @exemptions.each do |e| %>
        <tr>
          <td class="text-center"><%= e.yyyy %></td>
          <td><%= e.employee.fullname %></td>
          <td class="text-center"><%= to_amount(e.basic) %></td>
          <td class="text-center"><%= to_amount(e.life_insurance_premium) %></td>
          <td class="text-center"><%= to_amount(e.earthquake_insurance_premium) %></td>
          <td class="text-center"><%= to_amount(e.social_insurance_selfpay) %></td>
          <td class="text-center"><%= to_amount(e.small_scale_mutual_aid) %></td>
          <td class="text-center"><%= to_amount(e.special_tax_for_spouse) %></td>
          <td class="text-center"><%= e.spouse %></td>
          <td class="text-center"><%= e.dependents %></td>
          <td class="text-center"><%= to_amount(e.max_mortgage_deduction) %></td>
          <td class="text-center">
            <span title="定額減税"><%= to_amount(e.fixed_tax_deduction_amount) if e.yyyy == 2024 %></span>
          </td>
          <td class="text-center">
            <% unless FiscalYear.find_by(company_id: e.company_id, fiscal_year: e.yyyy).closed? %>
              <%= link_to '編集', edit_mm_exemption_path(e), class: 'btn btn-sm btn-light', remote: true %>
              <%= link_to '削除', mm_exemption_path(e), data: {confirm: "#{e.yyyy}年度の #{e.employee.fullname} の所得税控除情報を削除します。\nよろしいですか？"}, class: 'btn btn-sm btn-light', method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @exemptions %>
  <%= link_to '追加', {action: 'new', exemption: {employee_id: finder.employee_id, yyyy: @finder.calendar_year}}, class: 'add', remote: true %>
<% elsif @exemptions %>
  <div>該当するデータが見つかりませんでした。</div>
<% end %>