<% account = @sum[account_code][:account] %>

<%# 非表示の科目はスキップする %>
<% return unless is_visible_on_bs( account, @finder.branch_id ) %>

<% if account.is_leaf_on_settlement_report %>
  <tr id="<%= account.code %>">
    <% (account.node_level - 1).times{ |n| %>
      <td width="20">&nbsp;</td>
    <% } %>
    
    <td colspan="<%= colspan( account.node_level ) %>">
      <%= account.name %>
    </td>

    <% @sum[account_code][:ym].each do |ym| %>
    <td id="<%= account.code %>_<%= ym[:ym] %>_amount" align="right">
      <%= link_to_if account.journalizable,
          to_amount( ym[:amount], :show_zero=>true ),
          { :controller=>:ledger,
            :action=>:list,
            :finder=>{
              :fiscal_year=>@finder.fiscal_year,
              :account_id=>account.id,
              :branch_id=>@finder.branch_id,
            },
           :ym=>ym[:ym]
          },
          { :style=>'text-decoration: none;' }
      %>
    </td>
    <% end %>
  </tr>
<% else %>
  <tr>
    <% (account.node_level - 1).times{ |n| %>
      <td width="20">&nbsp;</td>
    <% } %>

    <td colspan="<%= colspan( account.node_level ) %>" style="font-weight: bold;">
      <%= account.name %>
    </td>
    <% @finder.get_ym_range.each do |ym| %>
    <td></td>
    <% end %>
  </tr>

  <%# 子科目を再帰的に表示 %>
  <% account.children.each do |a| %>
    <%= render 'line_bs_monthly', :account_code=>a.code %>
  <% end %>

  <%# 合計行を表示する %>
  <tr id="<%= account.code %>" style="font-weight: bold;">
    <% (account.node_level - 1).times{ |n| %>
      <td width="20">&nbsp;</td>
    <% } %>
    
    <td colspan="<%= colspan( account.node_level ) %>"><%= account.name %>合計</td>
    <% @finder.get_ym_range.each do |ym| %>
    <td id="<%= account.code %>_<%= ym %>_amount" align="right">0</td>
    <% end %>
  </tr>

  <%# 合計金額を集計 %>
  <% @finder.get_ym_range.each do |ym| %>
    <% account.children.each do |a| %>
      <script>
          add('<%= account.code %>_<%= ym %>_amount', '<%= a.code %>_<%= ym %>_amount', '<%= account.code %>_<%= ym %>_amount');
      </script>
    <% end %>
  <% end %>
<% end %>
  