<div class="header px-2">
  <% if current_company.logo.present? %>
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag show_logo_mm_company_path(current_company, :version => 'icon') %>
      <% end %>
    </div>
  <% else %>
    <div class="mx-1" style="float: left;">
      <%= link_to current_company.name, root_path %>
    </div>
    <div class="mx-1" style="float: left;">
      |
    </div>
  <% end %>
  <div class="mx-1" style="float: left;">
    <%= current_company.current_fiscal_year_int %> 年度
    （第 <%= current_company.current_fiscal_year.fiscal_period %> 期
    : <%= to_wareki(current_company.current_fiscal_year.start_day) %>～<%= to_wareki(current_company.current_fiscal_year.end_day) %>）
  </div>
  <div class="mx-1 text-end">
    <%= link_to "#{current_user.employee.fullname} さん", edit_profile_path(current_user) %>
      |
      所属部門：<%= current_user.employee.default_branch_name %>
      |
    <%= link_to 'ログアウト', destroy_session_path(current_user), method: 'delete' %>
  </div>
</div>
