<div class="header">
  <% if current_company.logo.present? %>
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag show_logo_mm_company_path(current_company, :version => 'icon') %>
      <% end %>
    </div>
    <div style="float: left; vertical-align: top;">
      <%= current_company.current_fiscal_year_int %>年度
    </div>
  <% else %>
    <div style="float: left; margin-left: 10px;">
      <%= link_to current_company.name, root_path %>
      |
      <%= current_company.current_fiscal_year_int %>年度
    </div>
  <% end %>
  <div style="float: left; margin-left: 0px;">
    （<%= format_wareki_year_month(current_company.current_fiscal_year.start_year_month) %>～<%= format_wareki_year_month(current_company.current_fiscal_year.end_year_month) %>）
  </div>
  <div style="text-align: right;">
    <nobr>
        <%= link_to "#{current_user.employee.last_name} #{current_user.employee.first_name} さん", edit_profile_path(current_user) %>
        |
        <% if branch_mode %>
          所属部門：<%= current_user.employee.default_branch_name %>
          |
        <% end %>
        <%= link_to 'ログアウト', destroy_session_path(current_user), :method => 'delete' %>
    </nobr>
  </div>
</div>
