<%
  # 仕訳管理機能一覧
  journal_admin_controllers = [
    {:name => '/journal_admin', :title => '伝票管理'},
    {:name => '/debts', :title => '仮負債精算'},
    {:name => '/account_transfers', :title => '科目振替'},
    {:name => '/social_expenses', :title => '交際費管理'},
    {:name => '/taxes', :title => '消費税管理'}
  ]

  # 締め処理機能一覧 
  closing_controllers = [
    {:name=>'/closing', :title=>'締め処理'},
    {:name=>'/deemed_taxes', :title=>'みなし消費税'},
    {:name=>'/houseworks', :title=>'家事按分'},
    {:name=>'/fiscal_years', :title=>'会計年度'},
  ]

  # 帳票出力機能一覧 
  report_controllers = [
    {:name => '/report', :title => '帳票出力'},
    {:name => '/career_statements',:title => '業務経歴書'},
    {:name => '/financial_statements', :title => '決算書'},
    {:name => '/financial_return_statements', :title => '確定申告'},
    {:name => '/withholding_slip', :title => '源泉徴収'},
  ]

  # マスタメンテ機能一覧 
  mm_controllers = [
    {:name => '/mm', :title => 'マスタメンテ'},
    {:name => '/mm/companies', :title => '会社'},
    {:name => '/mm/branches', :title => '部門'},
    {:name => '/mm/employees', :title => '従業員'},
    {:name => '/users', :title => 'ユーザ'},
    {:name => '/careers', :title => '業務経歴'},
    {:name => '/mm/bank_accounts', :title => '金融口座'},
    {:name => '/mm/banks', :title => '金融機関'},
    {:name => '/customers', :title => '取引先'},
    {:name => '/mm/accounts', :title => '勘定科目'},
    {:name => '/mm/rents', :title => '地代家賃'},
    {:name => '/inhabitant_taxes', :title => '住民税（特別徴収税）'},
    {:name => '/exemptions', :title => '所得税控除'},
    {:name => '/simple_slip_templates', :title => '簡易入力テンプレート'},
  ]

  # マスタビューア機能一覧 
  mv_controllers = [
    {:name =>'/mv', :title => 'マスタビューア'},
    {:name => '/mv/depreciation_rates', :title=>'減価償却率'},
    {:name =>'/mv/social_insurances', :title => '社会保険料'},
    {:name =>'/mv/withheld_taxes', :title => '源泉徴収税'},
  ]
%>

<div class="menu">
  <%= render 'common/simple_slip_menu' %>
  
  <%= link_to '振替伝票', journals_path(purified_params), :style => style_for_menu('/journals') %>
  |
  <%= link_to '伝票管理', journal_admin_path(purified_params), :style => style_for_menu(journal_admin_controllers) %>
  |
  <%= link_to_if true, '有価証券', investments_path(purified_params), :style => style_for_menu('/investments') %>
  |

  <% if available?('payrolls') %>
    <%= link_to '賃金台帳', payrolls_path(purified_params), :style => style_for_menu('/payrolls') %>
    |
  <% end %>

  <%= link_to '資産管理', bs_assets_path(purified_params), :style => style_for_menu('/bs/assets') %>
  |
  <%= link_to '締め処理', closing_path(purified_params), :style => style_for_menu(closing_controllers) %>
  |
  <%= link_to '元帳', ledgers_path(purified_params), :style => style_for_menu('/ledgers') %>
  |
  <%= link_to '帳票出力', report_path(purified_params), :style => style_for_menu(report_controllers) %>
  |
  <%= link_to 'マスタメンテ', mm_path(purified_params), :style => style_for_menu(mm_controllers) %>
  |
  <%= link_to 'マスタビューア', mv_path(purified_params), :style => style_for_menu(mv_controllers) %>
</div>

<%= render 'common/sub_menu', :controllers => journal_admin_controllers %>
<%= render 'common/sub_menu', :controllers => closing_controllers %>
<%= render 'common/sub_menu', :controllers => report_controllers %>
<%= render 'common/sub_menu', :controllers => mm_controllers %>
<%= render 'common/sub_menu', :controllers => mv_controllers %>

