<%
  # 資産管理機能一覧
  bs_controllers = %w{
    bs
    bs/assets
    bs/investments
  }

  # 仕訳管理機能一覧
  journal_admin_controllers = %w{
    journal_admin
    debts
    social_expenses
    taxes
  }

  # 締め処理機能一覧 
  closing_controllers = %w{
    closing
    deemed_taxes
    fiscal_years
  }

  # 帳票出力機能一覧 
  report_controllers = %w{
    report
    career_statements
    financial_statements
    financial_return_statements
    consumption_tax_statements
    report/withholding_slip
    report/employment_insurances
    report/ledgers
  }

  # マスタメンテ機能一覧 
  mm_controllers = %w{
    mm
    mm/companies
    mm/branches
    mm/employees
    mm/users
    careers
    mm/bank_accounts
    mm/banks
    mm/customers
    mm/accounts
    mm/rents
    mm/inhabitant_taxes
    mm/exemptions
    mm/simple_slip_templates
  }

%>

<div class="menu">
  <%= render 'common/simple_slip_menu' %>
  
  <%= link_to '振替伝票', journals_path(purified_params), class: style_for_menu('journals') %>
  |
  <%= link_to '伝票管理', journal_admin_path(purified_params), class: style_for_menu(journal_admin_controllers) %>
  |

  <% if available?('payrolls') %>
    <%= link_to '賃金台帳', payrolls_path(purified_params), :class => style_for_menu('payrolls') %>
    |
  <% end %>

  <%= link_to '資産管理', bs_path(purified_params), :class => style_for_menu(bs_controllers) %>
  |
  <%= link_to '締め処理', closing_path(purified_params), :class => style_for_menu(closing_controllers) %>
  |
  <%= link_to '元帳', ledgers_path(purified_params), :class => style_for_menu('ledgers') %>
  |
  <%= link_to '帳票出力', report_path(purified_params), :class => style_for_menu(report_controllers) %>
  |
  <%= link_to 'マスタメンテ', mm_path(purified_params), :class => style_for_menu(mm_controllers) %>
  |
  <%= link_to 'TaxJP', tax_jp_path(purified_params), target: '_blank' %>
</div>

<%= render 'common/sub_menu', controllers: journal_admin_controllers %>
<%= render 'common/sub_menu', controllers: closing_controllers %>
<%= render 'common/sub_menu', controllers: report_controllers %>
<%= render 'common/sub_menu', controllers: bs_controllers %>
<%= render 'common/sub_menu', controllers: mm_controllers %>

