<div id="search" style="margin: 15px;">
  <%= form_tag({:action => action_name}, :method => 'get') do %>
    <% if @ym_list %>
      年度：<%= select('finder', 'fiscal_year', @ym_list ) %>
    <% end %>
    
    <% if @cy_list %>
      暦年：<%= select('finder', 'calendar_year', @cy_list ) %>
    <% end %>
    
    <% if @prefectures %>
      都道府県：<%= select('finder', 'prefecture_id', to_options(@prefectures) ) %>
    <% end %>

    <% if @business_offices %>
      事業所：<%= select('finder', 'business_office_id', to_options(@business_offices) ) %>
    <% end %>

    <% if branch_mode and @branches %>
      部門：<%= select('finder', 'branch_id', to_options( @branches ), :class=>'branchSelect', :include_blank=>true ) %>
    <% end %>
      
    <% if @accounts %>
      勘定科目：
      <%= collection_select_code_and_name("finder", "account_id", @accounts, "id", "name", :include_blank => true) %>
      <script>
        $(document).ready(function() {
          $('#finder_account_id').change(function() {
            var params = {
              account_id: $(this).val(),
              order: 'code'
            };
            $.get('<%= sub_accounts_path(:format => 'json') %>', params, function(json) {
                  reloadSubAccounts(json);
                }
            );
          });
        });
      </script>
  
      <% if @sub_accounts %>
        <span id="finder_sub_account_id_title" style="display: <%= @sub_accounts.empty? ? 'none' : '' %>;">補助科目：</span>
        <%= collection_select("finder", "sub_account_id", @sub_accounts, "id", "name",
              {
              :include_blank=>true
              },
              {
              :style=>'display: ' + (@sub_accounts.empty? ? 'none' : '') + ';'
              }
            ) %>

        <script>
          function reloadSubAccounts(data){
            replace_options('#finder_sub_account_id', data, true);
            var subAccount = $('#finder_sub_account_id');
            if (subAccount != null) {
              $('#finder_sub_account_id_title').css('display', subAccount.css('display'));
            }
          }
        </script>
      <% end %>
    <% end %>
    
    <% if @deleted_types %>
      状態：<%= select('finder', 'deleted', @deleted_types, :include_blank => true) %>
    <% end %>

    <% if @finder.respond_to?(:disable_types) %>
      状態：<%= select('finder', 'disabled', @finder.disable_types, :include_blank => true) %>
    <% end %>

    <% if @finder.employee_id_enabled? and @employees %>
      従業員：<%= collection_select('finder', 'employee_id', @employees, 'id', 'full_name', :include_blank => true) %>
    <% end %>
    
    <% if @report_types %>
      帳票様式：<%= collection_select("finder", "report_type", @report_types, "value", "name") %>
    <% end %>
     
    <% if @report_styles %>
      <%= select('finder', 'report_style', @report_styles ) %>
    <% end %>

    <%= submit_tag "表示" %>
  <% end %>
  
</div>