<div id="search" class="search">
  <%= form_tag({action: action_name}, method: 'get', class: 'row') do %>
    <% if @finder.respond_to?(:fiscal_year) %>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">年度</div>
            <% if @finder.respond_to?(:fiscal_years) %>
              <%= select 'finder', 'fiscal_year', finder.fiscal_years, {}, class: 'form-select' %>
            <% else %>
              <%= select 'finder', 'fiscal_year', fiscal_years, {}, class: 'form-select' %>
            <% end %>
        </div>
      </div>
    <% end %>

    <% if @finder.respond_to?(:calendar_year) %>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">暦年</div>
          <%= select 'finder', 'calendar_year', calendar_years, {include_blank: true}, class: 'form-select' %>
          <a href='#' onclick='$("#finder_calendar_year").val(""); return false;' class="input-group-text">×</a>
        </div>
      </div>
    <% end %>
    
    <% if @prefectures %>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">都道府県</div>
          <%= select 'finder', 'prefecture_code', to_options(@prefectures), {}, class: 'form-select' %>
        </div>
      </div>
    <% end %>

    <% if @business_offices %>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">事業所</div>
          <%= select 'finder', 'business_office_id', to_options(@business_offices), {}, class: 'form-control' %>
        </div>
      </div>
    <% end %>

    <% if @branches %>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">部門</div>
          <%= select 'finder', 'branch_id', to_options( @branches ), {include_blank: true}, class: 'form-select' %>
          <a href='#' onclick='$("#finder_branch_id").val(""); return false;' class="input-group-text">×</a>
        </div>
      </div>
    <% end %>
      
    <% if @accounts %>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">勘定科目</div>
          <%= collection_select_code_and_name "finder", "account_id", @accounts, "id", "name", {include_blank: true}, class: 'form-select' %>
          <script>
            $(document).ready(function() {
              $('#finder_account_id').change(function() {
                var params = {
                  account_id: $(this).val(),
                  order: 'code'
                };
                $.get('<%= sub_accounts_path(:format => 'json') %>', params, function(json) {
                  reloadSubAccounts(json);
                });
              });
            });
          </script>
          <a href='#' onclick='$("#finder_account_id").val(""); return false;' class="input-group-text">×</a>
        </div>
      </div>
      
      <% if @sub_accounts %>
      <div class="col-auto">
        <div class="input-group">
          <div id="finder_sub_account_id_title" class="input-group-text" style="display: <%= @sub_accounts.empty? ? 'none' : '' %>;">補助科目</div>
          <%= collection_select "finder", "sub_account_id", @sub_accounts, "id", "name", {include_blank: true}, class: 'form-select', style: "display: #{@sub_accounts.empty? ? 'none' : ''};" %>
 
           <script>
             function reloadSubAccounts(data){
               replace_options('#finder_sub_account_id', data, true);
               var subAccount = $('#finder_sub_account_id');
               if (subAccount != null) {
                 $('#finder_sub_account_id_title').css('display', subAccount.css('display'));
               }
             }
           </script>
        </div>
      </div>
      <% end %>
    <% end %>
    
    <% if @finder.respond_to?(:disabled_types) %>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">状態</div>
          <%= select('finder', 'disabled', @finder.disabled_types, {include_blank: true}, class: 'form-select') %>
        </div>
      </div>
    <% end %>

    <% if @finder.respond_to?(:employee_id_enabled?) and @finder.employee_id_enabled? and @employees %>
      従業員：<%= collection_select('finder', 'employee_id', @employees, 'id', 'fullname', include_blank: true) %>
    <% elsif @finder.respond_to?(:employees) %>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">従業員</div>
          <%= collection_select('finder', 'employee_id', @finder.employees, 'id', 'fullname', {include_blank: true}, class: 'form-select') %>
          <a href='#' onclick='$("#finder_employee_id").val(""); return false;' class="input-group-text">×</a>
        </div>
      </div>
    <% end %>
    
    <% if @report_types %>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">帳票様式</div>
          <%= collection_select "finder", "report_type", @report_types, "value", "name", {}, class: 'form-select' %>
        </div>
      </div>
    <% elsif @finder.respond_to?(:report_type) %>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">帳票様式</div>
          <%= collection_select 'finder', 'report_type', @finder.report_types, 'value', 'name', {}, class: 'form-select' %>
        </div>
      </div>
    <% end %>
     
    <% if @report_styles %>
      <div class="col-auto">
        <%= select 'finder', 'report_style', @report_styles, {}, class: 'form-select' %>
      </div>
    <% end %>

    <% if @bank_accounts %>
      証券口座：<%= select('finder', 'bank_account_id', to_options(@bank_accounts) ) %>
    <% end %>

    <div class="col-auto">
      <%= submit_tag '表示', class: 'btn btn-light' %>
    </div>
  <% end %>
  
</div>