<%= flash_notice %>

<div style="margin: 5px;">
  <%= form_with url: {action: 'update_current_fiscal_year'}, data: {remote: true} do %>
    <%= hidden_field_tag :company_id, @c.id %>
    <%= hidden_field :c, :lock_version %>
          会計年度を
    <%= collection_select(:c, :fiscal_year, @c.fiscal_years.reverse, :fiscal_year, :fiscal_year) %>
          年度に  
    <%= submit_tag '変更', class: 'btn btn-light' %>
  <% end %>
</div>