<%= form_for @fiscal_year, :remote => true do |f| %>
  <%= flash_notice %>
  <%= f.hidden_field :company_id %>

  <table style="margin:5px;">
    <tr>
      <th>会計年度</th>
      <th>締め状態</th>
      <th>消費税</th>
      <th>消費税申告</th>
    </tr>
    <tr>
      <td align="center">
        <%= @fiscal_year.fiscal_year %>
        <%= f.hidden_field :fiscal_year %>
      </td>
      <td align="center"><%= f.select :closing_status, closing_status %></td>
      <td align="center"><%= f.select :tax_management_type, tax_management_types %></td>
      <td align="center"><%= f.select :consumption_entry_type, consumption_entry_types, :include_blank => true %></td>
    </tr>  
  </table>
<% end %>
