<%= form_with model: @fiscal_year, data: {remote: true} do |f| %>
  <%= flash_notice %>
  <%= f.hidden_field :fiscal_year if f.object.new_record? %>

  <h4><%= @fiscal_year.fiscal_year %>年度</h4>
  <table class="table table-hover">
    <hhead>
      <tr>
        <th>締め状態</th>
        <th>消費税</th>
        <th>消費税申告</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= f.select :closing_status, closing_status, {}, class: 'form-select' %></td>
        <td class="text-center"><%= f.select :tax_management_type, tax_management_types, {}, class: 'form-select' %></td>
        <td class="text-center"><%= f.select :consumption_entry_type, consumption_entry_types, {include_blank: true}, class: 'form-select' %></td>
      </tr>
    </tbody>
  </table>
  
  <h5>年末調整</h5>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th><%= f.label :annual_adjustment_account_id %></th>
        <td><%= collection_select_code_and_name :fiscal_year, :annual_adjustment_account_id, @accounts || [], :id, :name, {include_blank: true}, class: 'form-select' %></td>
      </tr>
    </tbody>
  </table>

  <h5>確定申告</h5>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th>減価償却超過額の当期認容額</th>
        <td><%= f.text_field :accepted_amount_of_excess_depreciation, class: 'form-control text-end' %></td> 
      </tr>
      <tr>
        <th>事業税認定損</th>
        <td><%= f.text_field :approved_loss_amount_of_business_tax, class: 'form-control text-end' %></td> 
      </tr>
    </tbody>
  </table>
<% end %>
