<%= flash_notice %>

<div style="margin:10px;">
  現在の会計年度は<b><%= current_company.current_fiscal_year.fiscal_year %>年度</b>です。
  （会計年度を<%= link_to '変更', {action: :edit_current_fiscal_year}, remote: true %>）
</div>

<div class="col-md-6">
  <table class="table table-striped table-hover fiscal_years">
    <thead>
      <tr>
        <th>会計年度</th>
        <th>期間</th>
        <th>消費税</th>
        <th>消費税申告</th>
        <th>締め状態</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @fiscal_years.each do |fy| %>
        <tr>
          <td><%= fy.fiscal_year %></td>
          <td><%= fy.start_year_month %> ～ <%= fy.end_year_month %></td>
          <td><%= fy.tax_management_type_name %></td>
          <td><%= fy.consumption_entry_type_name %></td>
          <td><%= fy.closing_status_name %></td>
          <td><%= link_to '編集', edit_fiscal_year_path(fy), remote: true %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" class="right"><%= link_to '翌年度を追加', new_fiscal_year_path, remote: true, class: 'btn btn-light' %></td>
      </tr>
    </tfoot>
  </table>
</div>
