<%= render 'common/search' %>
<%= flash_notice %>

<table class="rents">
  <tr>
    <th>地代/家賃</th>
    <th>表示名</th>
    <th>用途</th>
    <th>契約開始日</th>
    <th>契約終了日</th>
    <th>郵便番号</th>
    <th>所在地</th>
    <th>貸主の名称</th>
    <th>状態</th>
    <th colspan="2"></th>
  </tr>

  <% @rents.each do |r| %>
    <tr id="rent_show_<%= r.id %>" class="hover">
      <td><%= HyaccConstants::RENT_TYPES[ r.rent_type ] %></td>
      <td><%= r.name %></td>
      <td><%= HyaccConstants::RENT_USAGE_TYPES[ r.usage_type ] %></td>
      <td><%= r.ymd_start %></td>
      <td><%= r.ymd_end %></td>
      <td><%= r.zip_code %></td>
      <td><%= r.address %></td>
      <td><%= r.customer.formal_name %></td>
      <td><%= HyaccConstants::RENT_STATUS_TYPES[ r.status ] %></td>
      <td><%= link_to '編集', edit_mm_rent_path(r), :remote => true %></td>
      <td><%= link_to '削除', [:mm, r], data: {confirm: '削除しますか？'}, :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @rents %>
<%= link_to '追加', new_mm_rent_path, :class => 'add', :remote => true %>
