<%= fields_for "employee[branch_employees_attributes]", be, :index => index do |f| %>
  <tr>
    <td>
      <%= f.hidden_field :id %>
      <%= f.select :branch_id, to_options(current_company.branches) %>
    </td>
    <td class="center"><%= f.check_box :default_branch %></td>
    <td><%= f.check_box :deleted %></td>
  </tr>
<% end %>
