<%= fields_for "employee[employee_histories_attributes]", eh, :index => index do |f| %>
  <tr>
    <td align="center">
      <%= f.hidden_field :id %>
      <%= f.number_field :num_of_dependent, :maxlength=>2, :style=>'width: 3em; text-align: center' %>人
    </td>
    <td><%= f.date_select :start_date %></td>
    <td><%= f.check_box :_destroy %></td>
  </tr>
<% end %>
