<%= fields_for @e do |f| %>
  <table class="table table-sm mb-0">
    <tr>
      <th><%= f.label :employment_date %></th>
      <td>
        <div class="d-inline-flex flex-wrap align-items-center gap-1">
          <%= f.date_select :employment_date, {}, { class: 'form-control form-control-sm w-auto' } %>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :retirement_date %></th>
      <td>
        <div class="d-inline-flex flex-wrap align-items-center gap-1">
          <%= f.date_select :retirement_date, { include_blank: true }, { class: 'form-control form-control-sm w-auto' } %>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :executive %></th>
      <td>
        <div class="form-check">
          <%= f.check_box :executive, class: 'form-check-input' %>
          <label class="form-check-label" for="<%= f.field_id(:executive) %>"><%= Employee.human_attribute_name :executive_true %></label>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :position %></th>
      <td><%= f.text_field :position, class: 'form-control form-control-sm' %></td>
    </tr>
    <tr>
      <th><%= f.label :full_time %></th>
      <td>
        <%= f.select :full_time, [['常勤', 'true'], ['非常勤', 'false']], { include_blank: true }, class: 'form-control form-control-sm w-auto d-inline-block' %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :duty_description %></th>
      <td><%= f.text_field :duty_description, class: 'form-control form-control-sm' %></td>
    </tr>
    <tr>
      <th><%= f.label :representative_or_family_type %></th>
      <td>
        <%= f.select :representative_or_family_type, representative_or_family_types, { include_blank: true } %>
      </td>
    </tr>
    <tr>
      <th class="nowrap"><%= f.label :relationship_to_representative %></th>
      <td><%= f.text_field :relationship_to_representative, class: 'form-control form-control-sm' %></td>
    </tr>
  </table>
<% end %>
