<%= form_with model: [:mm, @e] do |f| %>
  <%= flash_notice %>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <table class="table">
          <tr>
            <th class="nowrap"><%= f.label :last_name %><%= f.label :first_name %></th>
            <td class="input-group"><%= f.text_field :last_name, class: 'form-control' %><%= f.text_field :first_name, class: 'form-control' %></td>
          </tr>
          <tr>
            <th class="nowrap"><%= f.label :name_kana %></th>
            <td class="input-group"><%= f.text_field :last_name_kana, class: 'form-control' %><%= f.text_field :first_name_kana, class: 'form-control' %></td>
          </tr>
          <tr>
            <th><%= f.label :sex %></th>
            <td><%= f.select :sex, sex_types, {}, class: 'form-control', style: 'width: 5em;' %></td>
          </tr>
          <tr>
            <th><%= f.label :birth %></th>
            <td><%= f.date_select :birth, start_year: Time.now.year - 65, end_year: Time.now.year - 18, default: 30.years.ago, include_blank: true %></td>
          </tr>
          <tr>
            <th><%= f.label :zip_code %></th>
            <td><%= f.nostalgic_text_field :zip_code, class: 'zip_code' %></td>
          </tr>
          <tr>
            <th><%= f.label :address %></th>
            <td><%= f.nostalgic_text_field :address, class: 'address' %></td>
          </tr>
          <tr>
            <th class="nowrap"><%= f.label :my_number %></th>
            <td><%= f.text_field :my_number, class: 'my_number' %></td>
          </tr>
          <tr>
            <th><%= f.label :num_of_dependent %></th>
            <td><%= f.nostalgic_text_field :num_of_dependent %></td>
          </tr>
        </table>
        <%= render 'employee_bank_account' %>
      </div>
      <div class="col-md-4">
        <%= render 'evaluation' %>
        <%= render 'branch_employees' %>
      </div>
    </div>
  </div>
<% end %>
