<%#
# $Id: _menu.html.erb 3192 2014-01-21 14:17:19Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<!DOCTYPE html>
<html>
<head>
  <%= render_meta %>
  <%= render_title %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render_header :only => ['index'] %>
  <%= render_menu :only => ['index'] %>
  <div style="margin:10px;">
    <%= yield %>
  </div>
</body>
</html>
