<!DOCTYPE html>
<html>
<head>
  <%= render_meta %>
  <%= render_title %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'common/common_js' %>
  <%= render_header :only => 'index' %>
  <%= render_menu :only => 'index' %>

  <div class="main">
    <% if content_for? :main %>
      <%= content_for :main %>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</body>
</html>
