<!DOCTYPE html>
<html>
  <head>
    <%= render_meta %>
    <%= render_title %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application-print', media: 'print', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      I18n.defaultLocale = '<%= I18n.default_locale %>';
      I18n.locale = '<%= I18n.locale %>';

      $(document).on('page:fetch', function() {
        $('body').css('cursor', 'wait');
      });
      $(document).on('page:load page:restore', function() {
        $('body').css('cursor', 'default');
      });
    </script>
  </head>

  <body>
    <% if content_for? :body %>
      <%= content_for :body %>
    <% else %>
      <%= render 'common/common_js' %>
      <% if user_signed_in? %>
        <%= render_header %>
        <%= render_menu %>
      <% end %>

      <div class="main">
        <% if content_for? :main %>
          <%= content_for :main %>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
