<%#
# $Id: career_statement.html.erb 3192 2014-01-21 14:17:19Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<!DOCTYPE html>
<html>
<head>
  <%= render_meta %>
  <%= render_title %>
  <%= stylesheet_link_tag 'application', :media=>'all' %>
  <%= stylesheet_link_tag 'application-print', :media=>'print' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render_header %>
  <%= render_menu %>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
