<%#
# $Id: simple_slip.html.erb 3298 2014-01-24 15:36:58Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<!DOCTYPE html>
<html>
<head>
  <%= render_meta %>
  <title><%= @account.name %>：<%= action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'yui' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'common/jquery_config' %>
  <%= render 'common/common_js' %>
  <%= render 'common/journal_js' %>
  <%= csrf_meta_tag %>
</head>
<body class="yui-skin-sam">
  <%= render_header :only => ['index', 'create', 'sub_accounts_required'] %>
  <%= render_menu :only => ['index', 'create', 'sub_accounts_required'] %>
  <%= yield %>
</body>
</html>
