<!DOCTYPE html>
<html>
<head>
  <%= render_meta %>
  <title><%= @account.name %>：<%= action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'common/journal_js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'common/common_js' %>
  <%= render_header :only => ['index', 'create', 'sub_accounts_required'] %>
  <%= render_menu :only => ['index', 'create', 'sub_accounts_required'] %>
  <%= yield %>
</body>
</html>
