<%#
# $Id: social_expense.html.erb 3141 2013-08-18 05:44:58Z ichy $
# Product: hyacc
# Copyright 2009-2013 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<!DOCTYPE html>
<html>
<head>
  <%= render_meta %>
  <title>交際費管理: <%= controller.action_name %></title>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'yui/yahoo/yahoo-min.js' %>
  <%= javascript_include_tag 'yui/event/event-min.js' %>
  <%= javascript_include_tag 'yui/connection/connection-min.js' %>
  <%= javascript_include_tag 'yui/yahoo-dom-event/yahoo-dom-event.js' %>
  <%= javascript_include_tag 'yui/element/element-min.js' %>
  <%= javascript_include_tag 'yui/datasource/datasource-min.js' %>
  <%= javascript_include_tag 'yui/datatable/datatable-min.js' %>
  <%= javascript_include_tag 'yui/button/button-min.js' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag '../assets/yui/datatable/assets/skins/sam/datatable.css' %>
</head>
<body class="yui-skin-sam">

<%= render_header %>
<%= render_menu %>
<%= yield %>

</body>
</html>
